/* 모든 페이지에 공통으로 들어가는 기본 스타일 */
body {
    font-family: "CookieRun-Regular", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /* 행간 - 배수 */
    color: #3d3d3d;
    word-break: keep-all; /* 스페이스기준 단어별로 줄바꿈 */
    word-wrap: break-word;
    /* 단어가 너무 긴 경우 강제로 줄바꿈을 주는 방법 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* text - X , box - 가운데 */
}
#wrap {
    position: relative; /* header 정렬의 기준 */
    overflow-x: hidden; /* 가로스크롤 삭제 */
    width: 100%;
}
@media screen and (max-width:1300px) {/* %일 경우 1260 * 0.05 = 63 + 63 = 126 + 1260 = 1386 */
    .wrapper {
        width: auto;
        margin: 0 20px;                /* px일 경우 20 +20 = 40 + 1260 = 1300 */
    }
}
@media screen and (max-width:768px) {
            /* 브라우저 넓이가 640px 이하에서만 작동 */
            body {                    
                font-size: 16px;                    
            }
}

/* 글자를 숨겨야하는 경우 blind 클래스를 적용 */
.blind {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}

/* 글자를 드래그 했을때 나타나는 스타일 
::selection {
    color: #C1C4A9;
    background-color: #333C29;
  }
*/