/* 웹폰트를 선언 */
@font-face {
    font-family: "CookieRun-Regular";
	font-style: normal;
    font-weight: 400;
    src: url('../font/CookieRun\ Regular.ttf') format('woff');
}
@font-face {
    font-family: "CookieRun-Bold";
	font-style: normal;
    font-weight: 700;
    src: url('../font/CookieRun\ Bold.ttf') format('woff');
}
