@import url(default.css);
@import url(font.css);
@import url(common.css);

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /* 맨위 */
    width: 100%;
}
.skip_nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #FF7887;
    color: #fff;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus {
    top: 0;
}

body {
    background-color: #fff; /* 블랜딩 모드 때문 */
}

header {
    position: fixed; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /* logo, gnb, util을 좌우로 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header .logo a {
    display: block;
    width: 180px;
    height: 40px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/******** header에 fixed 클래스가 추가 되었을때 ***********/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

@media screen and (min-width:1025px) {
    /* pc버전에서만 적용되는 header 스타일 */
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 100px; /* header 높이만큼 */
        font-size: 23px;
        font-weight: 700;
        padding: 0 33px;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
        display: block;
        padding-right: 0 24px;
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        content: "";
        position: absolute;
        right: -21px;
        top: 48px;
        width: 15px;
        height: 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.9995 8.93328C7.82172 8.93328 7.65505 8.90551 7.4995 8.84995C7.34394 8.79439 7.1995 8.69995 7.06616 8.56662L0.932828 2.43328C0.688384 2.18884 0.560606 1.88328 0.549495 1.51662C0.538384 1.14995 0.666161 0.833284 0.932828 0.566617C1.17727 0.322173 1.48838 0.199951 1.86616 0.199951C2.24394 0.199951 2.55505 0.322173 2.79949 0.566617L7.9995 5.73328L13.1995 0.566617C13.4439 0.322173 13.7495 0.194395 14.1162 0.183284C14.4828 0.172173 14.7995 0.299951 15.0662 0.566617C15.3106 0.811062 15.4328 1.12217 15.4328 1.49995C15.4328 1.87773 15.3106 2.18884 15.0662 2.43328L8.93283 8.56662C8.7995 8.69995 8.65505 8.79439 8.4995 8.84995C8.34394 8.90551 8.17727 8.93328 7.9995 8.93328Z' fill='white'/%3E%3C/svg%3E ");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /* 2차메뉴 */
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* ul 길이의 절반을 왼쪽으로 이동 */
        top: 81px;
        background-color: #FF7887;
        color: #fff;   
        padding: 0 22px;
        border-radius: 30px;     
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        white-space: nowrap; /* 줄바꿈 금지 */
        padding: 15px 23px 14px 23px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        /* 속성선택자 <a targer="_blank"> 라는 속성이 a태그만 선택함 */
        display: block;
        padding-right: 20px;
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
        content: "";
        position: absolute;
        right: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_3988' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_3988)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H9.16667C9.40278 2.5 9.60069 2.57986 9.76042 2.73958C9.92014 2.89931 10 3.09722 10 3.33333C10 3.56944 9.92014 3.76736 9.76042 3.92708C9.60069 4.08681 9.40278 4.16667 9.16667 4.16667H4.16667V15.8333H15.8333V10.8333C15.8333 10.5972 15.9132 10.3993 16.0729 10.2396C16.2326 10.0799 16.4306 10 16.6667 10C16.9028 10 17.1007 10.0799 17.2604 10.2396C17.4201 10.3993 17.5 10.5972 17.5 10.8333V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM15.8333 5.33333L8.66667 12.5C8.51389 12.6528 8.31944 12.7292 8.08333 12.7292C7.84722 12.7292 7.65278 12.6528 7.5 12.5C7.34722 12.3472 7.27083 12.1528 7.27083 11.9167C7.27083 11.6806 7.34722 11.4861 7.5 11.3333L14.6667 4.16667H12.5C12.2639 4.16667 12.066 4.08681 11.9062 3.92708C11.7465 3.76736 11.6667 3.56944 11.6667 3.33333C11.6667 3.09722 11.7465 2.89931 11.9062 2.73958C12.066 2.57986 12.2639 2.5 12.5 2.5H16.6667C16.9028 2.5 17.1007 2.57986 17.2604 2.73958C17.4201 2.89931 17.5 3.09722 17.5 3.33333V7.5C17.5 7.73611 17.4201 7.93403 17.2604 8.09375C17.1007 8.25347 16.9028 8.33333 16.6667 8.33333C16.4306 8.33333 16.2326 8.25347 16.0729 8.09375C15.9132 7.93403 15.8333 7.73611 15.8333 7.5V5.33333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    header .util .search .search_open {
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_3962' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_3962)'%3E%3Cpath d='M13.4583 22.6667C10.8847 22.6667 8.7066 21.7753 6.92396 19.9927C5.14132 18.2101 4.25 16.0319 4.25 13.4583C4.25 10.8847 5.14132 8.7066 6.92396 6.92396C8.7066 5.14132 10.8847 4.25 13.4583 4.25C16.0319 4.25 18.2101 5.14132 19.9927 6.92396C21.7753 8.7066 22.6667 10.8847 22.6667 13.4583C22.6667 14.4972 22.5014 15.4771 22.1708 16.3979C21.8403 17.3188 21.3917 18.1333 20.825 18.8417L28.7583 26.775C29.0181 27.0347 29.1479 27.3653 29.1479 27.7667C29.1479 28.1681 29.0181 28.4986 28.7583 28.7583C28.4986 29.0181 28.1681 29.1479 27.7667 29.1479C27.3653 29.1479 27.0347 29.0181 26.775 28.7583L18.8417 20.825C18.1333 21.3917 17.3188 21.8403 16.3979 22.1708C15.4771 22.5014 14.4972 22.6667 13.4583 22.6667ZM13.4583 19.8333C15.2292 19.8333 16.7344 19.2135 17.974 17.974C19.2135 16.7344 19.8333 15.2292 19.8333 13.4583C19.8333 11.6875 19.2135 10.1823 17.974 8.94271C16.7344 7.70313 15.2292 7.08333 13.4583 7.08333C11.6875 7.08333 10.1823 7.70313 8.94271 8.94271C7.70313 10.1823 7.08333 11.6875 7.08333 13.4583C7.08333 15.2292 7.70313 16.7344 8.94271 17.974C10.1823 19.2135 11.6875 19.8333 13.4583 19.8333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        background-position: center center;
        background-repeat: no-repeat;
    }
            
    /******** header에 fixed 클래스가 추가 되었을때 ***********/
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.9995 8.93328C7.82172 8.93328 7.65505 8.90551 7.4995 8.84995C7.34394 8.79439 7.1995 8.69995 7.06616 8.56662L0.932828 2.43328C0.688384 2.18884 0.560606 1.88328 0.549495 1.51662C0.538384 1.14995 0.666161 0.833284 0.932828 0.566617C1.17727 0.322173 1.48838 0.199951 1.86616 0.199951C2.24394 0.199951 2.55505 0.322173 2.79949 0.566617L7.9995 5.73328L13.1995 0.566617C13.4439 0.322173 13.7495 0.194395 14.1162 0.183284C14.4828 0.172173 14.7995 0.299951 15.0662 0.566617C15.3106 0.811062 15.4328 1.12217 15.4328 1.49995C15.4328 1.87773 15.3106 2.18884 15.0662 2.43328L8.93283 8.56662C8.7995 8.69995 8.65505 8.79439 8.4995 8.84995C8.34394 8.90551 8.17727 8.93328 7.9995 8.93328Z' fill='%233D3D3D'/%3E%3C/svg%3E ");
    }

    /******** 메뉴에 마우스를 오버했을때 **********/
    header .gnb .gnb_wrap ul.depth1 > li.over > a {                
        color: #FF7887;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_3976' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='32' height='32'%3E%3Crect x='32' y='32' width='32' height='32' transform='rotate(-180 32 32)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_3976)'%3E%3Cpath d='M16.0005 12.0667C16.1783 12.0667 16.3449 12.0945 16.5005 12.15C16.6561 12.2056 16.8005 12.3 16.9338 12.4334L23.0672 18.5667C23.3116 18.8112 23.4394 19.1167 23.4505 19.4834C23.4616 19.85 23.3338 20.1667 23.0672 20.4334C22.8227 20.6778 22.5116 20.8 22.1338 20.8C21.7561 20.8 21.4449 20.6778 21.2005 20.4334L16.0005 15.2667L10.8005 20.4334C10.5561 20.6778 10.2505 20.8056 9.88384 20.8167C9.51717 20.8278 9.20051 20.7 8.93384 20.4334C8.68939 20.1889 8.56717 19.8778 8.56717 19.5C8.56717 19.1223 8.68939 18.8112 8.93384 18.5667L15.0672 12.4334C15.2005 12.3 15.3449 12.2056 15.5005 12.15C15.6561 12.0945 15.8227 12.0667 16.0005 12.0667Z' fill='%23FF7887'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: flex; /* li를 좌우로 배치 */
    }
}/*@media*/
@media screen and (min-width:1025px) and (max-width:1280px) { /* 1280~1025까지만 적용 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 15px;
        font-size: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 15px 10px 14px 10px;
    }
}/*@media*/
@media screen and (max-width:1024px) { /* 모바일 1024이하 */
        header {
            height: 56px;
            padding: 0 0 0 20px;
        }
        header .logo a {
            width: 120x;
            height: 25px;
        }
        header .gnb .gnb_open {
            display: block;
            width: 56px;
            height: 56px;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_38_2776' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_38_2776)'%3E%3Cpath d='M4.33333 7.58366C4.02639 7.58366 3.7691 7.47984 3.56146 7.2722C3.35382 7.06456 3.25 6.80727 3.25 6.50033C3.25 6.19338 3.35382 5.93609 3.56146 5.72845C3.7691 5.52081 4.02639 5.41699 4.33333 5.41699H21.6667C21.9736 5.41699 22.2309 5.52081 22.4385 5.72845C22.6462 5.93609 22.75 6.19338 22.75 6.50033C22.75 6.80727 22.6462 7.06456 22.4385 7.2722C22.2309 7.47984 21.9736 7.58366 21.6667 7.58366H4.33333ZM4.33333 20.5837C4.02639 20.5837 3.7691 20.4798 3.56146 20.2722C3.35382 20.0646 3.25 19.8073 3.25 19.5003C3.25 19.1934 3.35382 18.9361 3.56146 18.7285C3.7691 18.5208 4.02639 18.417 4.33333 18.417H21.6667C21.9736 18.417 22.2309 18.5208 22.4385 18.7285C22.6462 18.9361 22.75 19.1934 22.75 19.5003C22.75 19.8073 22.6462 20.0646 22.4385 20.2722C22.2309 20.4798 21.9736 20.5837 21.6667 20.5837H4.33333ZM4.33333 14.0837C4.02639 14.0837 3.7691 13.9798 3.56146 13.7722C3.35382 13.5646 3.25 13.3073 3.25 13.0003C3.25 12.6934 3.35382 12.4361 3.56146 12.2285C3.7691 12.0208 4.02639 11.917 4.33333 11.917H21.6667C21.9736 11.917 22.2309 12.0208 22.4385 12.2285C22.6462 12.4361 22.75 12.6934 22.75 13.0003C22.75 13.3073 22.6462 13.5646 22.4385 13.7722C22.2309 13.9798 21.9736 14.0837 21.6667 14.0837H4.33333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header.fixed .gnb .gnb_open {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_38_2776' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_38_2776)'%3E%3Cpath d='M4.33333 7.58366C4.02639 7.58366 3.7691 7.47984 3.56146 7.2722C3.35382 7.06456 3.25 6.80727 3.25 6.50033C3.25 6.19338 3.35382 5.93609 3.56146 5.72845C3.7691 5.52081 4.02639 5.41699 4.33333 5.41699H21.6667C21.9736 5.41699 22.2309 5.52081 22.4385 5.72845C22.6462 5.93609 22.75 6.19338 22.75 6.50033C22.75 6.80727 22.6462 7.06456 22.4385 7.2722C22.2309 7.47984 21.9736 7.58366 21.6667 7.58366H4.33333ZM4.33333 20.5837C4.02639 20.5837 3.7691 20.4798 3.56146 20.2722C3.35382 20.0646 3.25 19.8073 3.25 19.5003C3.25 19.1934 3.35382 18.9361 3.56146 18.7285C3.7691 18.5208 4.02639 18.417 4.33333 18.417H21.6667C21.9736 18.417 22.2309 18.5208 22.4385 18.7285C22.6462 18.9361 22.75 19.1934 22.75 19.5003C22.75 19.8073 22.6462 20.0646 22.4385 20.2722C22.2309 20.4798 21.9736 20.5837 21.6667 20.5837H4.33333ZM4.33333 14.0837C4.02639 14.0837 3.7691 13.9798 3.56146 13.7722C3.35382 13.5646 3.25 13.3073 3.25 13.0003C3.25 12.6934 3.35382 12.4361 3.56146 12.2285C3.7691 12.0208 4.02639 11.917 4.33333 11.917H21.6667C21.9736 11.917 22.2309 12.0208 22.4385 12.2285C22.6462 12.4361 22.75 12.6934 22.75 13.0003C22.75 13.3073 22.6462 13.5646 22.4385 13.7722C22.2309 13.9798 21.9736 14.0837 21.6667 14.0837H4.33333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap {
            display: none; /* 숨김 */
            position: fixed; /* body를 기준으로 정렬 */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            color: #1d1d1d;
        }
        header .gnb .gnb_wrap ul.depth1 {
            margin: 56px 20px 0 20px;
            height: calc(100% - 56px);
            overflow-y: auto;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            border-bottom: 1px solid #D9D9D9;
        }
        header .gnb .gnb_wrap ul.depth1 > li:first-child {
            border-top: 1px solid #D9D9D9;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            padding: 17px 0;
            font-size: 20px;
            position: relative; /* after 정렬의 기준 */
        }
        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after {
            content: "";
            position: absolute;
            right: 0;
            top: 20px;
            width: 14px;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99996 7.19585C6.85551 7.19585 6.7201 7.17328 6.59371 7.12815C6.46732 7.08301 6.34996 7.00627 6.24162 6.89794L1.25829 1.9146C1.05968 1.71599 0.955859 1.46773 0.946831 1.16981C0.937803 0.871896 1.04162 0.614604 1.25829 0.397938C1.4569 0.199326 1.70968 0.100021 2.01662 0.100021C2.32357 0.100021 2.57634 0.199326 2.77496 0.397938L6.99996 4.59585L11.225 0.397938C11.4236 0.199326 11.6718 0.0955069 11.9697 0.0864792C12.2677 0.0774514 12.525 0.181271 12.7416 0.397938C12.9402 0.596549 13.0395 0.849326 13.0395 1.15627C13.0395 1.46322 12.9402 1.71599 12.7416 1.9146L7.75829 6.89794C7.64996 7.00627 7.5326 7.08301 7.40621 7.12815C7.27982 7.17328 7.1444 7.19585 6.99996 7.19585Z' fill='%233D3D3D'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            background-color: #f4f4f4;
            color: #555;
            padding: 29px 0 30px 22px;
            display: none; /* 숨김 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            padding: 8px 0;
        }        
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
             display: inline-block;
            position: relative; /* after 정렬의 기준 */
            padding-right: 20px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
            content: "";
            position: absolute;
            right: 0;
            top: 5px;
            width: 15px;
            height: 15px;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.16667 15.5C1.70833 15.5 1.31597 15.3368 0.989583 15.0104C0.663194 14.684 0.5 14.2917 0.5 13.8333V2.16667C0.5 1.70833 0.663194 1.31597 0.989583 0.989583C1.31597 0.663194 1.70833 0.5 2.16667 0.5H7.16667C7.40278 0.5 7.60069 0.579861 7.76042 0.739583C7.92014 0.899306 8 1.09722 8 1.33333C8 1.56944 7.92014 1.76736 7.76042 1.92708C7.60069 2.08681 7.40278 2.16667 7.16667 2.16667H2.16667V13.8333H13.8333V8.83333C13.8333 8.59722 13.9132 8.39931 14.0729 8.23958C14.2326 8.07986 14.4306 8 14.6667 8C14.9028 8 15.1007 8.07986 15.2604 8.23958C15.4201 8.39931 15.5 8.59722 15.5 8.83333V13.8333C15.5 14.2917 15.3368 14.684 15.0104 15.0104C14.684 15.3368 14.2917 15.5 13.8333 15.5H2.16667ZM13.8333 3.33333L6.66667 10.5C6.51389 10.6528 6.31944 10.7292 6.08333 10.7292C5.84722 10.7292 5.65278 10.6528 5.5 10.5C5.34722 10.3472 5.27083 10.1528 5.27083 9.91667C5.27083 9.68056 5.34722 9.48611 5.5 9.33333L12.6667 2.16667H10.5C10.2639 2.16667 10.066 2.08681 9.90625 1.92708C9.74653 1.76736 9.66667 1.56944 9.66667 1.33333C9.66667 1.09722 9.74653 0.899306 9.90625 0.739583C10.066 0.579861 10.2639 0.5 10.5 0.5H14.6667C14.9028 0.5 15.1007 0.579861 15.2604 0.739583C15.4201 0.899306 15.5 1.09722 15.5 1.33333V5.5C15.5 5.73611 15.4201 5.93403 15.2604 6.09375C15.1007 6.25347 14.9028 6.33333 14.6667 6.33333C14.4306 6.33333 14.2326 6.25347 14.0729 6.09375C13.9132 5.93403 13.8333 5.73611 13.8333 5.5V3.33333Z' fill='%233D3D3D'/%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .gnb .gnb_close {
            display: none; /* 숨김 */
            position: fixed;
            right: 0;
            top: 0;
            width: 56px;
            height: 56px;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_38_2462' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_38_2462)'%3E%3Cpath d='M12.9999 14.5165L7.69154 19.8249C7.49293 20.0235 7.24015 20.1228 6.9332 20.1228C6.62626 20.1228 6.37348 20.0235 6.17487 19.8249C5.97626 19.6263 5.87695 19.3735 5.87695 19.0665C5.87695 18.7596 5.97626 18.5068 6.17487 18.3082L11.4832 12.9999L6.17487 7.69154C5.97626 7.49293 5.87695 7.24015 5.87695 6.9332C5.87695 6.62626 5.97626 6.37348 6.17487 6.17487C6.37348 5.97626 6.62626 5.87695 6.9332 5.87695C7.24015 5.87695 7.49293 5.97626 7.69154 6.17487L12.9999 11.4832L18.3082 6.17487C18.5068 5.97626 18.7596 5.87695 19.0665 5.87695C19.3735 5.87695 19.6263 5.97626 19.8249 6.17487C20.0235 6.37348 20.1228 6.62626 20.1228 6.9332C20.1228 7.24015 20.0235 7.49293 19.8249 7.69154L14.5165 12.9999L19.8249 18.3082C20.0235 18.5068 20.1228 18.7596 20.1228 19.0665C20.1228 19.3735 20.0235 19.6263 19.8249 19.8249C19.6263 20.0235 19.3735 20.1228 19.0665 20.1228C18.7596 20.1228 18.5068 20.0235 18.3082 19.8249L12.9999 14.5165Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E ");
            background-position: center center;
            background-repeat: no-repeat;
        }
        header .util {
            display: none; /* 숨김 */
        }

        /*********** 모바일 메뉴가 열렷을때 **************/
        header.menu_open .gnb .gnb_wrap {
            display: block; /* 나타남*/
        }
        header.menu_open .gnb .gnb_close {
            display: block; /* 나타남*/
        }

        /********** 하위메뉴가 열렷을때 **************/
        header .gnb .gnb_wrap ul.depth1 > li.open > a {
            color: #FF7887;
        }
        header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after {
            background-image: url("data:image/svg+xml, %3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00004 0.804146C7.14449 0.804146 7.2799 0.826715 7.40629 0.871854C7.53268 0.916993 7.65004 0.993729 7.75838 1.10206L12.7417 6.0854C12.9403 6.28401 13.0441 6.53227 13.0532 6.83019C13.0622 7.1281 12.9584 7.3854 12.7417 7.60206C12.5431 7.80067 12.2903 7.89998 11.9834 7.89998C11.6764 7.89998 11.4237 7.80067 11.225 7.60206L7.00004 3.40415L2.77504 7.60206C2.57643 7.80067 2.32817 7.90449 2.03025 7.91352C1.73234 7.92255 1.47504 7.81873 1.25838 7.60206C1.05977 7.40345 0.960461 7.15067 0.960461 6.84373C0.960461 6.53678 1.05977 6.28401 1.25838 6.0854L6.24171 1.10206C6.35004 0.993729 6.4674 0.916993 6.59379 0.871854C6.72018 0.826715 6.8556 0.804146 7.00004 0.804146Z' fill='%23FF7887'/%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
            display: block; /* 나타남 */
        }
}/*@media*/

.visual .swiper-slide {
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg03.jpg);
}
/* .visual .swiper-slide .wrapper {
    height: 900px;  -> .visual .swiper-slide에 있는 높이를 여기에 써줌
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 155px 0;
}
*/
.visual .swiper-slide p {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin: 500px 0 0 0;
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 0;
    bottom: 23px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_4269' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_4269)'%3E%3Cpath d='M1.7751 5.99981L5.4501 9.67481C5.5751 9.79981 5.63551 9.94564 5.63135 10.1123C5.62718 10.279 5.5626 10.4248 5.4376 10.5498C5.3126 10.6748 5.16676 10.7373 5.0001 10.7373C4.83343 10.7373 4.6876 10.6748 4.5626 10.5498L0.712598 6.71231C0.612598 6.61231 0.537598 6.49981 0.487598 6.37481C0.437598 6.24981 0.412598 6.12481 0.412598 5.99981C0.412598 5.87481 0.437598 5.74981 0.487598 5.62481C0.537598 5.49981 0.612598 5.38731 0.712598 5.28731L4.5626 1.43731C4.6876 1.31231 4.83551 1.25189 5.00635 1.25606C5.17718 1.26023 5.3251 1.32481 5.4501 1.44981C5.5751 1.57481 5.6376 1.72064 5.6376 1.88731C5.6376 2.05398 5.5751 2.19981 5.4501 2.32481L1.7751 5.99981Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_54_4272' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_54_4272)'%3E%3Cpath d='M7.23731 6L3.56231 2.325C3.43731 2.2 3.37689 2.05208 3.38106 1.88125C3.38523 1.71042 3.44981 1.5625 3.57481 1.4375C3.69981 1.3125 3.84773 1.25 4.01856 1.25C4.18939 1.25 4.33731 1.3125 4.46231 1.4375L8.29981 5.2875C8.39981 5.3875 8.47481 5.5 8.52481 5.625C8.57481 5.75 8.59981 5.875 8.59981 6C8.59981 6.125 8.57481 6.25 8.52481 6.375C8.47481 6.5 8.39981 6.6125 8.29981 6.7125L4.44981 10.5625C4.32481 10.6875 4.17898 10.7479 4.01231 10.7438C3.84564 10.7396 3.69981 10.675 3.57481 10.55C3.44981 10.425 3.38731 10.2771 3.38731 10.1062C3.38731 9.93542 3.44981 9.7875 3.57481 9.6625L7.23731 6Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_32_2881' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_32_2881)'%3E%3Cpath d='M8 9.5C7.725 9.5 7.48958 9.40208 7.29375 9.20625C7.09792 9.01042 7 8.775 7 8.5V3.5C7 3.225 7.09792 2.98958 7.29375 2.79375C7.48958 2.59792 7.725 2.5 8 2.5C8.275 2.5 8.51042 2.59792 8.70625 2.79375C8.90208 2.98958 9 3.225 9 3.5V8.5C9 8.775 8.90208 9.01042 8.70625 9.20625C8.51042 9.40208 8.275 9.5 8 9.5ZM4 9.5C3.725 9.5 3.48958 9.40208 3.29375 9.20625C3.09792 9.01042 3 8.775 3 8.5V3.5C3 3.225 3.09792 2.98958 3.29375 2.79375C3.48958 2.59792 3.725 2.5 4 2.5C4.275 2.5 4.51042 2.59792 4.70625 2.79375C4.90208 2.98958 5 3.225 5 3.5V8.5C5 8.775 4.90208 9.01042 4.70625 9.20625C4.51042 9.40208 4.275 9.5 4 9.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;  /* 정지버튼을 눌렀을때만 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_52_4239' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_52_4239)'%3E%3Cpath d='M10.5 16.3002C10.3667 16.3002 10.25 16.2544 10.15 16.1627C10.05 16.071 10 15.9502 10 15.8002V8.2002C10 8.0502 10.05 7.92936 10.15 7.8377C10.25 7.74603 10.3667 7.7002 10.5 7.7002C10.5333 7.7002 10.65 7.7502 10.85 7.8502L14.475 11.4752C14.5583 11.5585 14.6167 11.6419 14.65 11.7252C14.6833 11.8085 14.7 11.9002 14.7 12.0002C14.7 12.1002 14.6833 12.1919 14.65 12.2752C14.6167 12.3585 14.5583 12.4419 14.475 12.5252L10.85 16.1502C10.8 16.2002 10.7458 16.2377 10.6875 16.2627C10.6292 16.2877 10.5667 16.3002 10.5 16.3002Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
} 
@media screen and (max-width:1024px) {
    .visual .swiper-slide {
        height: 600px;
    }
    .visual .swiper-slide p {
        font-size: 45px;
        margin: 400px 0 0 0;
    }
}
@media screen and (max-width:768px) {
            .visual .swiper-slide {
                height: 500px;
            }
            /* .visual .swiper-slide .wrapper {
                height: 800px;  -> .visual .swiper-slide에 있는 높이를 여기에 써줌
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 0 155px 0;
            }
            */
            .visual .swiper-slide p {
                font-size: 30px;
                margin: 345px 0 0 0;
            }
            .visual .swiper-slide p br {
                display: none; /* 줄바꿈 삭제 */
            }
            .visual .btn_wrap {
                bottom: 28px;
            }
            .visual .btn_wrap button.btn_prev {
                display: none;
            }
            .visual .btn_wrap button.btn_next {
                display: none;
            }
            
}/*@media*/

.find {
    background-color: #050835;
    color: #fff;
    padding: 125px 0;
    position: relative; /* emblem 정렬의 기준 */
}
.find .tit h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.find .list {
    margin: 26px 0 0 0;
}
.find .list .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.find .list .tab_list ul li button {
    font-size: 25px;
    font-weight: 700;
    padding: 8px 27px 8px 27px;
    border-radius: 25px;
}
.find .list .tab_list ul li.item1.active button {
    background-color: #3D5F3E;
}
.find .list .tab_list ul li.item2.active button {
    background-color: #050835;
}
.find .list .tab_content {
    margin: 57px 0 0 0;
}
.find .list .tab_content .tab_item {
    display: none; /* 숨김 */
}
.find .list .tab_content .tab_item.active {
    display: block; /* 나타남 */
}
.find .list .tab_content .tab_item > ul {
    display: flex;
    justify-content: space-between;
}
.find .list .tab_content .tab_item > ul > li {
    width: calc(25% - 18px);
    /* 24+24+24 / 1줄에 나타나는 li의 갯수 */
}
.find .list .tab_content .tab_item > ul > li a {
    display: block;
}
.find .list .tab_content .tab_item > ul > li a .photo {
    overflow: hidden;
    height: 417px;
    border-radius: 20px;
}
.find .list .tab_content .tab_item > ul > li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/* 마우스 오버 효과 */
.find .list .tab_content .tab_item > ul > li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}

.find .list .tab_content .tab_item > ul > li a .subject {
    display: flex;
    gap: 11px;
    align-items: center;
    margin: 20px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a .subject strong {
    padding: 6px 18px 6px 18px;
    border-radius: 20px;
    font-size: 17px;
    line-height: 1.2;                  
    white-space: nowrap;
} 
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_end {
    background-color: #999999;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_lost {
    background-color: #EE0303;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_see {
    background-color: #B7C9B9;
}
.find .list .tab_content .tab_item > ul > li a .subject strong.cate_care {
    background-color: #759B7F;
}
.find .list .tab_content .tab_item > ul > li a .subject h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .list .tab_content .tab_item > ul > li a ul.detail {
    margin: 20px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li { 
    display: flex;
    gap: 20px;
    line-height: 2;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li strong {
    color: rgba(255,255,255,0.8);
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li span {
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .emblem {
    position: absolute;
    left: 20px;
    bottom: -90px;
    mix-blend-mode: difference;
    animation-name: rotate;
    animation-duration: 9s;
    animation-iteration-count: infinite; /* 무제한 */
    animation-timing-function: linear; /* 가속도 삭제 */
}
/*
@media screen and (max-width:1024px) {
    .find .emblem {
        display: none;
    }
}
*/
@media screen and (max-width:1024px) {
    .find .list .tab_content .tab_item > ul {
        gap: 20px 16px;
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .find .list .tab_content .tab_item > ul > li {
        width: calc(50% - 8px);
        /* 16 / 1줄에 나타나는 li의 갯수 */
    }
    .find .list .tab_content .tab_item > ul > li a .photo {
        height: 164px;
        border-radius: 10px;
    }
}/*@media*/
@media screen and (max-width:768px) {
            .find {
                padding: 80x 0;
            }
            .find .tit h2 {
                font-size: 30px;
            }
            .find .list {
                margin: 16px 0 0 0;
            }
            .find .list .tab_list ul {
                gap: 5px;
            }
            .find .list .tab_list ul li button {
                font-size: 19x;
                padding: 7px 23px 7PX 23PX;
            }
            .find .list .tab_content {
                margin: 22px 0 0 0;
            }
            .find .list .tab_content .tab_item > ul > li a .subject {
                display: block;
                margin: 7px 0 0 0;
                position: relative; /* strong 카테고리 정렬의 기준 */
            }
            .find .list .tab_content .tab_item > ul > li a .subject strong {
                position: absolute;
                left: 0;
                top: -32px;
                padding: 0 11px 0 11px;
                border-radius: 10px;
                font-size: 15px;
                line-height: 25px;
            }
            .find .list .tab_content .tab_item > ul > li a .subject h4 {
                font-size: 18px;
            }
            .find .list .tab_content .tab_item > ul > li a ul.detail {
                margin: 5px 0 0 0;
            }
            .find .list .tab_content .tab_item > ul > li a ul.detail li { 
                display: block;
            }
            .find .list .tab_content .tab_item > ul > li a ul.detail li:last-child {
                display: none;
            }
            .find .list .tab_content .tab_item > ul > li a ul.detail li strong {
                display: none;
            }
            .find .list .tab_content .tab_item > ul > li a ul.detail li span {
                display: block;
                color: rgba(255,255,255,0.8);
            }
}/*@media*/

.slogan {
    margin: 206px 0 0 0;
}
.slogan .sub_tit {
    font-size: 55px;
    font-weight: 700;
    color: #1d1d1d;
    text-align: center;
}
.slogan .sub_tit strong {
    display: inline-block;
    /* 글자를 태그로 감싸고 inline-block을 주면
        줄바꿈이 될때 inline-block으로 묶인 글자는 단락으로 줄바꿈 */
}
.slogan .sub_tit span {
    display: inline-block;
    color: transparent;
    position: relative; /* before 정렬의 기준 */
}
.slogan .sub_tit span.item1 {
    width: 2.47em;
    /* 넓이가 136px / 글자크기 55px
        136/55 = 2.47 em 
        1em은 현재 해당 요소에 상속된 글자크기를 1로봄 */
}
.slogan .sub_tit span.item2 {
    width: 3.09em;
    /* 170/55 = 3.09 */
}
.slogan .sub_tit span.item3 {
    width: 2.18em;
    /* 120/55 = 2.18 */
}
.slogan .sub_tit span.item4 {
    width: 2.25em;
    /* 124/55 = 2.25 */
}
.slogan .sub_tit span::before {
    content: "";
    position: absolute; /* span태그를 기준으로 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* span의 영역에 위아래 가운데 좌우에 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slogan .sub_tit span.item1::before {
    top: 35%;
    width: 1.6em; /* 88/55 = 1.6 */
    height: 1.43em; /* 79/55 = 1.43 */
    background-image: url(../images/slogan01.png);
}
.slogan .sub_tit span.item2::before {
    width: 2.63em; /* 145/55 = 2.63 */
    height: 1.67em; /* 92/55 = 1.67 */
    background-image: url(../images/slogan02.png);
}
.slogan .sub_tit span.item3::before {
    width: 2.05em; /* 113/55 = 2.05 */
    height: 1.43em; /* 79/55 = 1.43 */
    background-image: url(../images/slogan03.png);
}
.slogan .sub_tit span.item4::before {
    width: 1.98em; /* 109/55 = 1.98 */
    height: 1.52em; /* 84/55 = 1.52 */
    background-image: url(../images/slogan04.png);
}
.slogan .ex {
    margin: 68px 0 0 0;
    text-align: center;
    color: #3d3d3d;
}
@media screen and (max-width:1300px) {
    .slogan .sub_tit {
        font-size: 50px;
    }
}
@media screen and (max-width:1024px) {
    .slogan .sub_tit {
        font-size: 45px;
    }
    .slogan .ex br {
        display: none;
    }
}/*@media*/
@media screen and (max-width:768px) {
            .slogan {
                margin: 102px 0 0 0;
            }
            .slogan .sub_tit {
                font-size: 35px;
            }
            .slogan .sub_tit br {
                display: none; /* 줄바꿈 금지 */
            }
            .slogan .ex {
                margin: 49px 0 0 0;
                font-size: 16px;
            }            
}/*@media*/

.adopt {
    margin: 105px 0 0 0;
    padding: 195px 0 278px 0;
    background-color: #050835;
    color: #fff;
    text-align: center;
    position: relative; /* rolling 정렬의 기준 */
}
.adopt .tit h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.adopt .list {
    margin: 47px 0 0 0;  
}
.adopt .list .swiper-slide {
    width: 300PX;
}
.adopt .list .swiper-slide a {
    display: block;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: 300px; 
    border-radius: 50%; /* 동그라미 */
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.adopt .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}

.adopt .list .swiper-slide a strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    padding: 6px 19px 7px 18px;
    background-color: #A7B5FE;
    border-radius: 20px;
    display: inline-block;
    transform: translateY(-13px);
}
.adopt .list .swiper-slide a h3 {
    font-size: 19px;
    font-weight: 700;
    margin: 0 0 8px 0;
}
.adopt .list .swiper-slide a p {
    color: rgba(255,255,255,0.8);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.adopt .list .swiper-slide a strong.cate_care {
    background-color: #3D5F3E;
}
.adopt .list_ctrl {
    margin: 88px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.adopt .list_ctrl button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_4130' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_4130)'%3E%3Cpath d='M1.77461 5.99981L5.44961 9.67481C5.57461 9.79981 5.63503 9.94564 5.63086 10.1123C5.62669 10.279 5.56211 10.4248 5.43711 10.5498C5.31211 10.6748 5.16628 10.7373 4.99961 10.7373C4.83294 10.7373 4.68711 10.6748 4.56211 10.5498L0.712109 6.71231C0.612109 6.61231 0.537109 6.49981 0.487109 6.37481C0.437109 6.24981 0.412109 6.12481 0.412109 5.99981C0.412109 5.87481 0.437109 5.74981 0.487109 5.62481C0.537109 5.49981 0.612109 5.38731 0.712109 5.28731L4.56211 1.43731C4.68711 1.31231 4.83503 1.25189 5.00586 1.25606C5.17669 1.26023 5.32461 1.32481 5.44961 1.44981C5.57461 1.57481 5.63711 1.72064 5.63711 1.88731C5.63711 2.05398 5.57461 2.19981 5.44961 2.32481L1.77461 5.99981Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.adopt .list_ctrl button.btn_next {
    transform: rotate(180deg);
}

.adopt .list_ctrl .more {
    line-height: 20px; /* 행간 */
    height: 20px; /* 높이 */
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0 26px 0 11px;
    font-size: 12px;
    position: relative; /* before 정렬의 기준 */
}.adopt .list_ctrl .more::before {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 9px;
    top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_51_4124' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_51_4124)'%3E%3Cpath d='M6.41699 7.58268H3.50033C3.33505 7.58268 3.19651 7.52678 3.0847 7.41497C2.97289 7.30317 2.91699 7.16463 2.91699 6.99935C2.91699 6.83407 2.97289 6.69553 3.0847 6.58372C3.19651 6.47192 3.33505 6.41602 3.50033 6.41602H6.41699V3.49935C6.41699 3.33407 6.47289 3.19553 6.5847 3.08372C6.69651 2.97192 6.83505 2.91602 7.00033 2.91602C7.1656 2.91602 7.30414 2.97192 7.41595 3.08372C7.52776 3.19553 7.58366 3.33407 7.58366 3.49935V6.41602H10.5003C10.6656 6.41602 10.8041 6.47192 10.916 6.58372C11.0278 6.69553 11.0837 6.83407 11.0837 6.99935C11.0837 7.16463 11.0278 7.30317 10.916 7.41497C10.8041 7.52678 10.6656 7.58268 10.5003 7.58268H7.58366V10.4993C7.58366 10.6646 7.52776 10.8032 7.41595 10.915C7.30414 11.0268 7.1656 11.0827 7.00033 11.0827C6.83505 11.0827 6.69651 11.0268 6.5847 10.915C6.47289 10.8032 6.41699 10.6646 6.41699 10.4993V7.58268Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.adopt .rolling {
    position: absolute; /* adopt를 기준으로 정렬 */
    left: 0;
    bottom: 20px;
    width: 100%;
}
.adopt .rolling p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 100px;
    font-weight: 700;
    color: rgba(255,255,255,0.1);
    white-space: nowrap; /* 1줄 */
    /* text-transform: uppercase;  대문자 변경 */

    animation-name: rolling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes rolling {
    0% { left: 0; }
    100% { left: -15.20em; }
}
@media screen and (max-width:1024px) {
    .adopt .tit h2 {
        font-size: 40px;
    }
    .adopt .list .swiper-slide {
        width: 202px;
    }
    .adopt .list .swiper-slide a .photo {
        height: 202px; 
    }
    .adopt .rolling p {
        font-size: 75px;
    }
}/*@media*/
@media screen and (max-width:768px) {
            .adopt {
                margin: 83px 0 0 0;
                padding:88px 0 263px 0;
            }
            .adopt .tit h2 {
                font-size: 35px;
            }
            .adopt .list {
                margin: 40px 0 0 0;  
            }
            .adopt .list .swiper {
                padding-left: 22px;
            }
            .adopt .list .swiper-slide a strong {
                font-size: 15px;
                padding: 3px 12px 4px 11px;
                transform: translateY(3px);
            }
            .adopt .list .swiper-slide a h3 {
                font-size: 16px;
                margin: 12px 0 8px 0;
            }
            .adopt .list .swiper-slide a p {
                font-size: 15px;
            }
            .adopt .list_ctrl {
                margin: 70px 0 0 0;
            }
            .adopt .list_ctrl button {
                display: none;
            }
            .adopt .rolling p {
                font-size: 65px;
            }
}/*@media*/

.review {
    margin: 185px 0 0 0;
}
.review .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.review h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 18px 0; /* 선까지의 여백 */
    position: relative; /* after를 기준으로 정렬 */
}
.review h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /* 나의 넓이의 절반을 왼쪽으로 */
    width: 100vw; /* 브라우저 넓이 */
    height: 2px;
    background-color: rgba(217,217,217,0.6)
}
.review h2 strong {
    position: relative; /* after 정렬의 기준 */
}
.review h2 strong::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 10;
    width: 100%;
    height: 3px;
    background-color: #F41414;
}
.review .list {
    margin: 50px 0 0 0;
    position: relative; /* 이전,다음 버튼 정렬의 기준 */
}
.review .list .swiper-slide a {
    display: block;
}
.review .list .swiper-slide a .photo {
    overflow: hidden;
    height: 298px;
}
.review .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 사진을 자르지 않고 모두 보이게 */
    transition: 0.5s;
}
.review .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.review .list .swiper-slide a h3 {
    margin: 22px 0 16px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;

    /* 1줄 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review .list .swiper-slide a p {
    /* 2줄 제한 */
    line-height: 1.5;
    height: 3em; /* 행간 X 줄수 = 단위는 em */
    overflow: hidden;

    /* 2줄이상 제한에도 끝에 ... 추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 줄수 */
    -webkit-box-orient: vertical;
}
.review .list .btn_prev,
.review .list .btn_next {
    position: absolute;
    top: 129px;
    width: 18px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='34' viewBox='0 0 19 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.55348 17.0009L17.6443 29.0913C18.1007 29.548 18.3236 30.0873 18.3131 30.7092C18.3025 31.3312 18.069 31.8705 17.6126 32.3271C17.156 32.7835 16.615 33.0117 15.9897 33.0117C15.3644 33.0117 14.8236 32.7835 14.3672 32.3271L1.69306 19.6946C1.31334 19.3149 1.03014 18.8902 0.843476 18.4205C0.65681 17.9505 0.563477 17.4773 0.563477 17.0009C0.563477 16.5245 0.65681 16.0513 0.843476 15.5813C1.03014 15.1116 1.31334 14.6869 1.69306 14.3071L14.3672 1.63297C14.8236 1.17659 15.3697 0.95367 16.0056 0.964225C16.6414 0.974781 17.1876 1.20825 17.6443 1.66464C18.1007 2.12131 18.3289 2.66228 18.3289 3.28756C18.3289 3.91284 18.1007 4.45381 17.6443 4.91048L5.55348 17.0009Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.review .list .btn_prev {
    left: -70px;
}
.review .list .btn_next {
    right: -70px;
    transform: rotate(180deg);
}
.review .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
    display: flex; /* strong과 span 좌우배치 */
    gap: 13px;
    align-items: center;
    padding-right: 51px;
}
.review .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C14.5278 30 14.1319 29.8403 13.8125 29.5208C13.4931 29.2014 13.3333 28.8056 13.3333 28.3333V16.6667H1.66667C1.19444 16.6667 0.798611 16.5069 0.479167 16.1875C0.159722 15.8681 0 15.4722 0 15C0 14.5278 0.159722 14.1319 0.479167 13.8125C0.798611 13.4931 1.19444 13.3333 1.66667 13.3333H13.3333V1.66667C13.3333 1.19444 13.4931 0.798611 13.8125 0.479167C14.1319 0.159722 14.5278 0 15 0C15.4722 0 15.8681 0.159722 16.1875 0.479167C16.5069 0.798611 16.6667 1.19444 16.6667 1.66667V13.3333H28.3333C28.8056 13.3333 29.2014 13.4931 29.5208 13.8125C29.8403 14.1319 30 14.5278 30 15C30 15.4722 29.8403 15.8681 29.5208 16.1875C29.2014 16.5069 28.8056 16.6667 28.3333 16.6667H16.6667V28.3333C16.6667 28.8056 16.5069 29.2014 16.1875 29.5208C15.8681 29.8403 15.4722 30 15 30Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
}
.review .more strong {
    font-size: 43px;
    font-weight: 700;
    line-height: 1.2;
    color: #F41414;
}
@media screen and (max-width:1420px) {
    .review .list .btn_prev,
    .review .list .btn_next {
        display: none; /* 숨김 */
    }
}/*@media*/
@media screen and (max-width:1024px) {
    .review h2 {
        font-size: 40px;
    }
    .review .more {
        padding-right: 40px;
    }
    .review .more strong {
        font-size: 38px;
    }
    .review .more::after {
        top: 6px;
        width: 25px;
        height: 25px;
    }
}/*@media*/
@media screen and (max-width:768px) {
            .review {
                margin: 102px 0 0 0;
            }
            .review h2 {
                font-size: 35px;
                padding: 0 0 11px 0; /* 선까지의 여백 */
            }
            .review h2 strong::after {
                bottom: -11px;
            }
            .review .list {
                margin: 50px 0 0 0;
            }
            .review .list .swiper-slide {
                width: 200px;
            }
            .review .list .swiper-slide a .photo {
                height: 187px;
            }
            .review .list .swiper-slide a h3 {
                margin: 20px 0 7px 0;
                font-size: 17px;
            }
            .review .more {
                top: 10px;
                padding-right: 0;
                width: 22px;
                height: 22px;
            }
            .review .more::after {
                top: 0;
                width: 100%;
                height: 100%;
                background-size: contain;
            }
            .review .more strong,
            .review .more span {
                display: none;
            }
}/*@media*/

footer {
    margin: 253px 0 0 0;
    background-color: #332A25;
    color: rgba(217,217,217,0.8);
    padding: 125px 0 194px 0;
    position: relative; /* top 정렬의 기준 */
}
footer .wrapper {
    position: relative;
    display: flex; /* link_wrap, info_wrap 좌우 배치 */
    flex-direction: row-reverse;
    justify-content: space-between;
}
/* 
footer .top {
    position: absolute;
    right: 38px;
    top: -97px;
    mix-blend-mode: difference;
     반전 - 흰색배경에서는 검은색 (배경색과 반대로)s
        배경색이 흰색이라면 진짜 흰색을 배경색으로 깔아줘야함 - 그래야 적용됨 
        ==> body에 흰색을 주면 됨 
    animation-name: rotate;
    animation-duration: 9s;
    animation-iteration-count: infinite;  무제한 
    animation-timing-function: linear;  가속도 삭제 
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(-360deg);}
}
*/
footer .top {
    position: absolute;
    right: 0;
    top: -22px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #FF7887;
    color: #fff;
    padding: 26px 0 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
footer .top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.36173 3.24518L2.09506 6.51185C1.96173 6.64518 1.80617 6.70907 1.62839 6.70352C1.45062 6.69796 1.29506 6.62852 1.16173 6.49518C1.0395 6.36185 0.975615 6.20629 0.97006 6.02852C0.964504 5.85074 1.02839 5.69518 1.16173 5.56185L5.56173 1.16185C5.62839 1.09518 5.70062 1.04796 5.77839 1.02018C5.85617 0.992405 5.9395 0.978516 6.02839 0.978516C6.11728 0.978516 6.20062 0.992405 6.27839 1.02018C6.35617 1.04796 6.42839 1.09518 6.49506 1.16185L10.8951 5.56185C11.0173 5.68407 11.0784 5.83685 11.0784 6.02018C11.0784 6.20352 11.0173 6.36185 10.8951 6.49518C10.7617 6.62852 10.6034 6.69518 10.4201 6.69518C10.2367 6.69518 10.0784 6.62852 9.94506 6.49518L6.69506 3.24518V10.6952C6.69506 10.8841 6.63117 11.0424 6.50339 11.1702C6.37562 11.298 6.21728 11.3618 6.02839 11.3618C5.8395 11.3618 5.68117 11.298 5.55339 11.1702C5.42562 11.0424 5.36173 10.8841 5.36173 10.6952V3.24518Z' fill='white'/%3E%3C/svg%3E%0A");
}
   
footer .link_wrap ul.link li {
    margin: 0 0 5px 0;
}
footer .link_wrap ul.link li a {
    display: block;
    text-align: right;
    padding: 22px;
    position: relative; /* after 정렬의 기준 */
}
footer .link_wrap ul.link li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 0;
    top: 26px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.16667 15.5C1.70833 15.5 1.31597 15.3368 0.989583 15.0104C0.663194 14.684 0.5 14.2917 0.5 13.8333V2.16667C0.5 1.70833 0.663194 1.31597 0.989583 0.989583C1.31597 0.663194 1.70833 0.5 2.16667 0.5H7.16667C7.40278 0.5 7.60069 0.579861 7.76042 0.739583C7.92014 0.899306 8 1.09722 8 1.33333C8 1.56944 7.92014 1.76736 7.76042 1.92708C7.60069 2.08681 7.40278 2.16667 7.16667 2.16667H2.16667V13.8333H13.8333V8.83333C13.8333 8.59722 13.9132 8.39931 14.0729 8.23958C14.2326 8.07986 14.4306 8 14.6667 8C14.9028 8 15.1007 8.07986 15.2604 8.23958C15.4201 8.39931 15.5 8.59722 15.5 8.83333V13.8333C15.5 14.2917 15.3368 14.684 15.0104 15.0104C14.684 15.3368 14.2917 15.5 13.8333 15.5H2.16667ZM13.8333 3.33333L6.66667 10.5C6.51389 10.6528 6.31944 10.7292 6.08333 10.7292C5.84722 10.7292 5.65278 10.6528 5.5 10.5C5.34722 10.3472 5.27083 10.1528 5.27083 9.91667C5.27083 9.68056 5.34722 9.48611 5.5 9.33333L12.6667 2.16667H10.5C10.2639 2.16667 10.066 2.08681 9.90625 1.92708C9.74653 1.76736 9.66667 1.56944 9.66667 1.33333C9.66667 1.09722 9.74653 0.899306 9.90625 0.739583C10.066 0.579861 10.2639 0.5 10.5 0.5H14.6667C14.9028 0.5 15.1007 0.579861 15.2604 0.739583C15.4201 0.899306 15.5 1.09722 15.5 1.33333V5.5C15.5 5.73611 15.4201 5.93403 15.2604 6.09375C15.1007 6.25347 14.9028 6.33333 14.6667 6.33333C14.4306 6.33333 14.2326 6.25347 14.0729 6.09375C13.9132 5.93403 13.8333 5.73611 13.8333 5.5V3.33333Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns {
    margin: 40px 17px 0 17px;
    display: flex;
    gap: 5px;
}

footer .link_wrap ul.sns li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(61,61,61,0.8);
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2197 10.1241L11.8427 6.86556H7.94756V4.75386C7.94756 3.86472 8.48873 2.99579 10.2318 2.99579H12V0.222282C12 0.222282 10.3954 0 8.86 0C5.65706 0 3.56162 1.56104 3.56162 4.38507V6.86556H0V10.1241H3.56162V18H7.94756V10.1241H11.2197Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.twitter a {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9127 1.67433C17.343 1.91799 16.7109 2.06734 16.0914 2.16559C16.3824 2.11843 16.8149 1.61931 16.9854 1.41494C17.2474 1.10447 17.4677 0.754686 17.5883 0.373467C17.605 0.342027 17.6174 0.306658 17.5883 0.283077C17.5467 0.267357 17.5218 0.275218 17.4927 0.290939C16.8024 0.640717 16.0914 0.892239 15.3346 1.07302C15.2722 1.08874 15.2264 1.07302 15.1849 1.03765C15.1225 0.970842 15.0643 0.907964 14.9977 0.856873C14.6776 0.601417 14.3366 0.400979 13.954 0.251636C13.4467 0.055131 12.8937 -0.0273989 12.3489 0.00797186C11.8208 0.0394126 11.2969 0.180895 10.827 0.412771C10.3571 0.644646 9.93299 0.970845 9.60033 1.35992C9.2552 1.76472 8.99738 2.24026 8.86848 2.74725C8.74373 3.23458 8.75205 3.71798 8.83105 4.21317C8.84353 4.2957 8.83106 4.30749 8.75621 4.2957C5.79138 3.87911 3.33386 2.87694 1.34206 0.727179C1.25473 0.632857 1.20898 0.632853 1.13829 0.735035C0.265061 1.97301 0.689206 3.95771 1.77867 4.93237C1.92421 5.06207 2.07391 5.19176 2.23608 5.30966C2.17786 5.32145 1.45017 5.24678 0.805639 4.93237C0.718315 4.88128 0.676726 4.90879 0.668409 5.00311C0.660093 5.13674 0.668408 5.25857 0.693358 5.40398C0.859688 6.65768 1.77867 7.81706 3.03862 8.26902C3.18831 8.32797 3.35465 8.37906 3.51266 8.40657C3.22574 8.46552 2.9305 8.50876 2.11132 8.44588C2.00737 8.42623 1.96994 8.47732 2.00737 8.56771C2.62695 10.1594 3.95758 10.631 4.95556 10.9022C5.08863 10.9258 5.22169 10.9258 5.35891 10.9533C5.3506 10.9651 5.34228 10.9651 5.33397 10.9769C5.00131 11.4524 3.85363 11.81 3.32137 11.9869C2.34834 12.3092 1.29215 12.4506 0.265059 12.3563C0.0987288 12.3327 0.0654643 12.3367 0.0197236 12.3563C-0.0260171 12.3838 0.0155719 12.4192 0.0654709 12.4585C0.273383 12.5882 0.485454 12.7022 0.701683 12.8161C1.35453 13.1423 2.03647 13.4017 2.74753 13.5904C6.42343 14.5493 10.5609 13.8458 13.3178 11.2559C15.4843 9.2201 16.2452 6.41402 16.2452 3.60794C16.2452 3.49789 16.3824 3.43894 16.4656 3.37999C17.0311 2.97912 17.4844 2.49965 17.9044 1.96516C18 1.84332 18 1.73721 18 1.69398V1.67826C18 1.63503 18 1.64682 17.9251 1.67826L17.9127 1.67433Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0V14H9.30214L4.69789 6.95185V14H0V0H4.69789L9.30214 7.3315V0H14Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.daum a {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.78128 0.00217075H0V14H6.78128C10.7675 14 14 10.8654 14 7C14 3.13455 10.7675 0 6.78128 0V0.00217075ZM6.92261 9.51678H4.48646V4.48539H6.92261C8.35603 4.48539 9.51578 5.61218 9.51578 7C9.51578 8.38782 8.35379 9.51461 6.92261 9.51461V9.51678Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .info_wrap .info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    margin: 0 0 31px 0;
}
footer .info_wrap .info ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .info_wrap .info ul li::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.2);
}
footer .info_wrap .info ul li:last-child::after {
    display: none;
}
footer .info_wrap .copyright {
    margin: 71px 0 0 0;
    color: rgba(217,217,217,0.8);
}
 @media screen and (max-width:1024px) {
    footer {
        margin: 132px 0 0 0;
    }
    footer .wrapper {
        padding: 93px 0 244px 0;
        display: block; /* flex 해제 */
    }
    
    footer .link_wrap ul.link {
        display: none; /* 숨김 */
    }
    footer .link_wrap ul.sns {
        margin: 0;
    }
    footer .info_wrap {
        margin: 24px 0 0 0;
    }
    footer .info_wrap .info ul {
        gap: 40px;
        margin: 0 0 31px 0;
    }
    footer .info_wrap .info ul li::after {
        top: 6px;
    }
    footer .info_wrap .copyright {
        margin: 83px 0 0 0;
    }
 }