@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: "Eulyoo1945";
    font-weight: 800;
    line-height: 1.5;
}

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%; /* wrap 기준으로 100% */
    height: 100px;
    color: #fff;
    display: flex; /* logo, gnb, tnb 좌우로 배치 */
    justify-content: space-between; /* 좌우 양쪽 끝 */
    align-items: center; /* 위아래 가운데 */
    padding: 0 30px; /* logo, tnb 좌우 여백 */
}
header .logo a {
    display: block;
    font-size: 0; /* 이미지 하단에 존재하는 행간 삭제 */
    line-height: 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-size: 23px;
    line-height: 100px;
    /* header 높이와 같은 값을 행간으로 줌 */
    padding: 0 26px;
}
header .tnb {
    display: flex; /* mypage, search 좌우 배치 */
    gap: 5px;
}
header .tnb .mypage,
header .tnb .search {
    width: 30px;
    height: 30px;
    display: block;background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10C8.625 10 7.44792 9.51042 6.46875 8.53125C5.48958 7.55208 5 6.375 5 5C5 3.625 5.48958 2.44792 6.46875 1.46875C7.44792 0.489583 8.625 0 10 0C11.375 0 12.5521 0.489583 13.5312 1.46875C14.5104 2.44792 15 3.625 15 5C15 6.375 14.5104 7.55208 13.5312 8.53125C12.5521 9.51042 11.375 10 10 10ZM0 17.5V16.5C0 15.7917 0.182292 15.1406 0.546875 14.5469C0.911458 13.9531 1.39583 13.5 2 13.1875C3.29167 12.5417 4.60417 12.0573 5.9375 11.7344C7.27083 11.4115 8.625 11.25 10 11.25C11.375 11.25 12.7292 11.4115 14.0625 11.7344C15.3958 12.0573 16.7083 12.5417 18 13.1875C18.6042 13.5 19.0885 13.9531 19.4531 14.5469C19.8177 15.1406 20 15.7917 20 16.5V17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20H2.5C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5ZM2.5 17.5H17.5V16.5C17.5 16.2708 17.4427 16.0625 17.3281 15.875C17.2135 15.6875 17.0625 15.5417 16.875 15.4375C15.75 14.875 14.6146 14.4531 13.4688 14.1719C12.3229 13.8906 11.1667 13.75 10 13.75C8.83333 13.75 7.67708 13.8906 6.53125 14.1719C5.38542 14.4531 4.25 14.875 3.125 15.4375C2.9375 15.5417 2.78646 15.6875 2.67188 15.875C2.55729 16.0625 2.5 16.2708 2.5 16.5V17.5ZM10 7.5C10.6875 7.5 11.276 7.25521 11.7656 6.76562C12.2552 6.27604 12.5 5.6875 12.5 5C12.5 4.3125 12.2552 3.72396 11.7656 3.23438C11.276 2.74479 10.6875 2.5 10 2.5C9.3125 2.5 8.72396 2.74479 8.23438 3.23438C7.74479 3.72396 7.5 4.3125 7.5 5C7.5 5.6875 7.74479 6.27604 8.23438 6.76562C8.72396 7.25521 9.3125 7.5 10 7.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.125 16.2656C5.85417 16.2656 3.93229 15.4792 2.35938 13.9062C0.786458 12.3333 0 10.4115 0 8.14062C0 5.86979 0.786458 3.94792 2.35938 2.375C3.93229 0.802083 5.85417 0.015625 8.125 0.015625C10.3958 0.015625 12.3177 0.802083 13.8906 2.375C15.4635 3.94792 16.25 5.86979 16.25 8.14062C16.25 9.05729 16.1042 9.92188 15.8125 10.7344C15.5208 11.5469 15.125 12.2656 14.625 12.8906L21.625 19.8906C21.8542 20.1198 21.9688 20.4115 21.9688 20.7656C21.9688 21.1198 21.8542 21.4115 21.625 21.6406C21.3958 21.8698 21.1042 21.9844 20.75 21.9844C20.3958 21.9844 20.1042 21.8698 19.875 21.6406L12.875 14.6406C12.25 15.1406 11.5312 15.5365 10.7188 15.8281C9.90625 16.1198 9.04167 16.2656 8.125 16.2656ZM8.125 13.7656C9.6875 13.7656 11.0156 13.2188 12.1094 12.125C13.2031 11.0312 13.75 9.70312 13.75 8.14062C13.75 6.57812 13.2031 5.25 12.1094 4.15625C11.0156 3.0625 9.6875 2.51562 8.125 2.51562C6.5625 2.51562 5.23438 3.0625 4.14062 4.15625C3.04688 5.25 2.5 6.57812 2.5 8.14062C2.5 9.70312 3.04688 11.0312 4.14062 12.125C5.23438 13.2188 6.5625 13.7656 8.125 13.7656Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px) {
            header {
                height: 56px;
                padding: 0 0 0 20px; /* logo, tnb 좌우 여백 */
            }
            header .logo a img {
                width: 122px;
            }
            header .gnb .gnb_open {
                display: block; /* none - block 숨김요소 보이게 */
                width: 56px; /* header 높이와 동일하게 */
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='white'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }            
            header .gnb .gnb_wrap {
                display: none; /* 숨김처리 */
            }
            header .tnb {
                display: none; /* 숨김처리 */
            }
}/*@media*/

.visual {
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    min-height: 560px; /* 최소높이 */
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-size: 80px;
    padding: 60vh 0 20px 0;
}
@media screen and (max-width:640px) {
            .visual {
                height: auto; /* 브라우저의 높이에 맞춰서 */
                min-height: 0; /* 최소높이 */
            }
            .visual .wrapper {
                height: 600px; /* 브라우저의 높이에 맞춰서 */
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0 0 60px 0;
            }
            .visual h2 {
                font-size: 40px;
                padding: 0 0 8px 0;
            }
            .visual p br {
                display: none; /* 줄 바꿈 삭제 */
            }
}/*@media*/

.book {
    margin: 130px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px); /* 1260px - 50% = 630px */
    position: relative; /* more을 기준으로 정렬 */
    left: calc(50% - 630px);
    display: flex; /* tit, list 좌우 배치 */
    justify-content: space-between;
}
.book .book_wrap .tit h2 {
    font-size: 40px;
    color: #2d2d2d;
    margin: 5px 0 20px 0;
}
.book .book_wrap .list {
    width: calc(100% - 242px);
    /* book_wrap의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기 */
    overflow-x: hidden;
    padding: 5px 0 0 5px;
}
.book .book_wrap .list ul {
    display: flex; /* li를 좌우로 */
    gap: 24px;
    width: 1918px;
    /*
        li의 넓이 * li의 갯수 = 250*7 = 1750
        사이 여백 * li의 갯수 = 24*7 =168
        1750 + 144 = 1918
    */
}
.book .book_wrap .list ul li {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.book .book_wrap .list ul li a {
    display: block;
}
.book .book_wrap .list ul li a .photo {
   overflow: hidden;
   border-radius: 20px;
   border: 1px solid #d9d9d9;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.book .book_wrap .list ul li a .photo img {
    width: 100%; 
    /* 높이는 비율에 맞게 알아서 들어감 
        - 책은 이미지 전체가 나와야 하기 때문에 object-fit 안줌 */
    vertical-align: top; 
    /* 이미지에 vertical-align을 주면 이미지 하단에 행간이 사라짐 */
}
.book .book_wrap .list ul li a h3 {
    font-size: 23px;
    color: #2d2d2d;
    margin: 13px 0 3px 0;

    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 2줄제한 
    line-height: 1.5;
    height: 3em; (행간 * 줄수 ( 단위는 em))
    overflow: hidden;
    */
}
.book .book_wrap .list ul li a strong {
    display: block;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book_wrap .more {
    position: absolute; /* book_wrap을 기준으로 정렬 */
    left: 0;
    top: 214px;
    color: #3d3d3d;
    padding: 0 34px 0 0;    
}
.book .book_wrap .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H1C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H6V1C6 0.716667 6.09583 0.479167 6.2875 0.2875C6.47917 0.0958333 6.71667 0 7 0C7.28333 0 7.52083 0.0958333 7.7125 0.2875C7.90417 0.479167 8 0.716667 8 1V6H13C13.2833 6 13.5208 6.09583 13.7125 6.2875C13.9042 6.47917 14 6.71667 14 7C14 7.28333 13.9042 7.52083 13.7125 7.7125C13.5208 7.90417 13.2833 8 13 8H8V13C8 13.2833 7.90417 13.5208 7.7125 13.7125C7.52083 13.9042 7.28333 14 7 14C6.71667 14 6.47917 13.9042 6.2875 13.7125C6.09583 13.5208 6 13.2833 6 13V8Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px) {
    /************* 오버효과 *******************/
    .book .book_wrap .list ul li a h3 span {
        position: relative; /* after 정렬의 기준 */
    }
    .book .book_wrap .list ul li a h3 span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: #9d9d9d;
        opacity: 0.8;
        transition: 0.5s;
    }
    .book .book_wrap .list ul li a:hover h3 span::after {
        width: 100%; /* span태그를 기준으로 100%*/
    }
}/*@media*/
@media screen and (max-width:640px) {
            .book {
                margin: 80px 0 0 0;
            }
            .book .book_wrap {
                width: auto;
                left: auto;
                display: block; /* tit, list 좌우 배치 -> flex 해제 */
            }
            .book .book_wrap .tit {
                margin: 0 0 0 20px;
            }
            .book .book_wrap .tit h2 {
                font-size: 25px;
                margin: 0;
            }
            .book .book_wrap .tit h2 br {
                display: none; /* 줄바꿈 삭제 */
            }
            .book .book_wrap .tit p {
                display: none; /* 숨김 */
            }
            .book .book_wrap .list {
                width: auto;
                overflow-x: auto;
                padding: 5px 0 5px 10px; /* drop shadow값 준것만큼 빼줌 */
            }
            .book .book_wrap .list ul {
                gap: 16px;
                width: 1176px;
                /*
                    li의 넓이 * li의 갯수 = 152*7 = 1064
                    사이 여백 * li의 갯수 = 16*7 = 112
                    1064 + 112 = 1176
                */
            }
            .book .book_wrap .list ul li {
                width: 152px;
            }
            .book .book_wrap .list ul li a .photo {
                border-radius: 10px;
            }
            .book .book_wrap .list ul li a h3 {
                font-size: 18px;
                color: #2d2d2d;
                margin: 12px 0 3px 0;
            
                /* 1줄제한 ->2줄변경 */
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5;
                height: 2.8em;
            }
            .book .book_wrap .list ul li a strong span {
                display: none;
            }
            .book .book_wrap .more {
                left: auto;
                right: 20px;
                top: 0;
                color: #3d3d3d;
                padding: 0 32px 0 0;    
            }
            .book .book_wrap .more::after {
                right: -20px;
                top: -1px;
                width: 100%;
                height: 100%;            
            }
}/*@media*/

.interview {
    background-color: #E2E3DD;
    margin: 130px 0 0 0;
    padding: 88px 0;
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    font-size: 40px;
    color: #2d2d2d;
    margin: 0 0 13px 0;
}
.interview .list {
    margin: 48px 0 0 0;
}
.interview .list ul {
    display: flex; /* li를 좌우로 */
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 34px);
    /* 100% 한줄에 나오는 li의 갯수 = 33.33
        한줄에 여백의 합 / 한줄에 나오는 li의 갯수 = 102/3 = 34 */
}
.interview .list ul li:nth-child(2) {
    /* 디자인이 무조건 두번재 요소는 스타일이 다름 */
    margin: 45px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* txt, txt_over 정렬의 기준 */
}
.interview .list ul li a .photo {
    position: relative; /* befoer 정렬의 기준 */
    overflow: hidden;
    height: 447px;
    border-radius: 40px 0 40px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    /* 디자인이 무조건 두번째 요소는 스타일이 다름 */
    border-radius: 0 40px 0px 40px;
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10; 
    /* 이미지보다 순서를 위로
        z-index가 없는 것보다 있으면 무조건 위
        z-index가 서로 있으면 높은 숫자가 위로 올라감
        z-index값은 position값이 필요 */
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    transition: 0.5s;
}
.interview .list ul li a .photo img {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.interview .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 40px;
    bottom: 30px;
    z-index: 11;
    /* z-index는 숫자가 높은게 위 */
    width: calc(100% - 100px);
    transition: 0.5s;
}
.interview .list ul li a .txt::after {
    content: "";
    position: absolute;
    right: 0;
    top: 14px;
    width: 34px;
    height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 25.75C12.5986 25.75 12.2622 25.6142 11.9906 25.3427C11.7191 25.0712 11.5833 24.7347 11.5833 24.3333V14.4167H1.66667C1.26528 14.4167 0.928819 14.2809 0.657292 14.0094C0.385764 13.7378 0.25 13.4014 0.25 13C0.25 12.5986 0.385764 12.2622 0.657292 11.9906C0.928819 11.7191 1.26528 11.5833 1.66667 11.5833H11.5833V1.66667C11.5833 1.26528 11.7191 0.928819 11.9906 0.657292C12.2622 0.385764 12.5986 0.25 13 0.25C13.4014 0.25 13.7378 0.385764 14.0094 0.657292C14.2809 0.928819 14.4167 1.26528 14.4167 1.66667V11.5833H24.3333C24.7347 11.5833 25.0712 11.7191 25.3427 11.9906C25.6142 12.2622 25.75 12.5986 25.75 13C25.75 13.4014 25.6142 13.7378 25.3427 14.0094C25.0712 14.2809 24.7347 14.4167 24.3333 14.4167H14.4167V24.3333C14.4167 24.7347 14.2809 25.0712 14.0094 25.3427C13.7378 25.6142 13.4014 25.75 13 25.75Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.interview .list ul li a .txt strong {
    color: #fff;
    font-size: 30px;    
}
.interview .list ul li a .txt_over {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    width: calc(100% - 30px);
    bottom: -80px;
    z-index: 12; /* z-index는 숫자가 높은게 위 */
    background-color: #684025;
    color: #fff;
    padding: 28px 35px 21px 30px;
    border-radius: 40px 0 40px 0;

    opacity: 0;
    /* 부드럽게 나타났다가 사라지는건 display:none으로 구현X
        opacity 0 ->1로 변경
        opacity는 공간을 차지함 ... 주의 */
    transition: 0.5s;
}
.interview .list ul li:nth-child(2) a .txt_over {
    border-radius: 0 40px 0 40px;
}
.interview .list ul li a .txt_over h3 {
    font-size: 30px;
    margin: 0 0 6px 0;
}
.interview .list ul li a .txt_over p {
    /* 2줄로 제한 ---절대 padding 주면 안됨 */
    line-height: 1.5;
    height: 3em; /* 행간*줄수 (단위는 em) */
    overflow: hidden;

    /* 2줄 이상으로 제한할때 끝에 ... 추가하는 코드 */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 줄수 */
    -webkit-box-orient: vertical;
}
.interview .list ul li a .txt_over span {
    display: inline-block;
    margin: 11px 0 0 0;
    padding: 0 30px 0 0 ;
    color: rgba(255, 255, 255, 0.8);
    position: relative; /* after 정렬의 기준 */
}
.interview .list ul li a .txt_over span::after {
    content: "";
    position: absolute; /* span태그를 기준으로 정렬 */
    right: -10px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15.5C7.76389 15.5 7.56597 15.4201 7.40625 15.2604C7.24653 15.1007 7.16667 14.9028 7.16667 14.6667V8.83333H1.33333C1.09722 8.83333 0.899306 8.75347 0.739583 8.59375C0.579861 8.43403 0.5 8.23611 0.5 8C0.5 7.76389 0.579861 7.56597 0.739583 7.40625C0.899306 7.24653 1.09722 7.16667 1.33333 7.16667H7.16667V1.33333C7.16667 1.09722 7.24653 0.899306 7.40625 0.739583C7.56597 0.579861 7.76389 0.5 8 0.5C8.23611 0.5 8.43403 0.579861 8.59375 0.739583C8.75347 0.899306 8.83333 1.09722 8.83333 1.33333V7.16667H14.6667C14.9028 7.16667 15.1007 7.24653 15.2604 7.40625C15.4201 7.56597 15.5 7.76389 15.5 8C15.5 8.23611 15.4201 8.43403 15.2604 8.59375C15.1007 8.75347 14.9028 8.83333 14.6667 8.83333H8.83333V14.6667C8.83333 14.9028 8.75347 15.1007 8.59375 15.2604C8.43403 15.4201 8.23611 15.5 8 15.5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.interview .more {
    display: none; /* 모바일에서만 보임 */
}

@media screen and (min-width:641px) {
    /*********** over 했을때 ***********/
    .interview .list ul li a:hover .photo::before {
        opacity: 0;
    }
    .interview .list ul li a:hover .photo img {
        filter: grayscale(0);
    }
    .interview .list ul li a:hover .txt {
        opacity: 0;
    }
    .interview .list ul li a:hover .txt_over {
        opacity: 1;
        bottom: -51px;
    }
}/*@media*/
@media screen and (max-width:640px) {
                .interview {
                    background-color: #E2E3DD;
                    margin: 80px 0 0 0;
                    padding: 90px 0 254px 0
                }
                .interview .wrapper {
                    position: relative; /* more 정렬의 기준 */
                }
                .interview .tit {
                    text-align: left;
                }
                .interview .tit h2 {
                    font-size: 25px;
                    margin: 0 ;
                }
                .interview .tit p {
                    display: none;
                }
                .interview .list {
                    margin: 35px 0 0 0;
                }
                .interview .list ul {
                    display: block; /* flex -> block */
                }
                .interview .list ul li {
                    width: auto;
                }
                .interview .list ul li:nth-child(2),
                .interview .list ul li:nth-child(3) {
                    display: none; /* 2-3번 숨김 */
                }
                .interview .list ul li a .photo {
                    height: 384px;
                    border-radius: 20px 0 20px 0;
                }
                .interview .list ul li a .photo::before {
                    display: none;
                }
                .interview .list ul li a .photo img {
                    filter: grayscale(0);
                }
                .interview .list ul li a .txt {
                    display: none;
                }
                .interview .list ul li a .txt_over {
                    width: 93.12%;
                    bottom: -70px;
                    padding: 25px 32px 34px 24px;
                    border-radius: 20px 0 20px 0;
                    opacity: 1;
                }
                .interview .list ul li a .txt_over h3 {
                    font-size: 20px;
                    margin: 0 0 15px 0;
                }
                .interview .more {
                    display: block; /* 모바일에서 나타남 */
                    position: absolute;
                    right: 0;
                    top: 5px;
                    width: 26px;
                    height: 26px;
                    border-radius: 40%;
                    background-color: #E2E3DD;
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.91668 9.08366H1.50001C1.19307 9.08366 0.935776 8.97984 0.728137 8.7722C0.520498 8.56456 0.416678 8.30727 0.416678 8.00033C0.416678 7.69338 0.520498 7.43609 0.728137 7.22845C0.935776 7.02081 1.19307 6.91699 1.50001 6.91699H6.91668V1.50033C6.91668 1.19338 7.0205 0.936089 7.22814 0.728451C7.43578 0.520812 7.69307 0.416992 8.00001 0.416992C8.30696 0.416992 8.56425 0.520812 8.77189 0.728451C8.97953 0.936089 9.08334 1.19338 9.08334 1.50033V6.91699H14.5C14.807 6.91699 15.0642 7.02081 15.2719 7.22845C15.4795 7.43609 15.5833 7.69338 15.5833 8.00033C15.5833 8.30727 15.4795 8.56456 15.2719 8.7722C15.0642 8.97984 14.807 9.08366 14.5 9.08366H9.08334V14.5003C9.08334 14.8073 8.97953 15.0646 8.77189 15.2722C8.56425 15.4798 8.30696 15.5837 8.00001 15.5837C7.69307 15.5837 7.43578 15.4798 7.22814 15.2722C7.0205 15.0646 6.91668 14.8073 6.91668 14.5003V9.08366Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                .interview .more span {
                    display: none; /* 글자 숨김 */
                }
}

.story {
    margin: 130px 0 0 0;
}
.story .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.story .tit h2 {
    font-size: 40px;
    color: #2d2d2d;
}
.story .list {
    margin: 50px 0 0 0;
}
.story .list ul {
    display: flex; /* li를 좌우로 배치 */
    justify-content: space-between; /* 일반적으로 gap으로 잘 안줌 */
}
.story .list ul li {
    width: calc(25% - 18px);
    /* 100% / 한줄에 보이는 li의 갯수 = 25%
        한줄의 여백의 총합 / 한줄에 보이는 li의 갯수 = 24 * 3 (72) / 4 = 18
     */
    /*border: 1px solid ededed; 라인이 있는 경우 */
    border-radius: 30px;
}
.story .list ul li a {
    display: block;
}
.story .list ul li a .photo {
    overflow: hidden;
    height: 271px; /* 짧은거 */
    border-radius: 30px 30px 0 0;
}
.story .list ul li.long a .photo {
    height: 370px; /* 긴거 */
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/*.story .list ul li a .txt {
    padding: ;
}*/
.story .list ul li a .txt strong {
    display: block;
    color: #3d3d3d;
    margin: 22px 0 0 0;

     /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .txt h3 {
    font-size: 20px;
    color: #2d2d2d;
    margin: 5px 0 15px 0;

    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .txt p {
    /* 7줄로 제한 ---절대 padding 주면 안됨 */
    line-height: 1.5;
    height: 12em; /* 행간*줄수 (단위는 em) */
    overflow: hidden;

    /* 2줄 이상으로 제한할때 끝에 ... 추가하는 코드 */
    display: -webkit-box;
    -webkit-line-clamp: 8; /* 줄수 */
    -webkit-box-orient: vertical;

    word-break: normal;
}
.story .list ul li.long a .txt p {
    height: 6em; /* 행간*줄수 (단위는 em) */
    -webkit-line-clamp: 4; /* 줄수 */
}
.story .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 5px;
    top: 20px;
    color: #3d3d3d;
    padding: 0 34px 0 0;    
}
.story .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8H1C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H6V1C6 0.716667 6.09583 0.479167 6.2875 0.2875C6.47917 0.0958333 6.71667 0 7 0C7.28333 0 7.52083 0.0958333 7.7125 0.2875C7.90417 0.479167 8 0.716667 8 1V6H13C13.2833 6 13.5208 6.09583 13.7125 6.2875C13.9042 6.47917 14 6.71667 14 7C14 7.28333 13.9042 7.52083 13.7125 7.7125C13.5208 7.90417 13.2833 8 13 8H8V13C8 13.2833 7.90417 13.5208 7.7125 13.7125C7.52083 13.9042 7.28333 14 7 14C6.71667 14 6.47917 13.9042 6.2875 13.7125C6.09583 13.5208 6 13.2833 6 13V8Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width:641px){
    /****** over style *******/
    .story .list ul li a:hover .photo img {
        transform: scale3d(1.2, 1.2, 1);
    }
    .story .list ul li a .txt h3 span {
        position: relative; /* after 정렬의 기준 */
    }
    .story .list ul li a .txt h3 span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0%;
        height: 1px;
        background-color: #9d9d9d;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.5s;
    }
    .story .list ul li a:hover .txt h3 span::after {
        width: 100%;
    }
}/*@media*/
@media screen and (max-width:640px){
                .story {
                    margin: 90px 0 0 0;
                }
                .story .tit h2 {
                    font-size: 25px;
                }
                .story .list {
                    margin: 20px 0 0 0;
                }
                .story .list ul {
                    display: block; /* flex 해제 */
                }
                .story .list ul li {
                    width: auto;
                    border: 0; /* 4곳에 들어가는 border 삭제 */
                    border-bottom: 1px solid #D9D9D9;
                    border-radius: 0;
                    padding: 21px 0; 
                }
                .story .list ul li:first-child {
                    border-top: 1px solid #D9D9D9;
                }
                .story .list ul li a {
                    display: flex; /* photo, txt 좌우로 배치 */
                    flex-direction: row-reverse; /* 좌우 반전 */
                    justify-content: space-between;
                }
                .story .list ul li a .photo {  
                    /* width: 37.5%; */
                    width: 120px;
                    height: 77px; /* 짧은거 */
                    border-radius: 0;
                }
                .story .list ul li.long a .photo {
                    height: 77px; /* 긴거 */
                }
                /*.story .list ul li a .txt {
                    padding: ;
                }*/
                .story .list ul li a .txt {
                    /* width: calc(100% - 138px); */
                    width: 56.87%;
                }
                .story .list ul li a .txt strong {
                    /* 1줄 제한 -> 여러줄 허용 */
                    white-space: normal; /* 여러줄 허용 */
                    overflow: visible; /* 넘치는 요소 안짜름 */
                }
                .story .list ul li a .txt h3 {
                    font-size: 17px;
                    margin: 6px 0 18px 0;
                
                    /* 1줄 제한 -> 여러줄 허용 */
                    white-space: normal; /* 여러줄 허용 */
                    overflow: visible; /* 넘치는 요소 안짜름 */
                }
                .story .list ul li a .txt p {
                    display: none; /* 숨김 */
                }
                .story .more {
                    right: 0px;
                    top: 13px;
                    color: #3d3d3d;
                    padding: 0 32px 0 0;    
                }
                .story .more::after {
                    right: -25px;
                    top: -1px;
                    width: 100%;
                    height: 100%;
                
                }                
}/*@media*/

footer {
    margin: 130px 0 0 0;
    padding: 54px 0 60px 0;
    background-color: #684025;
    color: #fff;
}
footer .wrapper {
    display: flex; /* slogan, f_info 좌우 */
    justify-content: space-between;
    position: relative; /* copyright 정렬의 기준 */
}
footer .slogan p {
    font-size: 30px;
}
footer .f_info h3 {
    font-size: 27px;
    margin: 0 0 18px 0;
}
footer .f_info address,
footer .f_info ul.tel {
    margin-bottom: 36px;
    color: rgba(255, 255, 255, 0.6);
}
footer .f_info ul.sns {
    display: flex;
    gap: 32px;
    color: rgba(255, 255, 255, 0.6);
}
footer .copyright {
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    bottom: 0;
}
footer .copyright .f_logo {
    margin: 0 0 15px 0;
}
footer .copyright .f_logo img {
    width: 148px;
}
footer .copyright p {
    color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:640px){
            footer {
                margin: 90px 0 0 0;
                padding: 48px 0 86px 0;
            }
            footer .wrapper {
                display: block; /* flex 해제 */
            }
            footer .slogan p {
                font-size: 20px;
            }
            footer .f_info {
                margin: 30px 0 0 0;
            }
            footer .f_info h3 {
                font-size: 18px;
                margin: 0 0 8px 0;
            }
            footer .f_info address,
            footer .f_info ul.tel {
                margin-bottom: 30px;
            }
            footer .copyright {
                position: relative; /* absolute 해제 */
                left: auto;
                bottom: auto;
                margin: 60px 0 0 0;
            }
            footer .copyright .f_logo {
                margin: 0 0 8px 0;
            }
            footer .copyright .f_logo img {
                width: 90px;
            }
}/*@media*/