@import url(default.css);
@import url(res_common.css);
@import url(font.css);

header {
    position: fixed; /* 상단고정 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: 0.5s;
}
header .wrapper {
    display: flex;/* logo,gnb,tnb 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 176px;
    height: 46px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain - 로고를 안짤리고 영역에 맞게 리사이즈*/
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex; /* 1차메뉴 li를 좌우로 배치*/
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    /* 1차메뉴 a */
    display: block;
    font-size: 22px;
    font-weight: 800;
    line-height: 100px; /* header 높이와 동일 */
    color: #fff;
    padding: 0 17px;
    transition: 0.5s;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
    display: none; /* 숨김 */
}
header .tnb .search {
    display: block;
    width: 56px;
    height: 56px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.125 20.2656C9.85417 20.2656 7.93229 19.4792 6.35938 17.9062C4.78646 16.3333 4 14.4115 4 12.1406C4 9.86979 4.78646 7.94792 6.35938 6.375C7.93229 4.80208 9.85417 4.01562 12.125 4.01562C14.3958 4.01562 16.3177 4.80208 17.8906 6.375C19.4635 7.94792 20.25 9.86979 20.25 12.1406C20.25 13.0573 20.1042 13.9219 19.8125 14.7344C19.5208 15.5469 19.125 16.2656 18.625 16.8906L25.625 23.8906C25.8542 24.1198 25.9688 24.4115 25.9688 24.7656C25.9688 25.1198 25.8542 25.4115 25.625 25.6406C25.3958 25.8698 25.1042 25.9844 24.75 25.9844C24.3958 25.9844 24.1042 25.8698 23.875 25.6406L16.875 18.6406C16.25 19.1406 15.5312 19.5365 14.7188 19.8281C13.9062 20.1198 13.0417 20.2656 12.125 20.2656ZM12.125 17.7656C13.6875 17.7656 15.0156 17.2188 16.1094 16.125C17.2031 15.0312 17.75 13.7031 17.75 12.1406C17.75 10.5781 17.2031 9.25 16.1094 8.15625C15.0156 7.0625 13.6875 6.51562 12.125 6.51562C10.5625 6.51562 9.23438 7.0625 8.14062 8.15625C7.04688 9.25 6.5 10.5781 6.5 12.1406C6.5 13.7031 7.04688 15.0312 8.14062 16.125C9.23438 17.2188 10.5625 17.7656 12.125 17.7656Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}
/**************** header가 고정되었을때 ***************/
header.fixed {
    border-bottom: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
    /* 
        background로 선언하고 배경이미지, 반복, 위치, 크기를
        지정했는데 이때 이미지만 변경하려면
        반드시 background-image 라고 속성을 쓰고 변경해야함
        background라고 하면 모든 반복, 위치, 크기등의 다른 속성이 취소됨..
    */
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a {
    color: #1d1d1d;
}
header.fixed .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.125 20.2656C9.85417 20.2656 7.93229 19.4792 6.35938 17.9062C4.78646 16.3333 4 14.4115 4 12.1406C4 9.86979 4.78646 7.94792 6.35938 6.375C7.93229 4.80208 9.85417 4.01562 12.125 4.01562C14.3958 4.01562 16.3177 4.80208 17.8906 6.375C19.4635 7.94792 20.25 9.86979 20.25 12.1406C20.25 13.0573 20.1042 13.9219 19.8125 14.7344C19.5208 15.5469 19.125 16.2656 18.625 16.8906L25.625 23.8906C25.8542 24.1198 25.9688 24.4115 25.9688 24.7656C25.9688 25.1198 25.8542 25.4115 25.625 25.6406C25.3958 25.8698 25.1042 25.9844 24.75 25.9844C24.3958 25.9844 24.1042 25.8698 23.875 25.6406L16.875 18.6406C16.25 19.1406 15.5312 19.5365 14.7188 19.8281C13.9062 20.1198 13.0417 20.2656 12.125 20.2656ZM12.125 17.7656C13.6875 17.7656 15.0156 17.2188 16.1094 16.125C17.2031 15.0312 17.75 13.7031 17.75 12.1406C17.75 10.5781 17.2031 9.25 16.1094 8.15625C15.0156 7.0625 13.6875 6.51562 12.125 6.51562C10.5625 6.51562 9.23438 7.0625 8.14062 8.15625C7.04688 9.25 6.5 10.5781 6.5 12.1406C6.5 13.7031 7.04688 15.0312 8.14062 16.125C9.23438 17.2188 10.5625 17.7656 12.125 17.7656Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    
}
@media screen and (max-width:640px) {
            header {
                height: 56px;
            }
            header .wrapper {
                margin-right: 0;
                /* 오른쪽 여백 삭제 - gnb_open 배치하려고 */
            }
            header .logo a {
                width: 100px;
                height: 30px;
            }
            header .gnb .gnb_open{
                display: block; /* 모바일에서만 나옴 */
                width: 56px;
                height: 56px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_2' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_2)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: center center;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap {
                display: none; /* 숨김 */
            }
            
            header .tnb {
                display: none;
                    /**************** header가 고정되었을때 ***************/
            }
            header.fixed .gnb .gnb_open{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_5' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_5)'%3E%3Cpath d='M4 7C3.71667 7 3.47917 6.90417 3.2875 6.7125C3.09583 6.52083 3 6.28333 3 6C3 5.71667 3.09583 5.47917 3.2875 5.2875C3.47917 5.09583 3.71667 5 4 5H20C20.2833 5 20.5208 5.09583 20.7125 5.2875C20.9042 5.47917 21 5.71667 21 6C21 6.28333 20.9042 6.52083 20.7125 6.7125C20.5208 6.90417 20.2833 7 20 7H4ZM4 19C3.71667 19 3.47917 18.9042 3.2875 18.7125C3.09583 18.5208 3 18.2833 3 18C3 17.7167 3.09583 17.4792 3.2875 17.2875C3.47917 17.0958 3.71667 17 4 17H20C20.2833 17 20.5208 17.0958 20.7125 17.2875C20.9042 17.4792 21 17.7167 21 18C21 18.2833 20.9042 18.5208 20.7125 18.7125C20.5208 18.9042 20.2833 19 20 19H4ZM4 13C3.71667 13 3.47917 12.9042 3.2875 12.7125C3.09583 12.5208 3 12.2833 3 12C3 11.7167 3.09583 11.4792 3.2875 11.2875C3.47917 11.0958 3.71667 11 4 11H20C20.2833 11 20.5208 11.0958 20.7125 11.2875C20.9042 11.4792 21 11.7167 21 12C21 12.2833 20.9042 12.5208 20.7125 12.7125C20.5208 12.9042 20.2833 13 20 13H4Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E ");
            }
}/*@media*/

.visual {
    height: 100vh; /* 브라우저 높이 */
    background: url(../images/visual_bg2.jpg) no-repeat center center /cover;
    color: #fff;
    border: 1px solid transparent;
    /* 투명한 1px border - margin이 영역 밖으로 못나가게 하는 방법 */
}
.visual h2 {
    margin: 57.77vh 0 0 0;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
}
@media screen and (max-width:640px) {
    
            .visual h2 {
                margin: 54.5vh 0 0 0;
                transform: translateY(-50%);
                /* 나의 높이 절반을 위로 이동 */
                font-size: 30px;
                text-align: center;
            }
}/*@media*/

footer {
    margin: 3000px 0 0 0;
}