@import url(default.css);
@import url(font.css);
@import url(common.css);


body {
    color: #3d3d3d;
    margin: 0 0 400px 0;
}

h1 {
    font-size: 40px;
    font-weig7ht: 800;
    color: #3d3d3d;
    margin: 100px 0 30px 0;
}
.img_test .group {
    display: flex;
    gap: 100px;
}
.img_test .group .inner ul {
    display: flex;
}
.img_test .group .inner ul li img {
    width: 200px;
}

.img_svg .btn_wrap {
    display: flex;
    gap: 24px;
}
.img_svg .btn_wrap a {
    border: 1px solid #08700F;
    border-radius: 30px;
    display: flex; /* span i태그 좌우 배치 */
    align-items: center;
    gap: 18px;
    padding: 15px 30px 13px 38px;
}

.svg_html .btn_wrap {
    display: flex;
    gap: 24px;
}
.svg_html .btn_wrap a {
    border: 1px solid #08700F;
    border-radius: 30px;
    display: block; /* a 필수값 */
    padding: 15px 74px 15px 38px;
    /* 오른쪽에 o태그 무시하고 여백 계산 */
    position: relative; /* i태그 정렬의 기준 */
}
.svg_html .btn_wrap a i {
    position: absolute; /* a를 기준으로 저장 */
    right: 37px;
    top: 16px ;
}
.svg_html .btn_wrap a:hover {
    border-color: #0879CA; /* 배경색과 같은색으로 테두리색 */
    background-color: #0879CA;
    color: #fff;
}
.svg_html .btn_wrap a:hover i {
    
}