@import url(default.css);
@import url(font.css);
@import url(res_common.css);

h1 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
}
.box {
    width: 500px;
    height: 300px;
    background-color: yellowgreen;
    transition: 0.5s;
}
.box.bg_red {
    background-color: red;
    color: #fff;
}

.group {
    margin: 100px 0;
    width: 300px;
    height: 200px;
    background-color: tomato;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 50px 0 0 0;
}
.group.on {
    background-color: teal;
    font-weight: 800;
}