/* 회사소개 */

.page_tit {
     margin-top: 64px;
}
.page_tit .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.page_tit .photo {
    overflow: hidden;
    height: 590px;
    border-radius: 0 100px 100px 100px;
    margin: 0 0 0 384px;
}
.page_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page_tit .tit_txt {
    position: absolute;
    left: 0;
    top: 65px;
    color: var(--tit-color);
    text-align: left;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.page_tit .tit_txt h2 {
    font-size: 100px;
}
.page_tit .tit_txt h2 span {
    color: #fff;
}
.page_tit .tit_txt p {
    font-size: 30px;
    margin-top: 8px;
}
@media screen and (max-width:1024px){
        .page_tit {
            margin-top: 27px;
        }
        .page_tit .photo {
            height: 180px;
            width: 100%;
            border-radius: 0 50px 50px 50px;
            margin: 0 0 0 134px;
        }
        .page_tit .tit_txt {
            top: 12px;
        }
        .page_tit .tit_txt h2 {
            font-size: 35px;
        }
        .page_tit .tit_txt p {
            font-size: 20px;
            margin-top: 6px;
        }
}/*@media*/

.ctn_info {
    margin-top: 176px;
    padding: 120px 0 81px 0;
    background-color: #F7F6F1;
}
.ctn_info .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 131px;
}
.ctn_info .com_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 46px 0;
}
.ctn_info .photo {
    overflow: hidden;
    height: 332px;
    border-radius: 40px;
}
.ctn_info .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_info .txt_box {
    width: calc(100% - 642px);
    margin: 28px 0 0 0;
}
.ctn_info .txt_box .com_txt p span {
    color: var(--tit-color);
    font-weight: var(--bold-weight);
}
.ctn_info .txt_box .btn_wap {
    text-align: right;
    margin-top: 45px;
}
.ctn_info .txt_box .btn_wap .txt_download {
    border: 1px solid #555;
    border-radius: 20px;
    padding: 16px 58px 16px 25px;
    font-size: 18px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    position: relative;
}
.ctn_info .txt_box .btn_wap .txt_download::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_632_874' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_632_874)'%3E%3Cpath d='M12 15.575C11.8667 15.575 11.7417 15.5542 11.625 15.5125C11.5083 15.4708 11.4 15.4 11.3 15.3L7.7 11.7C7.5 11.5 7.40417 11.2667 7.4125 11C7.42083 10.7333 7.51667 10.5 7.7 10.3C7.9 10.1 8.1375 9.99583 8.4125 9.9875C8.6875 9.97917 8.925 10.075 9.125 10.275L11 12.15V5C11 4.71667 11.0958 4.47917 11.2875 4.2875C11.4792 4.09583 11.7167 4 12 4C12.2833 4 12.5208 4.09583 12.7125 4.2875C12.9042 4.47917 13 4.71667 13 5V12.15L14.875 10.275C15.075 10.075 15.3125 9.97917 15.5875 9.9875C15.8625 9.99583 16.1 10.1 16.3 10.3C16.4833 10.5 16.5792 10.7333 16.5875 11C16.5958 11.2667 16.5 11.5 16.3 11.7L12.7 15.3C12.6 15.4 12.4917 15.4708 12.375 15.5125C12.2583 15.5542 12.1333 15.575 12 15.575ZM6 20C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18V16C4 15.7167 4.09583 15.4792 4.2875 15.2875C4.47917 15.0958 4.71667 15 5 15C5.28333 15 5.52083 15.0958 5.7125 15.2875C5.90417 15.4792 6 15.7167 6 16V18H18V16C18 15.7167 18.0958 15.4792 18.2875 15.2875C18.4792 15.0958 18.7167 15 19 15C19.2833 15 19.5208 15.0958 19.7125 15.2875C19.9042 15.4792 20 15.7167 20 16V18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20H6Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
        .ctn_info {
            margin-top: 50px;
            padding: 50px 0 68px 0;
        }
        .ctn_info .wrapper {
            display: block;
        }
        .ctn_info .com_tit {
            text-align: center;
        }
        .ctn_info .com_tit strong {
            font-size: 16px;
        }
        .ctn_info .com_tit h2 {
            font-size: 25px;
            margin: 5px 0 20px 0;
        }
        .ctn_info .photo {
            height: 260px;
            border-radius: 40px;
        }
        .ctn_info .txt_box {
            width: auto;
            margin: 25px 0 0 0;
        }
        .ctn_info .txt_box .com_txt p {
            font-size: 15px;
        }
        .ctn_info .txt_box .btn_wap {
            text-align: center;
            margin-top: 43px;
        }
        .ctn_info .txt_box .btn_wap .txt_download {
            border: 1px solid #555;
            border-radius: 10px;
            padding: 10px 45px 9px 15px;
            font-size: 16px;
        }
        .ctn_info .txt_box .btn_wap .txt_download::after {
            right: 13px;
            bottom: 9px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_638_1447' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_638_1447)'%3E%3Cpath d='M9.99992 12.9788C9.88881 12.9788 9.78464 12.9615 9.68742 12.9268C9.5902 12.892 9.49992 12.833 9.41659 12.7497L6.41659 9.74967C6.24992 9.58301 6.17006 9.38856 6.177 9.16634C6.18395 8.94412 6.26381 8.74967 6.41659 8.58301C6.58325 8.41634 6.78117 8.32954 7.01034 8.32259C7.2395 8.31565 7.43742 8.39551 7.60408 8.56217L9.16658 10.1247V4.16634C9.16658 3.93023 9.24645 3.73231 9.40617 3.57259C9.56589 3.41287 9.76381 3.33301 9.99992 3.33301C10.236 3.33301 10.4339 3.41287 10.5937 3.57259C10.7534 3.73231 10.8333 3.93023 10.8333 4.16634V10.1247L12.3958 8.56217C12.5624 8.39551 12.7603 8.31565 12.9895 8.32259C13.2187 8.32954 13.4166 8.41634 13.5833 8.58301C13.736 8.74967 13.8159 8.94412 13.8228 9.16634C13.8298 9.38856 13.7499 9.58301 13.5833 9.74967L10.5833 12.7497C10.4999 12.833 10.4096 12.892 10.3124 12.9268C10.2152 12.9615 10.111 12.9788 9.99992 12.9788ZM4.99992 16.6663C4.54159 16.6663 4.14922 16.5031 3.82284 16.1768C3.49645 15.8504 3.33325 15.458 3.33325 14.9997V13.333C3.33325 13.0969 3.41311 12.899 3.57284 12.7393C3.73256 12.5795 3.93047 12.4997 4.16659 12.4997C4.4027 12.4997 4.60061 12.5795 4.76034 12.7393C4.92006 12.899 4.99992 13.0969 4.99992 13.333V14.9997H14.9999V13.333C14.9999 13.0969 15.0798 12.899 15.2395 12.7393C15.3992 12.5795 15.5971 12.4997 15.8333 12.4997C16.0694 12.4997 16.2673 12.5795 16.427 12.7393C16.5867 12.899 16.6666 13.0969 16.6666 13.333V14.9997C16.6666 15.458 16.5034 15.8504 16.177 16.1768C15.8506 16.5031 15.4583 16.6663 14.9999 16.6663H4.99992Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
}/*@media*/
@media screen and (max-width:768px){ 
    
        .ctn_info .photo {
            height: 180px;
            border-radius: 20px;
        }
}

.ctn_esg {
    margin-top: 135px;
}
.ctn_esg .esg_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 33px 0;
}
.ctn_esg .esg_tit p {
    margin-bottom: 35px;
}
.ctn_esg .txt_box {
    background-color: #F7F6F1;
    border-radius: 20px;
    padding: 35px 0 44px 35px;
}
.ctn_esg .txt_box .sub_tit h2 {
    font-size: 20px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
.ctn_esg .txt_box .sub_tit p {
    font-size: 18px;
    font-weight: var(--bold-weight);
    margin: 12px 0 12px 0;
}
.ctn_esg .txt_box .list {
    margin-bottom: 20px;
}
.ctn_esg .txt_box .list ol {
    margin: 0 0 0 20px;
}
.ctn_esg .txt_box .list ol li {
    list-style: decimal;
}
@media screen and (max-width:768px){
        .ctn_esg {
            margin-top: 83px;
        }
        .ctn_esg .esg_tit {
            text-align: center;
        }
        .ctn_esg .esg_tit strong {
            font-size: 16px;
        }
        .ctn_esg .esg_tit h2 {
            font-size: 25px;
            margin: 5px 0 20px 0;
        }
        .ctn_esg .esg_tit p {
            font-size: 15px;
            margin-bottom: 32px;
        }
        .ctn_esg .esg_tit p br {
            display: none;
        }
        .ctn_esg .txt_box {
            border-radius: 10px;
            padding: 54px 0 59px 16px;
        }
        .ctn_esg .txt_box .sub_tit h2 { 
            font-size: 17x;
        }
        .ctn_esg .txt_box .sub_tit p {
            font-size: 16px;
            margin: 12px 0 18px 0;
        }
        .ctn_esg .txt_box .list {
            font-size: 15px;
            margin-bottom: 27px;
        }
        .ctn_esg .txt_box .list ol {
            margin: 0 0 0 16px;
        }
        .ctn_esg .txt_box .sub_tit strong {
            font-size: 15px;
        }
        
}/*@media*/


.ctn_biz {
    margin-top: 140px;
}
.ctn_biz .biz_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 64px 0;
}
.ctn_biz .biz_list ul {
    display: flex;  
    gap: 15px;
}
.ctn_biz .biz_list ul li {
    position: relative;
    width: 10%;    
}
.ctn_biz .biz_list ul li .photo {
    display: none;
}
.ctn_biz .biz_list ul li.bg01 .photo {
    background: url(../images/sub/biz_01.jpg) no-repeat center center / cover;
}
.ctn_biz .biz_list ul li.bg02 .photo {
    background: url(../images/sub/biz_02.jpg) no-repeat center center / cover;
}
.ctn_biz .biz_list ul li.bg03 .photo {
    background: url(../images/sub/biz_03.jpg) no-repeat center center / cover;
}
.ctn_biz .biz_list ul li.bg04 .photo {
    background: url(../images/sub/biz_04.jpg) no-repeat center center / cover;
}
.ctn_biz .biz_list ul li.bg05 .photo {
    background: url(../images/sub/biz_05.jpg) no-repeat center center / cover;
}
.ctn_biz .biz_list ul li .txt {
    background: #333;
    color: #fff;
    height: 670px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}
.ctn_biz .biz_list ul li .txt h3 {
    transform: rotate(90deg) translateX(50%);
}
.ctn_biz .biz_list ul li .txt span {
    transform: rotate(90deg) translateX(-50%);
}
@media screen and (min-width:769px){ 
    .ctn_biz .biz_list ul li.active {
        position: relative;
        width: 57.29%;
    }
    .ctn_biz .biz_list ul li.active .photo{
        height: 670px;
        border-radius: 10px;
        padding: 0 60px 50px 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .ctn_biz .biz_list ul li.active .photo h3 {
        font-size: 30px;
        font-weight: var(--bold-weight);
        line-height: var(--tit-line-height);
    }
    .ctn_biz .biz_list ul li.active .photo .sub_tit {
        font-size: 22px;
        font-weight: var(--bold-weight);
        line-height: var(--tit-line-height);
        margin: 12px 0 28px 0;
    }
    .ctn_biz .biz_list ul li.active .photo span {
        position: absolute;
        right: 60px;
        top: 60px;
        font-size: 20px;    
        font-weight: var(--bold-weight);
        line-height: var(--tit-line-height);
    }
    .ctn_biz .biz_list ul li.active .txt {
        display: none;
    }
}
@media screen and (max-width:768px){
        .ctn_biz {
            margin-top: 80px;
        }
        .ctn_biz .biz_tit {
            text-align: center;
        }
        .ctn_biz .biz_tit h2 {
            font-size: 25px;
            margin: 5px 0 20px 0;
        }
        .ctn_biz .biz_list ul {
            display: block;  
        }
        .ctn_biz .biz_list ul li {
            width: 100%; 
            padding: 3px 0;
        }
        .ctn_biz .biz_list ul li .photo{
            height: 230px;
            border-radius: 5px;
            padding: 108px 25px 20px 20px;
            color: #fff;
            display: block;
        }
        .ctn_biz .biz_list ul li .photo h3 {
            font-size: 20px;
            font-weight: var(--bold-weight);
            line-height: var(--tit-line-height);
        }
        .ctn_biz .biz_list ul li .photo .sub_tit {
            font-size: 17px;
            font-weight: var(--bold-weight);
            line-height: var(--tit-line-height);
            margin: 5px 0 10px 0;
        }
        .ctn_biz .biz_list ul li .photo span {
            position: absolute;
            right: 25px;
            top: 25px;
            font-size: 16px; 
            font-weight: var(--bold-weight);
            line-height: var(--tit-line-height); 
        }
        .ctn_biz .biz_list ul li .txt {
            display: none;
        }
}


.ctn_performance{
    margin: 140px 0 98px 0;
 }
.ctn_performance .page_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 39px 0;
 }
.ctn_performance .perfo_tit  {
    background: url(../images/sub/per_bg.jpg) no-repeat center center / cover;
    width: 100%;
    height: 575px;
    color: #fff;
    display: block;    
    padding: 311px 0 63px 0;
    text-align: center;
}
.ctn_performance .perfo_tit strong {
    font-size: 23px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);    
}
.ctn_performance .perfo_tit .list ul{
    display: flex;
    justify-content: space-between;
    padding: 0 139px;
}
.ctn_performance .perfo_tit .list h3 {
      font-size: 60px;
      font-weight: var(--bold-weight);
      line-height: var(--tit-line-height);
      margin: 55px 0 20px 0;
}
.ctn_performance .perfo_tit .list span {
    font-size: 25px;
}
.ctn_performance .perfo_year_group {
    margin-top: 97px;
    display: flex;
    justify-content: space-between;
}
.ctn_performance .perfo_year_group .year_tit {
    max-width: 416px;
    width: 33.2%;
}
.ctn_performance .perfo_year_group .year_tit h3 {
    font-size: 45px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
.ctn_performance .perfo_year_group .year_tit span {
    font-size: 50px;
    color: #8A6440;
}
.ctn_performance .perfo_year_group .year_cont {
    max-width: 645px;
    width: 55%;
    padding: 0 0 0 27px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #ededed;
    position: relative;
}
.ctn_performance .perfo_year_group .year_cont::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -8px;
    width: 4px;
    height: 35px;
    background-color:#fff;
}
.ctn_performance .perfo_year_group .year_cont h4 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 30px 0 15px 0;
    position: relative;
}
.ctn_performance .perfo_year_group .year_cont h4::before {
    content: "";
    position: absolute;
    left: -34px; 
    top: 20px;
    z-index: 10;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--base-color);
}
.ctn_performance .perfo_year_group .year_cont h4:first-child {
    margin: 0 0 15px 0;
}
.ctn_performance .perfo_year_group .year_cont ul:last-child {
    position: relative;
}
.ctn_performance .perfo_year_group .year_cont ul:last-child::before {
    content: "";
    position: absolute;
    left: -31px;
    bottom: 6px;
    width: 4px;
    height: calc(100% + 34px);
    background-color: #fff;
}
.ctn_performance .perfo_year_group .year_cont ul li {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}
.ctn_performance .perfo_year_group .year_cont ul li strong {
    display: block;
}
.ctn_performance .perfo_year_group .year_cont ul li span {
    display: block;
    width: calc(100% - 175px);
}
@media screen and (max-width:1024px){
        .ctn_performance{
            margin: 80px 0 90px 0;
        }
        .ctn_performance .page_tit {
            text-align: center;
        }
        .ctn_performance .page_tit strong {
            font-size: 16px;
        }
        .ctn_performance .page_tit h2 {
            font-size: 25px;
            margin: 5px 0 20px 0;
        }
        .ctn_performance .perfo_tit  {
            height: 470px;
            padding: 80px 0 78px 0;
        }
        .ctn_performance .perfo_tit strong {
            font-size: 17px;   
        }
        .ctn_performance .perfo_tit .list ul{
            display: block;
            padding: 0;
        }
        .ctn_performance .perfo_tit .list h3 {
            font-size: 35px;
            margin: 24px 0 7px 0;
        }
        .ctn_performance .perfo_tit .list span {
            font-size: 16px;
        }
        .ctn_performance .perfo_year_group {
            margin-top: 71px;
            display: block;
        }
        .ctn_performance .perfo_year_group .year_tit {
            max-width: 100%;
            width: auto;            
        }
        .ctn_performance .perfo_year_group .year_tit h3 {
            font-size: 30px;
            text-align: center;
        }
        .ctn_performance .perfo_year_group .year_tit span {
            font-size: 35px;
        }
        .ctn_performance .perfo_year_group .year_cont {
            max-width: 100%;
            width: auto;
            padding: 0 0 0 18px;
        }
        .ctn_performance .perfo_year_group .year_cont::before {
            top: -6px;
            height: 20px;
        }
        .ctn_performance .perfo_year_group .year_cont h4 {
            font-size: 20px;
            margin: 20px 0 10px 0;
        }
        .ctn_performance .perfo_year_group .year_cont h4::before {
            left: -25px; 
            top: 8px;
        }
        .ctn_performance .perfo_year_group .year_cont h4:first-child {
            margin: 48px 0 10px 0;
        }
        .ctn_performance .perfo_year_group .year_cont ul:last-child::before {
            left: -22px;
            bottom: -10px;
        }
        .ctn_performance .perfo_year_group .year_cont ul li {
            font-size: 14px;
        }
        .ctn_performance .perfo_year_group .year_cont ul li span {
            width: calc(100% - 138px);
        }
}/*@media*/





/* 견적문의 */
.ctn_consulting .txt_box {
    margin: 120px 0;
    width: 100%;
}
.ctn_consulting .txt_box h2 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 9px 0 12px 0;
} 
.ctn_consulting .txt_box p {
    font-size: 18px;
    font-weight: var(--bold-weight);
}
.ctn_consulting .txt_box .regist {
    border-top: 2px solid var(--base-color);
    margin-top: 30px ;
}
.ctn_consulting .txt_box .regist .item {
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    gap: 65px;
}
.ctn_consulting .txt_box .regist .item label {
    font-size: 22px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    text-align: center;
    background-color: #F7F6F1;
    padding: 25px 0;
    width: 25%;
    max-width: 190px;
}
.ctn_consulting .txt_box .regist .item select,
.ctn_consulting .txt_box .regist .item input,
.ctn_consulting .txt_box .regist .item textarea {
    margin: 20px 0;
    border: 1px solid rgba(85,85,85,0.4);
    border-radius: 8px;
    min-height: 50px;
    background-color: rgba(244,244,244,0.4);
    padding: 14px 25px;
}
.ctn_consulting .txt_box .regist .item .w100 {
    min-width: calc(100% - 338px);
    width: calc(75% - 60px);
}
.ctn_consulting .txt_box .regist .item .w70 {
    max-width: 607px;
    width: calc(75% - 60px);
}
.ctn_consulting .txt_box .regist .item textarea {
    resize: none;
}
.ctn_consulting .txt_box .regist .item option,
.ctn_consulting .txt_box .regist .item textarea::placeholder,
.ctn_consulting .txt_box .regist .item input::placeholder {
    color: #969696;
    font-size: 15px;
}
.ctn_consulting .txt_box .btn_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.ctn_consulting .txt_box .btn_wrap .Previous,
.ctn_consulting .txt_box .btn_wrap .ok {
    width: 260px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: var(--bold-weight);
    padding: 2px 0 0 0;
    line-height: calc(50px - 6px);
}
.ctn_consulting .txt_box .btn_wrap .Previous {
    background-color: #999;
}
.ctn_consulting .txt_box .btn_wrap .ok {
    background-color: #00291B;
}
@media screen and (max-width:768px){
        .ctn_consulting {
            margin-top: 27px;
        }
        .ctn_consulting .txt_box {
            margin: 60px 0;
        }
        .ctn_consulting .txt_box strong {
            font-size: 15px;
        }
        .ctn_consulting .txt_box h2 {
            font-size: 25px;
            margin: 7px 0 9px 0;
        } 
        .ctn_consulting .txt_box p {
            font-size: 16px;
        }
        .ctn_consulting .txt_box .regist {
            margin-top: 27px ;
        }
        .ctn_consulting .txt_box .regist .item {
            display: block;
            border-bottom: 0;
        }
        .ctn_consulting .txt_box .regist .item label {
            display: block;
            font-size: 18px;
            text-align: left;
            background-color: transparent;
            padding: 20px 0 15px 0;
            max-width: none;
            width: auto;
        }
        .ctn_consulting .txt_box .regist .item select,
        .ctn_consulting .txt_box .regist .item input,
        .ctn_consulting .txt_box .regist .item textarea {
            margin: 0;
            border-radius: 4px;
            min-height: 38px;
            padding: 9px 15px;
        }
        .ctn_consulting .txt_box .regist .item .w100 {
            min-width: 100%;
            width: 100%;
        }
        .ctn_consulting .txt_box .regist .item .w70 {
            max-width: 100%;
            width: 100%;
        }
        .ctn_consulting .txt_box .regist .item option,
        .ctn_consulting .txt_box .regist .item textarea::placeholder,
        .ctn_consulting .txt_box .regist .item input::placeholder {
            font-size: 13px;
        }
        .ctn_consulting .txt_box .btn_wrap {
            margin-top: 30px;
        }
        .ctn_consulting .txt_box .btn_wrap .Previous,
        .ctn_consulting .txt_box .btn_wrap .ok {
            width: 120px;
            height: 38px;
            border-radius: 4px;
            font-size: 17px;
            padding: 2px 0 0 0;
            line-height: calc(38px - 6px);
        }
}/*@media*/


/* 포트폴리오 */ 
.ctn_residential .list {
    margin-top: 90px;
}
.ctn_residential .list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.ctn_residential .list ul li {
    width: calc(33.33% - 16px);
}
.ctn_residential .list ul li a {
    font-size: 35px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 19px 0;
}
.ctn_residential .sub_txt {
    text-align: center;
    margin: 64px 0 76px 0;
}
.ctn_residential .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.ctn_residential .photo_list {
    margin-bottom: 120px;
}
.ctn_residential .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.ctn_residential .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.ctn_residential .photo_list ul li .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.ctn_residential .photo_list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_residential .photo_list ul li p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .ctn_residential .list ul li a {
        padding: 15px 0;
    }
 }
 @media screen and (min-width:769px){
    .ctn_residential .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .ctn_residential .list {
            margin-top: 50px;
        }
        .ctn_residential .list ul{
            gap: 16px;
        }
        .ctn_residential .list ul li {
            width: calc(33.33% - 10.66px);
        }
        .ctn_residential .list ul li a {
            font-size: 18px;
            border-radius: 10px;
            padding: 9px 0;
        }
        .ctn_residential .sub_txt {
            margin: 23px 0 42px 0;
        }
        .ctn_residential .sub_txt p {
            font-size: 15px;
        }
        .ctn_residential .sub_txt strong {
            font-size: 18px;
            margin: 5px 0 0 0;
        }
        .ctn_residential .photo_list {
            margin-bottom: 70px;
        }
        .ctn_residential .photo_list ul {
            display: block;
        }
        .ctn_residential .photo_list ul li {
            width: 100%;
        }
        .ctn_residential .photo_list ul li .photo {
            height: 220px;
            border-radius: 2px;
        }
        .ctn_residential .photo_list ul li p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}

.ctn_commercial .list {
    margin-top: 90px;
}
.ctn_commercial .list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.ctn_commercial .list ul li {
    width: calc(33.33% - 16px);
}
.ctn_commercial .list ul li a {
    font-size: 35px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 19px 0;
}
.ctn_commercial .sub_txt {
    text-align: center;
    margin: 64px 0 76px 0;
}
.ctn_commercial .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.ctn_commercial .photo_list {
    margin-bottom: 120px;
}
.ctn_commercial .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.ctn_commercial .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.ctn_commercial .photo_list ul li .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.ctn_commercial .photo_list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_commercial .photo_list ul li p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .ctn_commercial .list ul li a {
        padding: 15px 0;
    }
 }
 @media screen and (min-width:769px){
    .ctn_commercial .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .ctn_commercial .list {
            margin-top: 50px;
        }
        .ctn_commercial .list ul{
            gap: 16px;
        }
        .ctn_commercial .list ul li {
            width: calc(33.33% - 10.66px);
        }
        .ctn_commercial .list ul li a {
            font-size: 18px;
            border-radius: 10px;
            padding: 9px 0;
        }
        .ctn_commercial .sub_txt {
            margin: 23px 0 42px 0;
        }
        .ctn_commercial .sub_txt p {
            font-size: 15px;
        }
        .ctn_commercial .sub_txt strong {
            font-size: 18px;
            margin: 5px 0 0 0;
        }
        .ctn_commercial .photo_list {
            margin-bottom: 70px;
        }
        .ctn_commercial .photo_list ul {
            display: block;
        }
        .ctn_commercial .photo_list ul li {
            width: 100%;
        }
        .ctn_commercial .photo_list ul li .photo {
            height: 220px;
            border-radius: 2px;
        }
        .ctn_commercial .photo_list ul li p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}


.ctn_accommodation .list {
    margin-top: 90px;
}
.ctn_accommodation .list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.ctn_accommodation .list ul li {
    width: calc(33.33% - 16px);
}
.ctn_accommodation .list ul li a {
    font-size: 35px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 19px 0;
}
.ctn_accommodation .sub_txt {
    text-align: center;
    margin: 64px 0 76px 0;
}
.ctn_accommodation .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.ctn_accommodation .photo_list {
    margin-bottom: 120px;
}
.ctn_accommodation .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.ctn_accommodation .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.ctn_accommodation .photo_list ul li .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.ctn_accommodation .photo_list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_accommodation .photo_list ul li p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .ctn_accommodation .list ul li a {
        padding: 15px 0;
    }
 }
 @media screen and (min-width:769px){
    .ctn_accommodation .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .ctn_accommodation .list {
            margin-top: 50px;
        }
        .ctn_accommodation .list ul{
            gap: 16px;
        }
        .ctn_accommodation .list ul li {
            width: calc(33.33% - 10.66px);
        }
        .ctn_accommodation .list ul li a {
            font-size: 18px;
            border-radius: 10px;
            padding: 9px 0;
        }
        .ctn_accommodation .sub_txt {
            margin: 23px 0 42px 0;
        }
        .ctn_accommodation .sub_txt p {
            font-size: 15px;
        }
        .ctn_accommodation .sub_txt strong {
            font-size: 18px;
            margin: 5px 0 0 0;
        }
        .ctn_accommodation .photo_list {
            margin-bottom: 70px;
        }
        .ctn_accommodation .photo_list ul {
            display: block;
        }
        .ctn_accommodation .photo_list ul li {
            width: 100%;
        }
        .ctn_accommodation .photo_list ul li .photo {
            height: 220px;
            border-radius: 2px;
        }
        .ctn_accommodation .photo_list ul li p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}



/* 3d 디자인 */
.design {
    margin-top: 85px;
}
.design .design_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 35px 0;
}
.design .main_photo {
    overflow: hidden;
    height: 530px;
}
.design .main_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.design .list {
    margin-top: 80px;
}
.design .list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.design .list ul li {
    width: calc(50% - 12px);
}
.design .list ul li a {
    font-size: 30px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 22px 0;
}

.design .sub_txt {
    text-align: center;
    margin: 60px 0 56px 0;
}
.design .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.design .photo_list {
    margin-bottom: 120px;
}
.design .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.design .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.design .photo_list ul li .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.design .photo_list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.design .photo_list ul li p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .design .list ul li a {
        padding: 10px 0;
    }
 }
 @media screen and (min-width:769px){
    .design .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .design {
            margin-top: 70px;
        }
        .design .design_tit strong {
            font-size: 15px;            
        }
        .design .design_tit h2 {
            font-size: 25px;
            margin: 5px 0 24px 0;
        }
        .design .main_photo {
            height: 190px;
        }
        .design .list {
            margin-top: 35px;
        }
        .design .list ul {
            gap: 5px;
        }
        .design .list ul li {
            width: calc(50% - 8px);
        }
        .design .list ul li a {
            font-size: 16px;
            padding: 7px 0;
            border-radius: 10px;
        }
        .design .list ul li span {
            display: none;
        }
        .design .sub_txt {
            margin: 30px 0 55px 0; 
        }
        .design .sub_txt p {
            font-size: 15px;
        }
        .design .sub_txt strong {
            font-size: 16px;
            margin: 8px 0 0 0;
        }
        .design .photo_list {
            margin-bottom: 70px;
        }
        .design .photo_list ul {
            display: block;
        }
        .design .photo_list ul li {
            width: 100%;
        }
        .design .photo_list ul li .photo {
            height: 220px;
            border-radius: 2px;
        }
        .design .photo_list ul li p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}

.design_02 {
    margin-top: 85px;
}
.design_02 .design_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 35px 0;
}
.design_02 .main_photo {
    overflow: hidden;
    height: 530px;
}
.design_02 .main_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.design_02 .list {
    margin-top: 80px;
}
.design_02 .list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.design_02 .list ul li {
    width: calc(50% - 12px);
}
.design_02 .list ul li a {
    font-size: 30px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 22px 0;
}

.design_02 .sub_txt {
    text-align: center;
    margin: 60px 0 56px 0;
}
.design_02 .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.design_02 .photo_list {
    margin-bottom: 120px;
}
.design_02 .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.design_02 .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.design_02 .photo_list ul li .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.design_02 .photo_list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.design_02 .photo_list ul li p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .design_02 .list ul li a {
        padding: 10px 0;
    }
 }
 @media screen and (min-width:769px){
    .design_02 .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .design_02 {
            margin-top: 70px;
        }
        .design_02 .design_tit strong {
            font-size: 15px;            
        }
        .design_02 .design_tit h2 {
            font-size: 25px;
            margin: 5px 0 24px 0;
        }
        .design_02 .main_photo {
            height: 190px;
        }
        .design_02 .list {
            margin-top: 35px;
        }
        .design_02 .list ul {
            gap: 5px;
        }
        .design_02 .list ul li {
            width: calc(50% - 8px);
        }
        .design_02 .list ul li a {
            font-size: 16px;
            padding: 7px 0;
            border-radius: 10px;
        }
        .design_02 .list ul li span {
            display: none;
        }
        .design_02 .sub_txt {
            margin: 30px 0 55px 0; 
        }
        .design_02 .sub_txt p {
            font-size: 15px;
        }
        .design_02 .sub_txt strong {
            font-size: 16px;
            margin: 8px 0 0 0;
        }
        .design_02 .photo_list {
            margin-bottom: 70px;
        }
        .design_02 .photo_list ul {
            display: block;
        }
        .design_02 .photo_list ul li {
            width: 100%;
        }
        .design_02 .photo_list ul li .photo {
            height: 220px;
            border-radius: 2px;
        }
        .design_02 .photo_list ul li p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}




.quick {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    width: 60px;
}
.quick .detail {
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    padding: 19px 0 14px 0;
    display: block;
}
.quick .detail ul li a,
.quick .detail ul li button {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: var(--bold-weight);
    color: var(--main-color);
    text-align: center;
    padding: 35px 0 10px 0;
    position: relative; /* brfore 정렬의 기준 */
}
.quick .detail ul li.top button {
    padding-top: 28px;
}
.quick .detail ul li a::before,
.quick .detail ul li.top button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
.quick .detail ul li.progress a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_224_282' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_224_282)'%3E%3Cpath d='M5 21.0001C4.45 21.0001 3.97917 20.8043 3.5875 20.4126C3.19583 20.0209 3 19.5501 3 19.0001V5.0001C3 4.4501 3.19583 3.97926 3.5875 3.5876C3.97917 3.19593 4.45 3.0001 5 3.0001H11.525C11.8583 3.0001 12.1083 3.10426 12.275 3.3126C12.4417 3.52093 12.525 3.7501 12.525 4.0001C12.525 4.2501 12.4375 4.47926 12.2625 4.6876C12.0875 4.89593 11.8333 5.0001 11.5 5.0001H5V19.0001H19V12.4751C19 12.1418 19.1042 11.8918 19.3125 11.7251C19.5208 11.5584 19.75 11.4751 20 11.4751C20.25 11.4751 20.4792 11.5584 20.6875 11.7251C20.8958 11.8918 21 12.1418 21 12.4751V19.0001C21 19.5501 20.8042 20.0209 20.4125 20.4126C20.0208 20.8043 19.55 21.0001 19 21.0001H5ZM9 14.0001V11.5751C9 11.3084 9.05 11.0543 9.15 10.8126C9.25 10.5709 9.39167 10.3584 9.575 10.1751L18.175 1.5751C18.375 1.3751 18.6 1.2251 18.85 1.1251C19.1 1.0251 19.35 0.975098 19.6 0.975098C19.8667 0.975098 20.1208 1.0251 20.3625 1.1251C20.6042 1.2251 20.825 1.3751 21.025 1.5751L22.425 3.0001C22.6083 3.2001 22.75 3.42093 22.85 3.6626C22.95 3.90426 23 4.1501 23 4.4001C23 4.6501 22.9542 4.89593 22.8625 5.1376C22.7708 5.37926 22.625 5.6001 22.425 5.8001L13.825 14.4001C13.6417 14.5834 13.4292 14.7293 13.1875 14.8376C12.9458 14.9459 12.6917 15.0001 12.425 15.0001H10C9.71667 15.0001 9.47917 14.9043 9.2875 14.7126C9.09583 14.5209 9 14.2834 9 14.0001ZM11 13.0001H12.4L18.2 7.2001L17.5 6.5001L16.775 5.8001L11 11.5751V13.0001Z' fill='%2300291B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.phone a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_224_285' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_224_285)'%3E%3Cpath d='M20 12C19.7333 12 19.4958 11.9042 19.2875 11.7125C19.0792 11.5208 18.9583 11.2833 18.925 11C18.7083 9.45 18.0542 8.12917 16.9625 7.0375C15.8708 5.94583 14.55 5.29167 13 5.075C12.7167 5.04167 12.4792 4.925 12.2875 4.725C12.0958 4.525 12 4.28333 12 4C12 3.71667 12.1 3.47917 12.3 3.2875C12.5 3.09583 12.7333 3.01667 13 3.05C15.1 3.28333 16.8917 4.14167 18.375 5.625C19.8583 7.10833 20.7167 8.9 20.95 11C20.9833 11.2667 20.9042 11.5 20.7125 11.7C20.5208 11.9 20.2833 12 20 12ZM15.825 12C15.6083 12 15.4167 11.925 15.25 11.775C15.0833 11.625 14.9583 11.425 14.875 11.175C14.7417 10.6917 14.4875 10.2625 14.1125 9.8875C13.7375 9.5125 13.3083 9.25833 12.825 9.125C12.575 9.04167 12.375 8.91667 12.225 8.75C12.075 8.58333 12 8.38333 12 8.15C12 7.81667 12.1167 7.54583 12.35 7.3375C12.5833 7.12917 12.8417 7.05833 13.125 7.125C14.0583 7.34167 14.8625 7.7875 15.5375 8.4625C16.2125 9.1375 16.6583 9.94167 16.875 10.875C16.9417 11.1583 16.8667 11.4167 16.65 11.65C16.4333 11.8833 16.1583 12 15.825 12ZM19.95 21C17.8667 21 15.8083 20.5458 13.775 19.6375C11.7417 18.7292 9.89167 17.4417 8.225 15.775C6.55833 14.1083 5.27083 12.2583 4.3625 10.225C3.45417 8.19167 3 6.13333 3 4.05C3 3.75 3.1 3.5 3.3 3.3C3.5 3.1 3.75 3 4.05 3H8.1C8.33333 3 8.54167 3.07917 8.725 3.2375C8.90833 3.39583 9.01667 3.58333 9.05 3.8L9.7 7.3C9.73333 7.56667 9.725 7.79167 9.675 7.975C9.625 8.15833 9.53333 8.31667 9.4 8.45L6.975 10.9C7.30833 11.5167 7.70417 12.1125 8.1625 12.6875C8.62083 13.2625 9.125 13.8167 9.675 14.35C10.1917 14.8667 10.7333 15.3458 11.3 15.7875C11.8667 16.2292 12.4667 16.6333 13.1 17L15.45 14.65C15.6 14.5 15.7958 14.3875 16.0375 14.3125C16.2792 14.2375 16.5167 14.2167 16.75 14.25L20.2 14.95C20.4333 15.0167 20.625 15.1375 20.775 15.3125C20.925 15.4875 21 15.6833 21 15.9V19.95C21 20.25 20.9 20.5 20.7 20.7C20.5 20.9 20.25 21 19.95 21Z' fill='%2300291B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.naver a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0V19H12.6243L6.37571 9.43466V19H0V0H6.37571L12.6243 9.9499V0H19Z' fill='%2300291B'/%3E%3C/svg%3E ");
}
.quick .detail ul li.top button::before {
    top: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_224_288' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_224_288)'%3E%3Cpath d='M12 10.7999L8.10005 14.6999C7.91672 14.8832 7.68338 14.9749 7.40005 14.9749C7.11672 14.9749 6.88338 14.8832 6.70005 14.6999C6.51672 14.5166 6.42505 14.2832 6.42505 13.9999C6.42505 13.7166 6.51672 13.4832 6.70005 13.2999L11.3 8.6999C11.5 8.4999 11.7334 8.3999 12 8.3999C12.2667 8.3999 12.5 8.4999 12.7 8.6999L17.3 13.2999C17.4834 13.4832 17.575 13.7166 17.575 13.9999C17.575 14.2832 17.4834 14.5166 17.3 14.6999C17.1167 14.8832 16.8834 14.9749 16.6 14.9749C16.3167 14.9749 16.0834 14.8832 15.9 14.6999L12 10.7999Z' fill='%2300291B'/%3E%3C/g%3E%3C/svg%3E ");
}

@media screen and (max-width:768px){
    .quick {
        display: none;
    }
}