/* 웹폰트를 선언 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
	font-family: 'Noto Sans KR-Bold';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Noto Sans KR Bold'), 
	url('../font/NotoSansKR-Bold.ttf') format('woff2');
}

@font-face {
	font-family: 'Noto Sans KR-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Noto Sans KR Regular'), 
	url('../font/NotoSansKR-Regular.ttf') format('woff2');
}