header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    margin: 33px 0 0 25px;
}
header .logo a {
    display: block;
    width: 260px;
    height: 34px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}