header {
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    color: #fff;
    background-color: var(--main-color);
    width: 66.7%;
}


header .logo a {
    display: block;
    width: 230px;
    height: 26px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}
header .util {
    display: flex;
    padding: 0 25px 0 0;
    gap: 40px;
}
header .util .lang .lang_open {
    padding: 8px 25px 0 0;
    position: relative; /* before 정렬의 기준 */
}
header .util .lang .lang_open::before {
    content: "";
    position: absolute;
    left: 37px;
    top: 19px;
    width: 25px;
    height: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.0001 5.2311C4.9001 5.2311 4.80635 5.21548 4.71885 5.18423C4.63135 5.15298 4.5501 5.09985 4.4751 5.02485L1.0251 1.57485C0.887598 1.43735 0.818848 1.26235 0.818848 1.04985C0.818848 0.837354 0.887598 0.662354 1.0251 0.524854C1.1626 0.387354 1.3376 0.318604 1.5501 0.318604C1.7626 0.318604 1.9376 0.387354 2.0751 0.524854L5.0001 3.44985L7.9251 0.524854C8.0626 0.387354 8.2376 0.318604 8.4501 0.318604C8.6626 0.318604 8.8376 0.387354 8.9751 0.524854C9.1126 0.662354 9.18135 0.837354 9.18135 1.04985C9.18135 1.26235 9.1126 1.43735 8.9751 1.57485L5.5251 5.02485C5.4501 5.09985 5.36885 5.15298 5.28135 5.18423C5.19385 5.21548 5.1001 5.2311 5.0001 5.2311Z' fill='%23555555'/%3E%3C/svg%3E ");
}
header .util .hamburger .hamburger_open { 
    width: 50px; 
    height: 50px;  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_196_1455' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='5' y='5' width='40' height='40'%3E%3Crect x='5' y='5' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_196_1455)'%3E%3Cpath d='M11.6667 35C11.1944 35 10.7986 34.8403 10.4792 34.5208C10.1597 34.2014 10 33.8056 10 33.3333C10 32.8611 10.1597 32.4653 10.4792 32.1458C10.7986 31.8264 11.1944 31.6667 11.6667 31.6667H28.3333C28.8056 31.6667 29.2014 31.8264 29.5208 32.1458C29.8403 32.4653 30 32.8611 30 33.3333C30 33.8056 29.8403 34.2014 29.5208 34.5208C29.2014 34.8403 28.8056 35 28.3333 35H11.6667ZM11.6667 26.6667C11.1944 26.6667 10.7986 26.5069 10.4792 26.1875C10.1597 25.8681 10 25.4722 10 25C10 24.5278 10.1597 24.1319 10.4792 23.8125C10.7986 23.4931 11.1944 23.3333 11.6667 23.3333H38.3333C38.8056 23.3333 39.2014 23.4931 39.5208 23.8125C39.8403 24.1319 40 24.5278 40 25C40 25.4722 39.8403 25.8681 39.5208 26.1875C39.2014 26.5069 38.8056 26.6667 38.3333 26.6667H11.6667ZM11.6667 18.3333C11.1944 18.3333 10.7986 18.1736 10.4792 17.8542C10.1597 17.5347 10 17.1389 10 16.6667C10 16.1944 10.1597 15.7986 10.4792 15.4792C10.7986 15.1597 11.1944 15 11.6667 15H38.3333C38.8056 15 39.2014 15.1597 39.5208 15.4792C39.8403 15.7986 40 16.1944 40 16.6667C40 17.1389 39.8403 17.5347 39.5208 17.8542C39.2014 18.1736 38.8056 18.3333 38.3333 18.3333H11.6667Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px){
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 110px;
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 18px;
        font-weight: var(--bold-weight);
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a {
        color: var(--point-color);
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: var(--point-color); 
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; 
        position: absolute; 
        left: 4px;
        top: 81px; 
        width: calc(100% - 8px); 
        padding: 14px 0;
        background-color: #fff;
        border-radius: 8px;
        
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > ul.depth2 {
        display: block;
    }
}/*@media*/
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
    display: block;
    color: var(--base-color);
    line-height: 1.8;
    font-size: 14px;
}
header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
    font-weight: var(--bold-weight);
    color: var(--point-color);
}
@media screen and (min-width:1091px) and (max-width:1300px){
    /* 1300 ~ 1080사이일때 */
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 90px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 16px;
    }
}/*@media*/

@media screen and (max-width:1090px){
        header {
            background-color: var(--main-color);
        }
        header .gnb {
            display: none;
        }
        header .util {
            padding: 0;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: none;
        }
        header .util .lang {
            display: none;
        }
        header .util .hamburger .hamburger_open { 
            margin: 25px 25px;
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_420_2' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='5' y='5' width='40' height='40'%3E%3Crect x='5' y='5' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_420_2)'%3E%3Cpath d='M11.6667 35C11.1944 35 10.7986 34.8403 10.4792 34.5208C10.1597 34.2014 10 33.8056 10 33.3333C10 32.8611 10.1597 32.4653 10.4792 32.1458C10.7986 31.8264 11.1944 31.6667 11.6667 31.6667H28.3333C28.8056 31.6667 29.2014 31.8264 29.5208 32.1458C29.8403 32.4653 30 32.8611 30 33.3333C30 33.8056 29.8403 34.2014 29.5208 34.5208C29.2014 34.8403 28.8056 35 28.3333 35H11.6667ZM11.6667 26.6667C11.1944 26.6667 10.7986 26.5069 10.4792 26.1875C10.1597 25.8681 10 25.4722 10 25C10 24.5278 10.1597 24.1319 10.4792 23.8125C10.7986 23.4931 11.1944 23.3333 11.6667 23.3333H38.3333C38.8056 23.3333 39.2014 23.4931 39.5208 23.8125C39.8403 24.1319 40 24.5278 40 25C40 25.4722 39.8403 25.8681 39.5208 26.1875C39.2014 26.5069 38.8056 26.6667 38.3333 26.6667H11.6667ZM11.6667 18.3333C11.1944 18.3333 10.7986 18.1736 10.4792 17.8542C10.1597 17.5347 10 17.1389 10 16.6667C10 16.1944 10.1597 15.7986 10.4792 15.4792C10.7986 15.1597 11.1944 15 11.6667 15H38.3333C38.8056 15 39.2014 15.1597 39.5208 15.4792C39.8403 15.7986 40 16.1944 40 16.6667C40 17.1389 39.8403 17.5347 39.5208 17.8542C39.2014 18.1736 38.8056 18.3333 38.3333 18.3333H11.6667Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
}
@media screen and (max-width:768px){
            header {
                height: var(--header-h-m);
            }
            header .inner {
                padding: 0 20px;
            }    
            header .logo a {
                width: 116px;
                height: 14px;
            }
            header .util .hamburger .hamburger_open { 
                width: 30px; 
                height: 30px;
                margin: 13px 13px; 
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_157_989' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_157_989)'%3E%3Cpath d='M5 22.5C4.64583 22.5 4.34896 22.3802 4.10938 22.1406C3.86979 21.901 3.75 21.6042 3.75 21.25C3.75 20.8958 3.86979 20.599 4.10938 20.3594C4.34896 20.1198 4.64583 20 5 20H17.5C17.8542 20 18.151 20.1198 18.3906 20.3594C18.6302 20.599 18.75 20.8958 18.75 21.25C18.75 21.6042 18.6302 21.901 18.3906 22.1406C18.151 22.3802 17.8542 22.5 17.5 22.5H5ZM5 16.25C4.64583 16.25 4.34896 16.1302 4.10938 15.8906C3.86979 15.651 3.75 15.3542 3.75 15C3.75 14.6458 3.86979 14.349 4.10938 14.1094C4.34896 13.8698 4.64583 13.75 5 13.75H25C25.3542 13.75 25.651 13.8698 25.8906 14.1094C26.1302 14.349 26.25 14.6458 26.25 15C26.25 15.3542 26.1302 15.651 25.8906 15.8906C25.651 16.1302 25.3542 16.25 25 16.25H5ZM5 10C4.64583 10 4.34896 9.88021 4.10938 9.64062C3.86979 9.40104 3.75 9.10417 3.75 8.75C3.75 8.39583 3.86979 8.09896 4.10938 7.85938C4.34896 7.61979 4.64583 7.5 5 7.5H25C25.3542 7.5 25.651 7.61979 25.8906 7.85938C26.1302 8.09896 26.25 8.39583 26.25 8.75C26.25 9.10417 26.1302 9.40104 25.8906 9.64062C25.651 9.88021 25.3542 10 25 10H5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
            }
}/*@media*/




footer {
    background-color: #000;
    color: #fff;
    padding: 81px 0 85px 0;
}
footer .footer_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(204,204,204,0.2);
}
footer .footer_wrap .slogan h3 {
    font-size: 40px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
footer .footer_wrap .slogan h3 span {
    color: #555;
}
footer .footer_wrap .slogan p {
    font-size: 35px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
footer .footer_wrap .slogan p span {
    font-weight: 400;
}
footer .footer_wrap .counsel h3 {
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
footer .footer_wrap .counsel p {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 11px 0 0 0;
}

footer .footer_wrap .link_wrap .sns {
    margin: 15px 0 34px 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
footer .footer_wrap .link_wrap .sns li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(85,85,85,0.8);
    background-position: center center;
    background-repeat: no-repeat;
}
footer .footer_wrap .link_wrap .sns li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23555555' fill-opacity='0.8'/%3E%3Cpath d='M21 9V21H16.9733L13.0267 14.9587V21H9V9H13.0267L16.9733 15.2841V9H21Z' fill='white'/%3E%3C/svg%3E ");
}
footer .footer_wrap .link_wrap .sns li.instagram a {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23555555'/%3E%3Cpath d='M18.7062 10.4961C18.2542 10.4961 17.8848 10.8655 17.8848 11.3175C17.8848 11.7695 18.2542 12.139 18.7062 12.139C19.1582 12.139 19.5277 11.7695 19.5277 11.3175C19.5277 10.8655 19.1582 10.4961 18.7062 10.4961Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M15.0592 11.5493C13.1569 11.5493 11.6123 13.0979 11.6123 14.9963C11.6123 16.8946 13.1609 18.4432 15.0592 18.4432C16.9576 18.4432 18.5062 16.8946 18.5062 14.9963C18.5062 13.0979 16.9576 11.5493 15.0592 11.5493ZM15.0592 17.2091C13.8408 17.2091 12.8504 16.2186 12.8504 15.0002C12.8504 13.7818 13.8408 12.7913 15.0592 12.7913C16.2776 12.7913 17.2681 13.7818 17.2681 15.0002C17.2681 16.2186 16.2776 17.2091 15.0592 17.2091Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M17.7945 22H12.2055C9.88656 22 8 20.1134 8 17.7945V12.2055C8 9.88658 9.88656 8 12.2055 8H17.7945C20.1134 8 22 9.88658 22 12.2055V17.7945C22 20.1134 20.1134 22 17.7945 22ZM12.2055 9.31274C10.6137 9.31274 9.31667 10.6098 9.31667 12.2016V17.7906C9.31667 19.3824 10.6137 20.6794 12.2055 20.6794H17.7945C19.3863 20.6794 20.6833 19.3824 20.6833 17.7906V12.2016C20.6833 10.6098 19.3863 9.31274 17.7945 9.31274H12.2055Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E ");
}
footer .footer_wrap .link_wrap .sns li.kakaotalk a {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23555555'/%3E%3Cpath d='M13.1309 14.4221H13.9668L13.5654 13.0537L13.1309 14.4221Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M15 8C11.133 8 8 10.6957 8 14.0238C8 16.1886 9.32816 18.0879 11.3215 19.1498C11.1752 19.7435 10.7916 21.3049 10.714 21.638C10.6186 22.0531 10.8537 22.0459 11.0067 21.9348C11.1264 21.848 12.9246 20.5158 13.7007 19.9414C14.122 20.009 14.5565 20.0452 15 20.0452C18.867 20.0452 22 17.3494 22 14.0214C22 10.6933 18.867 8 15 8ZM11.5854 15.5756C11.5854 15.9424 10.8381 15.9376 10.8359 15.5708C10.8404 15.0688 10.8359 12.9136 10.8359 12.9136H10.1153C9.6918 12.9136 9.6918 12.1631 10.1153 12.1607C10.1153 12.1607 11.8027 12.1751 12.306 12.1751C12.7539 12.1751 12.7539 12.9426 12.306 12.9426C11.8315 12.9426 11.5898 12.9426 11.5898 12.9426V15.5756H11.5854ZM14.3415 15.6697C14.1663 15.1677 14.2106 15.1436 14.2106 15.1436H12.8914L12.7472 15.6914C12.5942 16.0752 11.9313 15.7614 12.0843 15.3777C12.2971 14.8443 12.9379 12.8388 13.1153 12.4141C13.1863 12.2451 13.3503 12.1776 13.5188 12.1776C13.7228 12.1776 13.9335 12.2765 13.9933 12.4141C14.122 12.7109 14.8204 14.8057 15.0244 15.3873C15.1663 15.7952 14.4812 16.0776 14.3392 15.6697H14.3415ZM17.0155 15.8531C16.6763 15.8531 15.9135 15.858 15.5698 15.858C15.2262 15.858 15.2838 15.4211 15.2838 15.4211C15.2838 15.4211 15.2816 13.2225 15.2794 12.5396C15.2794 12.3006 15.4745 12.18 15.6696 12.18C15.8647 12.18 16.0576 12.3006 16.0599 12.5371C16.0599 13.0319 16.0599 15.064 16.0599 15.064C16.0599 15.064 16.6785 15.0688 17.0177 15.0688C17.357 15.0688 17.357 15.8531 17.0177 15.8531H17.0155ZM19.3415 15.7904L18.3925 14.3786L18.1752 14.5692C18.1752 14.5692 18.1752 15.2667 18.1752 15.6335C18.1752 15.9497 17.4346 15.9497 17.4346 15.6335C17.4346 15.4332 17.4501 12.7278 17.4435 12.4285C17.439 12.2644 17.6341 12.1776 17.8248 12.1776C18.0022 12.1776 18.1752 12.2524 18.1796 12.4068C18.1885 12.8123 18.1796 13.5459 18.1796 13.5459C18.1796 13.5459 19.2528 12.3779 19.4058 12.2138C19.5632 12.0424 20.051 12.5782 19.8936 12.7471C19.6231 13.0391 18.9379 13.8452 18.9379 13.8452L19.9468 15.2908C20.1375 15.5659 19.5344 16.0655 19.3415 15.788V15.7904Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E ");
}
footer .footer_wrap .link_wrap .link {
    text-align: right;
    margin-bottom: 28px;
}
footer .footer_wrap .link_wrap .link a {
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}
footer .footer_wrap .link_wrap .link a:hover {
    font-weight: var(--bold-weight);
}
footer .footer_wrap .link_wrap .link a span {
    color: rgba(255,255,255,0.6);
}
footer .footer_wrap .link_wrap .link a span:hover {
    font-weight: var(--bold-weight);
}
footer .f_info {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 22px;
}
footer .f_info span {
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    position: relative;
}
footer .f_info span::after {
    content: "";
    position: absolute;
    right: -11px;
    top: 6px;
    width: 1px;
    height: 8px;
    background-color: rgba(255,255,255,0.2);
}
footer .f_info span:last-child::after {
    display: none;
}
footer .copyright {
    margin: 7px 0 0 0;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}
@media screen and (max-width:768px){
        footer {
            padding: 62px 0 78px 0;
        }
        footer .footer_wrap {
            display: block;
        }
        footer .footer_wrap .slogan {
            text-align: center;
        }
        footer .footer_wrap .slogan h3 {
            font-size: 28px;
        }
        footer .footer_wrap .slogan p {
            font-size: 24px;
        }
        footer .footer_wrap .counsel {
            text-align: center;
            margin: 37px 0 0 0;
        }
        footer .footer_wrap .counsel h3 {
            font-size: 16px;            
        }
        footer .footer_wrap .counsel p {
            font-size: 25px;
            margin: 5px 0 0 0;
        }
        footer .footer_wrap .link_wrap .sns {
            margin: 15px 0;
            display: flex;
            justify-content: center;
        }
        footer .footer_wrap .link_wrap .link {
            margin-bottom: 24px;
            display: flex;
            justify-content: center;
            gap: 9px;            
        }
        footer .footer_wrap .link_wrap .link a {
            font-size: 13px;
            color: rgba(255,255,255,0.8);
        }
        footer .footer_wrap .link_wrap .link a span {
            color: rgba(255,255,255,0.6);        
        }
        footer .f_info {
            margin-top: 24px;
        }
        footer .f_info span {
            font-size: 12px;
        }
        footer .copyright {
            margin: 14px 0 0 0;
            font-size: 12px;
        }
}