@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative;
    background-color: #00291B;
}
.visual .visual_wrap {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.visual .swiper .swiper-slide .photo {
    overflow: hidden;
    height: 800px;
    border-radius: 60px 0 0 0;
    margin: 0 0 0 310px;
}
.visual .swiper .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
    background-color: #00291B;
} 
.visual .swiper .swiper-slide .visual_txt {
    position: absolute;
    left: 0;
    top: 199px;
    color: #fff;
    text-align: left;
}
.visual .swiper .swiper-slide .visual_txt h2 {
    font-size: var(--display-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.visual .swiper .swiper-slide .visual_txt p {
    margin: 12px 0 0 0;
}
.visual .swiper-pagination {
    position: absolute;
    left: 0;
    width: auto;
    bottom: 382px;
    display: flex;
    gap: 5px;
}
.visual .swiper-pagination .swiper-pagination-bullet {
    width: 30px; 
    height: 3px;
    display: block;
    border-radius: 0;
    background: #fff;
    opacity: 1;
    position: relative;
    margin: 0;
}
.visual .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--point-color);
}
.visual .scroll_down {
    position: absolute;
    right: -50px;
    bottom: 77px;
    color: #fff;
    z-index: 10;
    transform: rotate(90deg);
    padding: 0 93px 0 0;
    font-size: 15px;
}
.visual .scroll_down::after {
    content: "";
    position: absolute;
    right: 0;
    top: 11px;
    width: 90px;
    height: 2px;
    background-color: rgba(255,255,255,0.3);
}
.visual .scroll_down::before {
    content: "";
    position: absolute;
    right: 0;
    top: 11px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    animation-name: scroll_down;
    animation-duration: 1s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear; 
}
@keyframes scroll_down{
	0%{right: 60px;}
	100%{right: 0;}
}
@media screen and (max-width:1300px){
    .visual .visual_wrap {
        left: 20px;
        width: calc(100% - 20px);
    }
    .visual .swiper .swiper-slide .visual_txt {
        top: 160px;
    }
    .visual .swiper .swiper-slide .visual_txt h2 {
        font-size: 45px;
    }
    .visual .swiper .swiper-slide .visual_txt p {
        margin: 8px 0 0 0;
    }
        
}
@media screen and (max-width:768px){
        .visual .visual_wrap {
            left: 0;
            width: 100%;
        }
        .visual .swiper .swiper-slide .photo {
            overflow: hidden;
            height: 297px;
            border-radius: 30px 0 0 0;
            margin: 259px 0 0 20px;
        }
        .visual .swiper .swiper-slide .visual_txt {
            left: 20px;
            top: 90px;
        }
        .visual .swiper .swiper-slide .visual_txt h2 {
            font-size: 33px;
        }
        .visual .swiper .swiper-slide .visual_txt p {
            margin: 3px 0 0 0;
            font-size: 15px;
        }
        .visual .swiper-pagination {
            left: 20px;
            bottom: 322px;
            gap: 3px;
        }
        .visual .swiper-pagination .swiper-pagination-bullet {
            width: 10px;
        }
        .visual .scroll_down {
            display: none;
        }
}


.process {
    background-color: #F7F6F1;
    padding: 0 0 131px 0;
}
.process .tit h2 {
    padding: 112px 0 0 0;
}
.process .tit p {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 12px 0 46px 0;
}
.process .list ul {
    display: flex;
}
.process .list ul li {
    display: flex;
    position: relative;
    width: 16.66%;
    flex-direction: column-reverse;
    gap: 41px;
}
.process .list ul li h3 {
    font-size: 14px;
    font-weight: var(--bold-weight);
    line-height: 1.5;
    color: #fff;
    background-color: #00291B;
    height: 50px;
    width: 100%;
    padding: 15px 0 14px 0;
    text-align: center    
}
.process .list ul li:first-child h3 {
    border-radius: 25px 0 0 25px;
}
.process .list ul li:last-child h3 {
    border-radius: 0 25px 25px 0;
}
.process .list ul li h3::after {
    content: "";
    position: absolute;
    left: -12px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_217_364' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_217_364)'%3E%3Cpath d='M12.6 11.9998L8.70005 8.0998C8.51672 7.91647 8.42505 7.68314 8.42505 7.3998C8.42505 7.11647 8.51672 6.88314 8.70005 6.6998C8.88338 6.51647 9.11672 6.4248 9.40005 6.4248C9.68338 6.4248 9.91672 6.51647 10.1 6.6998L14.7 11.2998C14.8 11.3998 14.8709 11.5081 14.9125 11.6248C14.9542 11.7415 14.975 11.8665 14.975 11.9998C14.975 12.1331 14.9542 12.2581 14.9125 12.3748C14.8709 12.4915 14.8 12.5998 14.7 12.6998L10.1 17.2998C9.91672 17.4831 9.68338 17.5748 9.40005 17.5748C9.11672 17.5748 8.88338 17.4831 8.70005 17.2998C8.51672 17.1165 8.42505 16.8831 8.42505 16.5998C8.42505 16.3165 8.51672 16.0831 8.70005 15.8998L12.6 11.9998Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.process .list ul li:first-child h3::after {
    display: none;
}
.process .list ul li h3 .photo {
    display: none;
}
.process .list ul li .box_wrap {
    border: 2px solid #00291B;
    border-radius: 25px;
    margin: 0 12px;
    height: 190px;
    position: relative;
    transition: 0.5s;
}
.process .list ul li:hover .box_wrap {
   transform: rotateY(-180deg);
}
.process .list ul li .box_wrap::after {
    content: "";
    position: absolute;
    bottom: -41px;
    width: 2px;
    height: 41px;
    border-left: 2px dotted #1d1d1d;
    left: 50%;
    transform: translateX(-50%);
}
.process .list ul li .box_wrap .ico_box {
    display: block;
    position: relative;
    height: 100%;
    text-align: center;
    padding: 44px 0 0 0;
}
.process .list ul li:hover .box_wrap .ico_box {
    display: none;
}
.process .list ul li .box_wrap .ico_box::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #00291B;
    transform: translate(-50%, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_217_225' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_217_225)'%3E%3Cpath d='M6.41675 7.58366H3.50008C3.3348 7.58366 3.19626 7.52776 3.08446 7.41595C2.97265 7.30414 2.91675 7.1656 2.91675 7.00033C2.91675 6.83505 2.97265 6.69651 3.08446 6.5847C3.19626 6.47289 3.3348 6.41699 3.50008 6.41699H6.41675V3.50033C6.41675 3.33505 6.47265 3.19651 6.58446 3.0847C6.69626 2.97289 6.8348 2.91699 7.00008 2.91699C7.16536 2.91699 7.3039 2.97289 7.41571 3.0847C7.52751 3.19651 7.58341 3.33505 7.58341 3.50033V6.41699H10.5001C10.6654 6.41699 10.8039 6.47289 10.9157 6.5847C11.0275 6.69651 11.0834 6.83505 11.0834 7.00033C11.0834 7.1656 11.0275 7.30414 10.9157 7.41595C10.8039 7.52776 10.6654 7.58366 10.5001 7.58366H7.58341V10.5003C7.58341 10.6656 7.52751 10.8041 7.41571 10.916C7.3039 11.0278 7.16536 11.0837 7.00008 11.0837C6.8348 11.0837 6.69626 11.0278 6.58446 10.916C6.47265 10.8041 6.41675 10.6656 6.41675 10.5003V7.58366Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.process .list ul li .box_wrap .txt_box {
    display: none;
    background-color: #00291B;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    margin-right: -2px;
    transform: rotateY(-180deg);
}
.process .list ul li:hover .box_wrap .txt_box {
    display: block;
}
.process .list ul li .box_wrap .txt_box strong {
    display: block;
    font-size: 16px; 
    font-weight: var(--bold-weight);
    line-height: 1.5;
    padding: 45px 0 12px 0;
    text-align: center;
}
.process .list ul li .box_wrap .txt_box span {
    display: block;  
    font-size: 14px;
    line-height: 1.5;
    text-align: center
}
@media screen and (max-width:768px){
        .process {
            padding: 0 0 47px 0;
        }
        .process .tit h2 {
            padding: 60px 0 0 0;
        }
        .process .tit p {
            margin: 5px 0 25px 0;
        }
        .process .list ul {
            display: block;
            position: relative;
        }
        .process .list ul::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 56px;
            height: 100%;
            background-color: #00291B;
            border-radius: 25px 25px;
        }
        .process .list ul li {
            width: auto;
            flex-direction: row;
            gap: 46px;
            align-items: center;
        }
        .process .list ul li h3 {
            font-size: 14px;
            font-weight: var(--bold-weight);
            line-height: 1.5;
            color: #fff;
            width: 56px;
            padding: 15px 0 14px 0;
            text-align: center; 
        }
        .process .list ul li h3 span {
            display: none;
        }
        .process .list ul li h3 .photo {
            display: block;
            align-items: center;
        }
        .process .list ul li:first-child h3 {
            border-radius: 25px 25px 0 0;
        }
        .process .list ul li:last-child h3 {
            border-radius: 0 0 25px 25px;
        }
        .process .list ul li h3::after {
            left: 18px;
            top: -8px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_395_320' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' width='20' height='20' transform='rotate(90 20 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_395_320)'%3E%3Cpath d='M10.0002 10.4997L13.2502 7.24967C13.4029 7.0969 13.5974 7.02051 13.8335 7.02051C14.0696 7.02051 14.2641 7.0969 14.4168 7.24967C14.5696 7.40245 14.646 7.5969 14.646 7.83301C14.646 8.06912 14.5696 8.26356 14.4168 8.41634L10.5835 12.2497C10.5002 12.333 10.4099 12.392 10.3127 12.4268C10.2154 12.4615 10.1113 12.4788 10.0002 12.4788C9.88905 12.4788 9.78488 12.4615 9.68766 12.4268C9.59044 12.392 9.50016 12.333 9.41683 12.2497L5.5835 8.41634C5.43072 8.26356 5.35433 8.06912 5.35433 7.83301C5.35433 7.5969 5.43072 7.40245 5.5835 7.24967C5.73627 7.0969 5.93072 7.02051 6.16683 7.02051C6.40294 7.02051 6.59738 7.0969 6.75016 7.24967L10.0002 10.4997Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
        .process .list ul li .box_wrap {
            margin: 8px 0;
            height: 120px;
            width: calc(100% - 128px);
        }
        .process .list ul li:hover .box_wrap {
            transform: rotateY(0);
        }
        .process .list ul li .box_wrap::after {
            content: "";
            position: absolute;
            left: -46px;
            width: 40px;
            height: 2px;
            border-top: 2px dotted #1d1d1d;
            top: 50%;
            transform: translateY(-50%);
        }
        .process .list ul li .box_wrap .ico_box {
            display: none;
        }
        .process .list ul li .box_wrap .txt_box {
            display: block;
            background-color: transparent;
            color: #00291B;
            transform: rotateY(0deg);
        }
        .process .list ul li:hover .box_wrap .txt_box {
            display: block;
        }
        .process .list ul li .box_wrap .txt_box strong {
            font-size: 15px; 
            padding: 18px 0 5px 25px;
            text-align: left;
        }
        .process .list ul li .box_wrap .txt_box span {
            font-size: 12px;
            padding: 0 0 0 25px;
            text-align: left;
        }
        .process .list ul li .box_wrap .txt_box span br {
            display: none;
        }
}


.design .tit h2 {
    margin: 112px 0 0 0;
}
.design .tit p {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 12px 0 40px 0;
}
.design .txt_design {
    background: url(../images/main/design01.jpg) no-repeat center center / cover;
    width: 100%;
    height: 420px;
    padding: 142px 0 0 0;
    border-radius: 30px;
    color: #fff;
    display: block;
    text-align: center;
}
.design .txt_design h3 {
    font-size: var(--sub-tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 19px 0;
}
.design .txt_design .more {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 4px 37px 6px 19px;
    position: relative;

}
.design .txt_design .more::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 9px;
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_299_411' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_299_411)'%3E%3Cpath d='M12.1125 9.74989H3.75C3.5375 9.74989 3.35938 9.67801 3.21563 9.53426C3.07188 9.39051 3 9.21239 3 8.99989C3 8.78739 3.07188 8.60926 3.21563 8.46551C3.35938 8.32176 3.5375 8.24989 3.75 8.24989H12.1125L9.975 6.11239C9.825 5.96239 9.75313 5.78739 9.75938 5.58739C9.76563 5.38739 9.8375 5.21239 9.975 5.06239C10.125 4.91239 10.3031 4.83426 10.5094 4.82801C10.7156 4.82176 10.8938 4.89364 11.0438 5.04364L14.475 8.47489C14.55 8.54989 14.6031 8.63114 14.6344 8.71864C14.6656 8.80614 14.6813 8.89989 14.6813 8.99989C14.6813 9.09989 14.6656 9.19364 14.6344 9.28114C14.6031 9.36864 14.55 9.44989 14.475 9.52489L11.0438 12.9561C10.8938 13.1061 10.7156 13.178 10.5094 13.1718C10.3031 13.1655 10.125 13.0874 9.975 12.9374C9.8375 12.7874 9.76563 12.6124 9.75938 12.4124C9.75313 12.2124 9.825 12.0374 9.975 11.8874L12.1125 9.74989Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
        .design .tit h2 {
            margin: 80px 0 0 0;
        }
        .design .tit p {
            font-size: 25px;
            margin: 5px 0 23px 0;
        }
        .design .txt_design {
            height: 148px;
            padding: 43px 0 0 0;
            border-radius: 15px;
        }
        .design .txt_design h3 {
            font-size: 17px;
            margin: 0 0 10px 0;
        }
        .design .txt_design .more {
            font-size: 11px;
            padding: 3px 32px 4px 14px;
        }
        .design .txt_design .more::after {
            right: 11px;
            top: 5px;
            width: 14px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_395_366' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_395_366)'%3E%3Cpath d='M9.421 7.5833H2.91683C2.75155 7.5833 2.61301 7.5274 2.5012 7.41559C2.3894 7.30379 2.3335 7.16524 2.3335 6.99997C2.3335 6.83469 2.3894 6.69615 2.5012 6.58434C2.61301 6.47254 2.75155 6.41663 2.91683 6.41663H9.421L7.7585 4.75413C7.64183 4.63747 7.58593 4.50136 7.59079 4.3458C7.59565 4.19024 7.65155 4.05413 7.7585 3.93747C7.87516 3.8208 8.0137 3.76004 8.17412 3.75517C8.33454 3.75031 8.47308 3.80622 8.58975 3.92288L11.2585 6.59163C11.3168 6.64997 11.3581 6.71316 11.3825 6.78122C11.4068 6.84927 11.4189 6.92219 11.4189 6.99997C11.4189 7.07774 11.4068 7.15066 11.3825 7.21872C11.3581 7.28677 11.3168 7.34997 11.2585 7.4083L8.58975 10.077C8.47308 10.1937 8.33454 10.2496 8.17412 10.2448C8.0137 10.2399 7.87516 10.1791 7.7585 10.0625C7.65155 9.9458 7.59565 9.80969 7.59079 9.65413C7.58593 9.49858 7.64183 9.36247 7.7585 9.2458L9.421 7.5833Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        }
}

.safety {
    background: #F7F6F1;
    padding: 112px 0 153px 0;
    margin: 174px 0 0 0;
}
.safety .tit p {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 12px 0 40px 0;
}
.safety .list ul {
    display: flex;
    justify-content: space-between;
}
.safety .list ul li {
    width: calc(33.33% - 16px);
    /* 100%/한줄에 나오는 li갯수 - 여백의합/한줄에 나오는 li갯수px */
    border: 2px solid #00291B;
    border-radius: 20px;
    padding: 85px 30px 30px 30px;
    background-color: #fff;
}
.safety .list ul li .photo {
    margin: 0 0 35px 20px;
    height: 60px;
}
.safety .list ul li h3 {
    font-size: 23px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
.safety .list ul li p {
    margin: 10px 0 0 0;
}    
@media screen and (max-width:1024px){ 
    .safety .tit p {
        font-size: 35px;
    }
}
@media screen and (max-width:768px){
        .safety {
            margin: 81px 0 0 0;
            padding: 60px 0 37px 0;
        }
        .safety .tit p {
            font-size: 25px;
            margin: 5px 0 24px 0;
        }
        .safety .list ul {
            display: block;
        }
        .safety .list ul li {
            width: auto;
            border-radius: 10px;
            margin: 0 0 16px 0;
            text-align: center;
            padding: 19px 25px;
        }
        .safety .list ul li .photo {
            margin: 0 0 13px 0;
        }
        .safety .list ul li .photo img {
            width: 42px;
        }
        .safety .list ul li h3 {
            font-size: 20px;
        }
        .safety .list ul li p {
            font-size: 13px;
            margin: 5px 0 0 0;
        }
}

.inquiry .list {
    color: #fff;
}
.inquiry .list .bg1 {
    background-image: url(../images/main/inq_bg1.jpg);
}
.inquiry .list .bg2 {
    background-image: url(../images/main/inq_bg2.jpg);
}
.inquiry .list .bg3 {
    background-image: url(../images/main/inq_bg3.jpg);
}
.inquiry .list ul {
    display: flex;
}
.inquiry .list ul li {
    width: 33.33%;
    padding: 265px 0 164px 60px;
}
.inquiry .list ul li .photo {
    margin: 0 0 20px 0;    
}
.inquiry .list ul li .photo img {
    height: 100%;
}
.inquiry .list ul li h3 {
    font-size: 23px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
    margin: 0 0 9px 0;  
}
.inquiry .list ul li p {
    color: #fff;
    margin:0 0 20px 0;
    font-size: 14px;
}
.inquiry .list ul li .tel span {
    font-size: 35px;
    font-weight: var(--bold-weight);
    list-style: var(--tit-line-height);
}
.inquiry .list ul li .more {
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 7px 42px 8px 23px;
    position: relative;
}
.inquiry .list ul li .more::after {
    content: "";
    position: absolute;
    right: 19px;
    top: 11px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_299_476' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_299_476)'%3E%3Cpath d='M10.0938 8.12482H3.125C2.94792 8.12482 2.79948 8.06493 2.67969 7.94514C2.5599 7.82535 2.5 7.67691 2.5 7.49982C2.5 7.32274 2.5599 7.1743 2.67969 7.05451C2.79948 6.93472 2.94792 6.87482 3.125 6.87482H10.0938L8.3125 5.09357C8.1875 4.96857 8.1276 4.82274 8.13281 4.65607C8.13802 4.48941 8.19792 4.34357 8.3125 4.21857C8.4375 4.09357 8.58594 4.02847 8.75781 4.02326C8.92969 4.01805 9.07812 4.07795 9.20312 4.20295L12.0625 7.06232C12.125 7.12482 12.1693 7.19253 12.1953 7.26545C12.2214 7.33837 12.2344 7.41649 12.2344 7.49982C12.2344 7.58316 12.2214 7.66128 12.1953 7.7342C12.1693 7.80712 12.125 7.87482 12.0625 7.93732L9.20312 10.7967C9.07812 10.9217 8.92969 10.9816 8.75781 10.9764C8.58594 10.9712 8.4375 10.9061 8.3125 10.7811C8.19792 10.6561 8.13802 10.5102 8.13281 10.3436C8.1276 10.1769 8.1875 10.0311 8.3125 9.90607L10.0938 8.12482Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
}
@media screen and (max-width:768px){
        .inquiry .list ul {
            display: block;
        }
        .inquiry .list ul li {
            width: auto;
            padding: 40px 0 96px 0;
            text-align: center;
        }
        .inquiry .list ul li .photo {
            margin: 0 0 20px 0;
        }
        .inquiry .list ul li h3 {
            font-size: 20px;
        }
        .inquiry .list ul li p {
            margin: 8px 0 10px 0;
            font-size: 13px;
        }
        .inquiry .list ul li p span {
            font-size: 25px;
        }
        .inquiry .list ul li .mail {
            margin: 0 0 0 22px;
        }
        .inquiry .list ul li .mail span {
            font-size: 13px;
        }
        .inquiry .list ul li .mail span::before{
            left: -21px;
            top: 1px;
            width: 18px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_395_504' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_395_504)'%3E%3Cpath d='M3 15C2.5875 15 2.23437 14.8531 1.94062 14.5594C1.64688 14.2656 1.5 13.9125 1.5 13.5V4.5C1.5 4.0875 1.64688 3.73438 1.94062 3.44063C2.23437 3.14688 2.5875 3 3 3H15C15.4125 3 15.7656 3.14688 16.0594 3.44063C16.3531 3.73438 16.5 4.0875 16.5 4.5V13.5C16.5 13.9125 16.3531 14.2656 16.0594 14.5594C15.7656 14.8531 15.4125 15 15 15H3ZM15 6L9.39375 9.50625C9.33125 9.54375 9.26562 9.57188 9.19687 9.59063C9.12812 9.60938 9.0625 9.61875 9 9.61875C8.9375 9.61875 8.87187 9.60938 8.80312 9.59063C8.73437 9.57188 8.66875 9.54375 8.60625 9.50625L3 6V13.5H15V6ZM9 8.25L15 4.5H3L9 8.25ZM3 6.1875V5.08125V5.1V5.09063V6.1875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        }
        .inquiry .list ul li .more {
            font-size: 10px;
            border-radius: 13px;
            padding: 4px 29px 7px 16px;
        }
        .inquiry .list ul li .more::after {
            right: 11px;
            top: 7px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_395_525' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_395_525)'%3E%3Cpath d='M8.075 6.49976H2.5C2.35833 6.49976 2.23958 6.45185 2.14375 6.35601C2.04792 6.26018 2 6.14143 2 5.99976C2 5.8581 2.04792 5.73935 2.14375 5.64351C2.23958 5.54768 2.35833 5.49976 2.5 5.49976H8.075L6.65 4.07476C6.55 3.97476 6.50208 3.8581 6.50625 3.72476C6.51042 3.59143 6.55833 3.47476 6.65 3.37476C6.75 3.27476 6.86875 3.22268 7.00625 3.21851C7.14375 3.21435 7.2625 3.26226 7.3625 3.36226L9.65 5.64976C9.7 5.69976 9.73542 5.75393 9.75625 5.81226C9.77708 5.8706 9.7875 5.9331 9.7875 5.99976C9.7875 6.06643 9.77708 6.12893 9.75625 6.18726C9.73542 6.2456 9.7 6.29976 9.65 6.34976L7.3625 8.63726C7.2625 8.73726 7.14375 8.78518 7.00625 8.78101C6.86875 8.77684 6.75 8.72476 6.65 8.62476C6.55833 8.52476 6.51042 8.40809 6.50625 8.27476C6.50208 8.14143 6.55 8.02476 6.65 7.92476L8.075 6.49976Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        }
}

