@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);


header {
    width: 100%;
}
header .inner {
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: #1d1d1d;
    background-color: #fff;
    width: 66.7%;
}
header .logo a {
    display: block;
    width: 302px;
    height: 27px;
    background: url(../images/common/logo.png) no-repeat center center / contain;
}
@media screen and (min-width:769px){
    header {
        background-color: #fff;
    }
    header .util .hamburger .hamburger_open { 
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_420_2' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='5' y='5' width='40' height='40'%3E%3Crect x='5' y='5' width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_420_2)'%3E%3Cpath d='M11.6667 35C11.1944 35 10.7986 34.8403 10.4792 34.5208C10.1597 34.2014 10 33.8056 10 33.3333C10 32.8611 10.1597 32.4653 10.4792 32.1458C10.7986 31.8264 11.1944 31.6667 11.6667 31.6667H28.3333C28.8056 31.6667 29.2014 31.8264 29.5208 32.1458C29.8403 32.4653 30 32.8611 30 33.3333C30 33.8056 29.8403 34.2014 29.5208 34.5208C29.2014 34.8403 28.8056 35 28.3333 35H11.6667ZM11.6667 26.6667C11.1944 26.6667 10.7986 26.5069 10.4792 26.1875C10.1597 25.8681 10 25.4722 10 25C10 24.5278 10.1597 24.1319 10.4792 23.8125C10.7986 23.4931 11.1944 23.3333 11.6667 23.3333H38.3333C38.8056 23.3333 39.2014 23.4931 39.5208 23.8125C39.8403 24.1319 40 24.5278 40 25C40 25.4722 39.8403 25.8681 39.5208 26.1875C39.2014 26.5069 38.8056 26.6667 38.3333 26.6667H11.6667ZM11.6667 18.3333C11.1944 18.3333 10.7986 18.1736 10.4792 17.8542C10.1597 17.5347 10 17.1389 10 16.6667C10 16.1944 10.1597 15.7986 10.4792 15.4792C10.7986 15.1597 11.1944 15 11.6667 15H38.3333C38.8056 15 39.2014 15.1597 39.5208 15.4792C39.8403 15.7986 40 16.1944 40 16.6667C40 17.1389 39.8403 17.5347 39.5208 17.8542C39.2014 18.1736 38.8056 18.3333 38.3333 18.3333H11.6667Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}
@media screen and (max-width:768px){
        header {
            width: 100%;
            background-color: #fff;
        }
        header .logo a {
            width: 138px;
            height: 13px;
        }
        header .util .hamburger .hamburger_open { 
            width: 30px; 
            height: 30px;
            margin: 13px 13px; 
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_157_989' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_157_989)'%3E%3Cpath d='M5 22.5C4.64583 22.5 4.34896 22.3802 4.10938 22.1406C3.86979 21.901 3.75 21.6042 3.75 21.25C3.75 20.8958 3.86979 20.599 4.10938 20.3594C4.34896 20.1198 4.64583 20 5 20H17.5C17.8542 20 18.151 20.1198 18.3906 20.3594C18.6302 20.599 18.75 20.8958 18.75 21.25C18.75 21.6042 18.6302 21.901 18.3906 22.1406C18.151 22.3802 17.8542 22.5 17.5 22.5H5ZM5 16.25C4.64583 16.25 4.34896 16.1302 4.10938 15.8906C3.86979 15.651 3.75 15.3542 3.75 15C3.75 14.6458 3.86979 14.349 4.10938 14.1094C4.34896 13.8698 4.64583 13.75 5 13.75H25C25.3542 13.75 25.651 13.8698 25.8906 14.1094C26.1302 14.349 26.25 14.6458 26.25 15C26.25 15.3542 26.1302 15.651 25.8906 15.8906C25.651 16.1302 25.3542 16.25 25 16.25H5ZM5 10C4.64583 10 4.34896 9.88021 4.10938 9.64062C3.86979 9.40104 3.75 9.10417 3.75 8.75C3.75 8.39583 3.86979 8.09896 4.10938 7.85938C4.34896 7.61979 4.64583 7.5 5 7.5H25C25.3542 7.5 25.651 7.61979 25.8906 7.85938C26.1302 8.09896 26.25 8.39583 26.25 8.75C26.25 9.10417 26.1302 9.40104 25.8906 9.64062C25.651 9.88021 25.3542 10 25 10H5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E ");
        }
}


/* 3d 디자인 */
.house {
    margin-top: 85px;
}
.house .house_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 35px 0;
}
.house .main_photo {
    overflow: hidden;
    height: 530px;
}
.house .main_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.house .list {
    margin-top: 80px;
}
.house .list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.house .list ul li {
    width: calc(50% - 12px);
}
.house .list ul li a {
    font-size: 30px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 22px 0;
}
.house .sub_txt {
    text-align: center;
    margin: 60px 0 56px 0;
}
.house .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.house .photo_list {
    margin-bottom: 120px;
}
.house .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.house .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.house .photo_list ul li a .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.house .photo_list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.house .photo_list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.house .photo_list ul li a p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .house .list ul li a {
        padding: 10px 0;
    }
 }
 @media screen and (min-width:769px){
    .house .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .house {
            margin-top: 70px;
        }
        .house .house_tit strong {
            font-size: 15px;            
        }
        .house .house_tit h2 {
            font-size: 25px;
            margin: 5px 0 24px 0;
        }
        .house .main_photo {
            height: 190px;
        }
        .house .list {
            margin-top: 35px;
        }
        .house .list ul {
            gap: 5px;
        }
        .house .list ul li {
            width: calc(50% - 8px);
        }
        .house .list ul li a {
            font-size: 16px;
            padding: 7px 0;
            border-radius: 10px;
        }
        .house .list ul li span {
            display: none;
        }
        .house .sub_txt {
            margin: 30px 0 55px 0; 
        }
        .house .sub_txt p {
            font-size: 15px;
        }
        .house .sub_txt strong {
            font-size: 16px;
            margin: 8px 0 0 0;
        }
        .house .photo_list {
            margin-bottom: 70px;
        }
        .house .photo_list ul {
            display: block;
        }
        .house .photo_list ul li {
            width: 100%;
        }
        .house .photo_list ul li a .photo {
            height: 220px;
            border-radius: 2px;
        }
        .house .photo_list ul li a p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}

.company {
    margin-top: 85px;
}
.company .company_tit h2 {
    font-size: var(--tit-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 10px 0 35px 0;
}
.company .main_photo {
    overflow: hidden;
    height: 530px;
}
.company .main_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.company .list {
    margin-top: 80px;
}
.company .list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.company .list ul li {
    width: calc(50% - 12px);
}
.company .list ul li a {
    font-size: 30px;
    font-weight: var(--bold-weight);
    border-radius: 20px;
    border: 1px solid #00291B;
    color: var(--tit-color);
    display: block;
    text-align: center;
    padding: 22px 0;
}

.company .sub_txt {
    text-align: center;
    margin: 60px 0 56px 0;
}
.company .sub_txt strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin: 15px 0 0 0;
}
.company .photo_list {
    margin-bottom: 120px;
}
.company .photo_list ul {
    display: flex;
    flex-wrap: wrap;
}
.company .photo_list ul li {
    position: relative;
    width: 50%;
    transition: 0.5s;
}
.company .photo_list ul li a .photo {
    overflow: hidden;
    height: 392px;
    border-radius: 5px;
}
.company .photo_list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.company .photo_list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.company .photo_list ul li a p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: #fff;
}

@media screen and (min-width:769px) and (max-width:1300px){
    .company .list ul li a {
        padding: 10px 0;
    }
 }
 @media screen and (min-width:769px){
    .company .list ul li.active a {
        background-color: #00291B;
        color: #fff;
    } 
 }
@media screen and (max-width:768px){ 
        .company {
            margin-top: 70px;
        }
        .company .company_tit strong {
            font-size: 15px;            
        }
        .company .company_tit h2 {
            font-size: 25px;
            margin: 5px 0 24px 0;
        }
        .company .main_photo {
            height: 190px;
        }
        .company .list {
            margin-top: 35px;
        }
        .v .list ul {
            gap: 5px;
        }
        .company .list ul li {
            width: calc(50% - 8px);
        }
        .company .list ul li a {
            font-size: 16px;
            padding: 7px 0;
            border-radius: 10px;
        }
        .company .list ul li span {
            display: none;
        }
        .company .sub_txt {
            margin: 30px 0 55px 0; 
        }
        .company .sub_txt p {
            font-size: 15px;
        }
        .company .sub_txt strong {
            font-size: 16px;
            margin: 8px 0 0 0;
        }
        .company .photo_list {
            margin-bottom: 70px;
        }
        .company .photo_list ul {
            display: block;
        }
        .company .photo_list ul li {
            width: 100%;
        }
        .company .photo_list ul li a .photo {
            height: 220px;
            border-radius: 2px;
        }
        .company .photo_list ul li a p {
            left: 15px;
            bottom: 15px;
            font-size: 16px;
        }
}


.quick {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    width: 60px;
}
.quick .detail {
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    padding: 19px 0 14px 0;
    display: block;
}
.quick .detail ul li a,
.quick .detail ul li button {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: var(--bold-weight);
    color: var(--main-color);
    text-align: center;
    padding: 35px 0 10px 0;
    position: relative; /* brfore 정렬의 기준 */
}
.quick .detail ul li.top button {
    padding-top: 28px;
}
.quick .detail ul li a::before,
.quick .detail ul li.top button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
.quick .detail ul li.progress a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_224_282' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_224_282)'%3E%3Cpath d='M5 21.0001C4.45 21.0001 3.97917 20.8043 3.5875 20.4126C3.19583 20.0209 3 19.5501 3 19.0001V5.0001C3 4.4501 3.19583 3.97926 3.5875 3.5876C3.97917 3.19593 4.45 3.0001 5 3.0001H11.525C11.8583 3.0001 12.1083 3.10426 12.275 3.3126C12.4417 3.52093 12.525 3.7501 12.525 4.0001C12.525 4.2501 12.4375 4.47926 12.2625 4.6876C12.0875 4.89593 11.8333 5.0001 11.5 5.0001H5V19.0001H19V12.4751C19 12.1418 19.1042 11.8918 19.3125 11.7251C19.5208 11.5584 19.75 11.4751 20 11.4751C20.25 11.4751 20.4792 11.5584 20.6875 11.7251C20.8958 11.8918 21 12.1418 21 12.4751V19.0001C21 19.5501 20.8042 20.0209 20.4125 20.4126C20.0208 20.8043 19.55 21.0001 19 21.0001H5ZM9 14.0001V11.5751C9 11.3084 9.05 11.0543 9.15 10.8126C9.25 10.5709 9.39167 10.3584 9.575 10.1751L18.175 1.5751C18.375 1.3751 18.6 1.2251 18.85 1.1251C19.1 1.0251 19.35 0.975098 19.6 0.975098C19.8667 0.975098 20.1208 1.0251 20.3625 1.1251C20.6042 1.2251 20.825 1.3751 21.025 1.5751L22.425 3.0001C22.6083 3.2001 22.75 3.42093 22.85 3.6626C22.95 3.90426 23 4.1501 23 4.4001C23 4.6501 22.9542 4.89593 22.8625 5.1376C22.7708 5.37926 22.625 5.6001 22.425 5.8001L13.825 14.4001C13.6417 14.5834 13.4292 14.7293 13.1875 14.8376C12.9458 14.9459 12.6917 15.0001 12.425 15.0001H10C9.71667 15.0001 9.47917 14.9043 9.2875 14.7126C9.09583 14.5209 9 14.2834 9 14.0001ZM11 13.0001H12.4L18.2 7.2001L17.5 6.5001L16.775 5.8001L11 11.5751V13.0001Z' fill='%2300291B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.phone a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_224_285' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_224_285)'%3E%3Cpath d='M20 12C19.7333 12 19.4958 11.9042 19.2875 11.7125C19.0792 11.5208 18.9583 11.2833 18.925 11C18.7083 9.45 18.0542 8.12917 16.9625 7.0375C15.8708 5.94583 14.55 5.29167 13 5.075C12.7167 5.04167 12.4792 4.925 12.2875 4.725C12.0958 4.525 12 4.28333 12 4C12 3.71667 12.1 3.47917 12.3 3.2875C12.5 3.09583 12.7333 3.01667 13 3.05C15.1 3.28333 16.8917 4.14167 18.375 5.625C19.8583 7.10833 20.7167 8.9 20.95 11C20.9833 11.2667 20.9042 11.5 20.7125 11.7C20.5208 11.9 20.2833 12 20 12ZM15.825 12C15.6083 12 15.4167 11.925 15.25 11.775C15.0833 11.625 14.9583 11.425 14.875 11.175C14.7417 10.6917 14.4875 10.2625 14.1125 9.8875C13.7375 9.5125 13.3083 9.25833 12.825 9.125C12.575 9.04167 12.375 8.91667 12.225 8.75C12.075 8.58333 12 8.38333 12 8.15C12 7.81667 12.1167 7.54583 12.35 7.3375C12.5833 7.12917 12.8417 7.05833 13.125 7.125C14.0583 7.34167 14.8625 7.7875 15.5375 8.4625C16.2125 9.1375 16.6583 9.94167 16.875 10.875C16.9417 11.1583 16.8667 11.4167 16.65 11.65C16.4333 11.8833 16.1583 12 15.825 12ZM19.95 21C17.8667 21 15.8083 20.5458 13.775 19.6375C11.7417 18.7292 9.89167 17.4417 8.225 15.775C6.55833 14.1083 5.27083 12.2583 4.3625 10.225C3.45417 8.19167 3 6.13333 3 4.05C3 3.75 3.1 3.5 3.3 3.3C3.5 3.1 3.75 3 4.05 3H8.1C8.33333 3 8.54167 3.07917 8.725 3.2375C8.90833 3.39583 9.01667 3.58333 9.05 3.8L9.7 7.3C9.73333 7.56667 9.725 7.79167 9.675 7.975C9.625 8.15833 9.53333 8.31667 9.4 8.45L6.975 10.9C7.30833 11.5167 7.70417 12.1125 8.1625 12.6875C8.62083 13.2625 9.125 13.8167 9.675 14.35C10.1917 14.8667 10.7333 15.3458 11.3 15.7875C11.8667 16.2292 12.4667 16.6333 13.1 17L15.45 14.65C15.6 14.5 15.7958 14.3875 16.0375 14.3125C16.2792 14.2375 16.5167 14.2167 16.75 14.25L20.2 14.95C20.4333 15.0167 20.625 15.1375 20.775 15.3125C20.925 15.4875 21 15.6833 21 15.9V19.95C21 20.25 20.9 20.5 20.7 20.7C20.5 20.9 20.25 21 19.95 21Z' fill='%2300291B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.quick .detail ul li.naver a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0V19H12.6243L6.37571 9.43466V19H0V0H6.37571L12.6243 9.9499V0H19Z' fill='%2300291B'/%3E%3C/svg%3E ");
}
.quick .detail ul li.top button::before {
    top: 7px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_224_288' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_224_288)'%3E%3Cpath d='M12 10.7999L8.10005 14.6999C7.91672 14.8832 7.68338 14.9749 7.40005 14.9749C7.11672 14.9749 6.88338 14.8832 6.70005 14.6999C6.51672 14.5166 6.42505 14.2832 6.42505 13.9999C6.42505 13.7166 6.51672 13.4832 6.70005 13.2999L11.3 8.6999C11.5 8.4999 11.7334 8.3999 12 8.3999C12.2667 8.3999 12.5 8.4999 12.7 8.6999L17.3 13.2999C17.4834 13.4832 17.575 13.7166 17.575 13.9999C17.575 14.2832 17.4834 14.5166 17.3 14.6999C17.1167 14.8832 16.8834 14.9749 16.6 14.9749C16.3167 14.9749 16.0834 14.8832 15.9 14.6999L12 10.7999Z' fill='%2300291B'/%3E%3C/g%3E%3C/svg%3E ");
}

@media screen and (max-width:768px){
    .quick {
        display: none;
    }
}


