@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    padding: 0 23px 0 23px;
    line-height: 100px;
    color: #1D1D1D;
    font-size: 22px;
    letter-spacing: -0.05em;
    position: relative; /* after 정렬의 기준 */
}
header .gnb ul li a:hover { /* a에게 마우스를 올렸을때 */
    color: #255698;
    font-weight: 800;
}

.visual {
    height: 800px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    padding: 291px 0 5px 0;
    display: block;
}
.visual p {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
}

.int {
    margin: 136px 0 0 0;
}
.int .group {
    display: flex;
    justify-content: space-between;
}

.int .group .inner {
    width: 511px;
}
.int .group .inner h2 {
    color: #255698;
}
.int .group.txt_left .inner h2 {
    margin: 76px 0 8px 0;
}
.int .group.txt_right .inner h2 {
    margin: 104px 0 8px 0;
}
.int .group .inner .main_tit {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.2;
}
.int .group .inner .main_tit strong {
    color: #255698;
}
.int .group .inner .sub_tit {
    font-size: 20px;
    margin: 8px 0 14px 0;
}
.int .group .inner .btn_wrap {
    margin: 54px 0 0 0;
    display: flex;
    /* a태그가 inline태그라서 좌우로 배치되지만
       중간에 space 한칸의 여백이 존재함
       이를 없애고 내가 디자인한대로 정확하게 여백주려고 */
}
.int .group .inner .btn_wrap a {
    color: #255698;
    border: 1px solid #255698;
    padding: 12px 29px 12px 29px;
    border-radius: 25px;
    display: inline-block;
    /* a태그에 display:block; inline-block 필수   */
    margin: 0 10px 0 0;
}
/* a태그 중에서 point 클래스를 갖은 a */
.int .group .inner .btn_wrap a.point {
    background-color: #255698;
    color: #fff;
}
.int .group .inner .btn_wrap a:hover {
    border-color: #229EA0;
    background-color: #229EA0;
    color: #fff;
}
.int .group .photo {
    overflow: hidden;/* photo가 지정한 영역 밖에 나가는 요소는 숨김 */
    border-radius: 30px;
    /* 이미지 하단에 여백 */
    font-size: 0;
    line-height: 0;
}

.culture {
    margin: 136px 0 0 0;
}
.culture .wrapper {
    position: relative;
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 17px 0;
}
.culture .list {
    margin: 46px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(33.33% - 16px);
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    height: 227px;
    overflow: hidden;
}
.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; 
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    margin: 17px 0 0 0;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    color: #1D1D1D;
}
.culture .more {
    position: absolute; /* wrapper*/
    right: 0;
    top: 62px;
    color: #004AAD;
    padding: 0 31px 0 0;
}
.culture .more::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 4%;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_119_167' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_119_167)'%3E%3Cpath d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='%23004AAD'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;    
}
.culture .more:hover {
    font-weight: 800;
}
.culture .more:hover::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 1px;
    background-color: #004AAD;
}

.community {
    margin: 136px 0 0 0;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    height: 652px;
    color: #fff;
    padding: 93px 0 0 0;
}
.community .wrapper {
    display: flex; /* tit/inner를 좌우로 배치 */
    justify-content: space-between; /* 양쪽끝 */
}
.community .tit {
    margin: 66px 0 0 0;
}
.community .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 19px 0;
}
.community .tit p {
    font-size: 25px;
}
.community .inner {
    display: flex; /* notice/link 좌우로 배치 */
    gap: 24px;
}
.community .inner .notice {
    width: 655px;
    height: 440px;
    border-radius: 10px;
    background-color: rgba(61,61,61,0.6);
    backdrop-filter: blur(10px);
    padding: 48px 36px 0 36px;
    /* 높이로 제한하고 있기 때문에 하단 여백 안줌 */
    position: relative; /* more 정렬의 기준 */
}
.community .inner .notice:hover {
    background-color: #3d3d3d;
}
.community .inner .notice h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
}
.community .inner .notice .list {
    margin: 35px 0 0 0;
}
.community .inner .notice .list ul li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .inner .notice .list ul li:first-child {
    border-top: 0;
}
.community .inner .notice .list ul li a {
    display: flex; /* strong span를 좌우로 배치 */
    justify-content: space-between;
    padding: 25px 0 25px 0;
}
.community .inner .notice .list ul li a strong {
    width: calc(100% - 90px);
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
}
.community .inner .notice .list ul li a:hover strong {
    font-weight: 800;
}
.community .inner .notice .list ul li a span {
    width: 39x;
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    text-align: centerri;
}
.community .inner .notice .more {
    position: absolute; /* notice를 기준으로 정렬 */
    right: 33px;
    top: 54px;
    padding: 0 27px 0 0; /* 아이콘을 배치할 영역까지 more로 잡혀야함 */
    color: #004AAD;
}
.community .inner .notice .more::after {
    content: ""; /* 필수 */
    position: absolute; /* more를 기준으로 정렬*/
    right: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_123_179' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_123_179)'%3E%3Cpath d='M11 13H5V11H11V5H13V11H19V13H13V19H11V13Z' fill='%23004AAD'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.community .inner .notice .more:hover {
    font-weight: 800;    
}
.community .inner .notice .more:hover::before {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: calc(100% - 1px);
    height: 1px;
    background-color: #004AAD;
}


footer {
    background-color: #202020;
    padding: 68px 0 78px 0;
    color: rgba(255,255,255,0.8);
    margin: 141px 0 0 0;
}
footer .f_nav ul {
    display: flex;
    gap: 41px;
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li::after {
    content: ""; /* 필수 */
    position: absolute; /* li를 기준으로 정렬 */
    right: -21px;
    top: 5px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.3);
}
/* li중에서 마지막 li의 after가 숨김처리 */
footer .f_nav ul li:last-child::after {
    display: none; /* 숨김 */
}
footer .f_nav ul li a {
    display: block;
}
footer .f_nav ul li a:hover {
    text-decoration: underline; /* 밑줄 */
}
footer .f_info {
    margin: 35px 0 30px 0;
}
footer .f_info span {
    margin: 0 16px 0 0;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}