/* 회사소개 > CEO인사말 */

.ctn_ceo {
    position: relative;/* before 정렬의 기준 */
}
.ctn_ceo::before {
    content: "";
    position: absolute;
    left: 3.53em;
    top: 0;
    z-index: -1; /* ctn_ceo 영역 안에서 맨 아래 */
    width: calc(100% - 7.06em);
    height: 21.18em;
    background-color: #d9d9d9;
    border-radius: 1.18em;
}
.ctn_ceo .wrapper {
    position: relative; /* photo 정렬의 기준 */
}
.ctn_ceo .ceo_tit {
    padding: 5.29em 0;
}
.ctn_ceo .ceo_tit strong {
    display: block;
    color: var(--point-color);
}
.ctn_ceo .ceo_tit h2 {
    font-size: 1.76em;
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0.88em 0 1.24em 0;
}
.ctn_ceo .ceo_tit p {
    color: #666;
}
.ctn_ceo .photo {
    position: absolute;
    left: 0;
    top: 5.29em;
    width: 32.06%m;
    height: 39.29;
    border-radius: 1.18em;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.05);
}
.ctn_ceo .photo img {
    width: 100%;
    height: 1005;
    object-fit: cover;
}
.ctn_ceo .ceo_detail {
    margin: 3.53em 0 4.7em 40.47%;
}
.ctn_ceo .ceo_detail .sign {
    display: flex;
    margin: 2em 0 0 0 ;
    gap: 3em;
    align-items: center;
}
.ctn_ceo .ceo_detail .sign strong {
    font-weight: var(--bold-weight);
}


/* 회사소개 > 찾아오시는길 */
.ctn_map .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe {
    width: 100%;
    height: 670px;
    border: 0;
}
@media screen and (max-width:1300x){ 
    .ctn_map .map {
        left: 20px;
        width: calc(50% + 20px);
    }
}

.ctn_map .address {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    margin: 60px 0 36px 0;
}
.ctn_map .buttons {
    display: flex;
    justify-content: flex-end;
}
.ctn_map .buttons a {
    margin-right: 10px;
    padding: 15px 27px 15px 67px;
    border: 1px solid #1d1d1d;
    border-radius: 30px;
    
    color: var(--tit-color);
    background-color: #fff;
} 
.ctn_map .section {
    margin-top: 36px;
    border-top: 1px solid #1d1d1d;
    padding-top: 20px;
    
}
.ctn_map .section h3 {
    font-size: 35px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    margin: 36px 0 24px 224px;
}
.ctn_map .section strong {
    color: #555;
    margin: 5px 0;
    
}
.ctn_map .label {
    font-size: 25px;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    
}
.ctn_map .section p {
    color: #555;
    margin: 36px 0 26px 0;
}
.ctn_map .ex {
    color: #767676;
    margin-top: 10px;
    text-align: center;
}
.ctn_map .section a {
    padding: 6px 0 5px 23px;
    margin: 0 24px 0 0;
    top: 10px;
    position: relative;
    border: 1px solid #767676;
    border-radius: 30px;
    color: #767676;
}
.ctn_map .section a::after {
    content: "";
    position: absolute; 
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.375 14.625V0.375H7.5V1.95833H1.95833V13.0417H13.0417V7.5H14.625V14.625H0.375ZM5.67917 10.4292L4.57083 9.32083L11.9333 1.95833H9.08333V0.375H14.625V5.91667H13.0417V3.06667L5.67917 10.4292Z' fill='%23767676'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}