@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll_down, ctrl_wrap 정렬의 기준 */
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 29.41em; /* 500/17 = 29.41 */
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    bottom: 22.7%;
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt.mobile {
    display: none; /* 숨김 */
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden;
    margin: 10px 0;
}
.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 4.12rem; /* 70/17 = 4.12 */
    line-height: 1;
    font-weight: var(--bold-weight);
    white-space: nowrap; /* 1줄로 표현 */

    transform: translateY(100%);
    /*transform: translateY(50%);  100% -> 0으로 애니메이션 */
    transition: 0.5s;
    transition-delay: 0.8s;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0);
}
.visual .ctrl_wrap {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 18.8%;
    z-index: 10;
    display: flex;
}
.visual .ctrl_wrap button {
    border: 1px solid #fff;
    border-left-width: 0;
    width: 1.76em; /* 30/17=1.76 */
    height: 1.76em;
    background-repeat: no-repeat;
    background-position: center center;
}
.visual .ctrl_wrap button:first-child {
    border-left-width: 1px;
}
.visual .ctrl_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3333 15.5834C10.7375 15.5834 10.2274 15.3713 9.80313 14.947C9.37882 14.5227 9.16667 14.0126 9.16667 13.4167V2.58341C9.16667 1.98758 9.37882 1.47751 9.80313 1.05321C10.2274 0.628901 10.7375 0.416748 11.3333 0.416748C11.9292 0.416748 12.4392 0.628901 12.8635 1.05321C13.2878 1.47751 13.5 1.98758 13.5 2.58341V13.4167C13.5 14.0126 13.2878 14.5227 12.8635 14.947C12.4392 15.3713 11.9292 15.5834 11.3333 15.5834ZM2.66667 15.5834C2.07083 15.5834 1.56076 15.3713 1.13646 14.947C0.712153 14.5227 0.5 14.0126 0.5 13.4167V2.58341C0.5 1.98758 0.712153 1.47751 1.13646 1.05321C1.56076 0.628901 2.07083 0.416748 2.66667 0.416748C3.2625 0.416748 3.77257 0.628901 4.19688 1.05321C4.62118 1.47751 4.83333 1.98758 4.83333 2.58341V13.4167C4.83333 14.0126 4.62118 14.5227 4.19688 14.947C3.77257 15.3713 3.2625 15.5834 2.66667 15.5834Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play {
    display: none; /* 숨김 */
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12.175V1.82495C0 1.54162 0.1 1.30412 0.3 1.11245C0.5 0.920785 0.733333 0.824951 1 0.824951C1.08333 0.824951 1.17083 0.837451 1.2625 0.862451C1.35417 0.887451 1.44167 0.924951 1.525 0.974951L9.675 6.14995C9.825 6.24995 9.9375 6.37495 10.0125 6.52495C10.0875 6.67495 10.125 6.83328 10.125 6.99995C10.125 7.16662 10.0875 7.32495 10.0125 7.47495C9.9375 7.62495 9.825 7.74995 9.675 7.84995L1.525 13.025C1.44167 13.075 1.35417 13.1125 1.2625 13.1375C1.17083 13.1625 1.08333 13.175 1 13.175C0.733333 13.175 0.5 13.0791 0.3 12.8875C0.1 12.6958 0 12.4583 0 12.175Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .scroll_down {
    position: absolute; /* visual을 기준으로 정렬 */
    /* left: 50%;
    transform: translateX(-50%); */
    right: 20px;
    bottom: 18.8%;
    z-index: 10;
    color: #fff;
    transform: rotate(90deg) translate(-50%, -50%);
}
.visual .scroll_down::after {
    content: "";
    position: absolute;
    right: -0.8em;
    top: 0.42em;
    width: 0.3em;
    height: 0.5em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.665871 0.897173L3.88379 4.11509L0.665871 7.33301L0.192788 6.85992L2.93771 4.11509L0.192787 1.37026L0.665871 0.897173Z' fill='white'/%3E%3C/svg%3E%0A");

    animation-name: scroll_down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes scroll_down {
    0% { right: -0.8em; }
    50% { right: -1.5em; }
    100% { right: -0.8em; }
}
@media screen and (max-width:1300px){
    .visual .ctrl_wrap {
        left: 20px;
    }
}

@media screen and (max-width:1024px){
            .visual .swiper-slide.swiper-slide-active .photo img {
                transform: scale3d(1.05, 1.05, 1);
            }
            .visual .swiper-slide .txt_wrap {
                bottom: 33%;
            }
            .visual .swiper-slide .txt_wrap .txt.mobile {
                display: block; /* 나타남 */
            }
            .visual .swiper-slide .txt_wrap .txt.pc {
                display: none; /* 숨김 */
            }
            .visual .swiper-slide .txt_wrap .txt {
                margin: 5px 0;
            }
            .visual .swiper-slide .txt_wrap .txt p {
                font-size: 3rem; /* 40/16 = 2.5 */
                transition-delay: 0.6s;
            }
            .visual .ctrl_wrap {
                bottom: 25.75%;
            }
            .visual .ctrl_wrap button {
                border-left-width: 1px;
                border-radius: 50%;
            }
            .visual .ctrl_wrap button.btn_prev {
                display: none;
            }
            .visual .ctrl_wrap button.btn_next {
                display: none;
            }
            .visual .scroll_down {
                right: 0;
                bottom: 5%;
            }
}
@media screen and (max-width:768px){
        .visual .swiper-slide .txt_wrap .txt p {
            font-size: 2.5rem; /* 40/16 = 2.5 */
        }
}
/* title의 공통스타일 */
section .tit {
    margin: 9.82em 0 1.47em 0; /* 167px/17 = 9.82    25/17 = 1.47 */
}
section .tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    display: inline-block;
    padding: 0 0.53em 0 0; /* 9px/17 = 0.53 */
    position: relative; /* after 정렬의 기준 */
    margin: 0 0 0.59em 0;
}
section .tit strong::after {
    content: "";
    position: absolute;
    right: 0;
    top: -0.2em;
    width: 0.59em;
    height: 0.59em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--tit-ico);

}
section .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
}
@media screen and (max-width:768px){
    section .tit {
        margin: 7em 0 1.56em 0; /* 112px/16 = 7   25/16 = 1.56 */
    }
}/*@media*/
.biz .list ul {
    display: flex;
    gap: 1px;
}
.biz .list ul li {
    position: relative; /* txt 정렬의 기준 */
    width: 25%;
    transition: 0.5s;
} 
.biz .list ul li .more {
    display: none; /* 모바일에서만 나옴 */
} 
.biz .list ul li .photo {
    overflow: hidden;
    height: 41.18em;  /* 700px(높이)/17(글자크기) = 41.18 */
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0)); 
    
    transition: 0.3s;
}
.biz .list ul li .photo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;

    transition: 0.3s;
}
.biz .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li .txt {
    position: absolute;
    left: 5%;
    bottom: 1.65em;
    color: #fff;
    white-space: nowrap; /* 줄바꿈금지*/
    transition: 0.5s;
}
.biz .list ul li .txt h3 {
    font-size: 2.35rem; /* 40(글자크기)/17 = 2.35 */
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0.1em 0 0.13em 0; /* 4px/40 = 0.1   5px/40 =0.13 */
}
.biz .list ul li .txt a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 1em;
    padding: 0.18em 1.76em 0.18em 0.94em;
    position: relative; /* after 정렬의 기준 */
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li .txt a::after {
    content: "";
    position: absolute;
    right: 0.95em;
    top: 0.65em;
    width: 0.47em;
    height: 0.47em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.48734 0.512695V3.5127H7.48734V4.4873H4.48734V7.4873H3.51273V4.4873H0.512726V3.5127H3.51273V0.512695H4.48734Z' fill='white' stroke='white' stroke-width='0.025'/%3E%3C/svg%3E ");
}
@media screen and (min-width:1025px){
    /**************** 마우스를 오버 했을때 ********************/
    .biz .list ul li:hover {
        width: 70%;
    }
    .biz .list ul li:hover .txt {
        bottom: 3.53em; /* 60/17 = 3.53*/
    }
    .biz .list ul li:hover .txt a {
        opacity: 1;
    }
    .biz .list ul:hover li:not(:hover) .photo::before {
        opacity: 0;
    }
    .biz .list ul:hover li:not(:hover) .photo::after {
        opacity: 1;
    }
}/*@media*/
@media screen and (max-width:1024px){        
            .biz .list ul {
                display: block;
            }
            .biz .list ul li {
                width: auto;
            } 
            .biz .list ul li + li { /* 두번째 li부터 */
                margin-top: 0.63em;
            } 
            .biz .list ul li .more {
                display: block;
                position: absolute; /* li를 기준으로 정렬 */
                left: 0;
                top: 0;
                z-index: 101;
                width: 100%;
                height: 100%;
            }
            .biz .list ul li .photo { 
                height: 14.38em;  /* 230px(높이)/16(글자크기) = 14.38 */
            }
            .biz .list ul li .photo::before {
                height: 100%;
                background: rgba(0,0,0,0.3); 
            }
            .biz .list ul li .photo::after {
                display: none;
            }
            .biz .list ul li .txt {
                left: 10px;
                bottom: 0.94em; /* 15/16 = 0.94 */
            }
            .biz .list ul li .txt h3 {
                font-size: 1.75rem; /* 28(글자크기)/16 = 1.75 */
                margin: 0.07em 0 0 0; /* 2px/28 = 0.07 */
            }
            .biz .list ul li .txt a {
                display: none;
            }
            
}/*@media*/

.news .list {
    position: relative; 
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
}
@media screen and (max-width:1300px){ 
    .news .list {
        left: 20px;
        width: calc(100% - 40px);
    }
}/*@media*/
.news .list .swiper {
    overflow: visible; /* hidden 해제 */
}
.news .list .swiper-slide {
    width: 23.76em; /* 404px/17 = 23.76*/
}
.news .list .swiper-slide a {
    display: block;
}
.news .list .swiper-slide a .date {
    display: block;
    border-top: 2px solid var(--base-color);
    font-size: var(--tit-font-size);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    padding: 0.78em 0 0.33em 0; /* 35px/ 45 = 0.78    15px/45 = 0.33 */
    position: relative; /* before 정렬의 기준 */
}
.news .list .swiper-slide a .date::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 0;
    height: 4px;
    background-color: var(--point-color);
    transition: 1s;
}
.news .list .swiper-slide a:hover .date::before {
    width: 100%;
}
.news .list .swiper-slide a h3 {
    font-size: 1.47rem;
    font-weight: var(--bold-weight);
    color: var(--tit-color);
    line-height: var(--tit-line-height);

    /* 2줄제한 */
    height: 2.4em; /* 행간 * 줄수 = em(단위) */
    overflow: hidden;
    /* 길어서 짤리면 뒤에 ... 추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 줄수 */
    -webkit-box-orient: vertical;

    word-break: normal; /* 단어별 줄바꿈 해제 */
}
.news .list .swiper-slide a p {
    /* 3줄 제한 */
    height: 4.5em;
    overflow: hidden;
     /* 길어서 짤리면 뒤에 ... 추가 */
     display: -webkit-box;
     -webkit-line-clamp: 3; /* 줄수 */
     -webkit-box-orient: vertical;
     
    word-break: normal; /* 단어별 줄바꿈 해제 */

    margin: 1.12em 0 1.18em 0; /* 19px/17 = 1.12   */
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 9.88em;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .ctrl_wrap {
    margin: 2.24em 0 0 0;
}
.news .ctrl_wrap .wrapper {
    display: flex;
    justify-content: space-between;
}
.news .ctrl_wrap .group1 {
    position: relative; /* scrollbar 정렬의 기준 */
    width: calc(100% - 25.06em); /* 426/17 = 25.06 */
}
.news .ctrl_wrap .group1 .swiper-scrollbar {
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    background: #EDEDED;
}    
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag {
    background: #999;
}
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: var(--point-color);
}
.news .ctrl_wrap .group2 {
    display: flex;
    align-items: center;
    gap: 0.29em;
}
.news .ctrl_wrap .group2 .count {
    color: #888;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0.12em 0 0 0;
}
.news .ctrl_wrap .group2 .count .swiper-pagination-current {
    color: #666;
    font-weight: var(--bold-weight);
}
.news .ctrl_wrap .group2 .count .swiper-pagination-total {
    color: #666;
}
.news .ctrl_wrap .group2 .btn_prev,
.news .ctrl_wrap .group2 .btn_next {
    display: block;
    width: 1.53em;
    height: 1.53em;
    border: 1px solid #888;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.36672 7.00007L7.26672 11.9001C7.43338 12.0667 7.51394 12.2612 7.50838 12.4834C7.50283 12.7056 7.41672 12.9001 7.25005 13.0667C7.08338 13.2334 6.88894 13.3167 6.66672 13.3167C6.44449 13.3167 6.25005 13.2334 6.08338 13.0667L0.950049 7.95007C0.816715 7.81674 0.716715 7.66674 0.650049 7.50007C0.583382 7.33341 0.550049 7.16674 0.550049 7.00007C0.550049 6.83341 0.583382 6.66674 0.650049 6.50007C0.716715 6.33341 0.816715 6.18341 0.950049 6.05007L6.08338 0.91674C6.25005 0.750074 6.44727 0.669518 6.67505 0.675074C6.90283 0.680629 7.10005 0.76674 7.26672 0.933407C7.43338 1.10007 7.51672 1.29452 7.51672 1.51674C7.51672 1.73896 7.43338 1.93341 7.26672 2.10007L2.36672 7.00007Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.news .ctrl_wrap .group2 .btn_next {
    transform: rotate(180deg);
}
.news .ctrl_wrap .group2 .more {
    display: block;
    height: 1.53em;
    line-height: 1.53em;
    padding: 0 2em 0 0.94em;
    border: 1px solid #888;
    border-radius: 1.18em;
    position: relative; /* after 정렬의 기준 */
    margin: 0 0 0 0.18em;
}
.news .ctrl_wrap .group2 .more::after {
    content: "";
    position: absolute;
    right: 0.89em;
    top: 0.41em;
    width: 0.59em;
    height: 0.59em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33325 5.66732H0.333252V4.33398H4.33325V0.333984H5.66659V4.33398H9.66659V5.66732H5.66659V9.66732H4.33325V5.66732Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .news .list .swiper-slide {
        width: 17.5em; /* 280x/16 = 17.5*/
    }
    .news .list .swiper-slide a h3 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:768px){ 
            .news .list .swiper-slide {
                width: 17.5em; /* 280x/16 = 17.5*/
            }
            .news .list .swiper-slide a .date {
                padding: 0.54em 0 0.54em 0; /* 15px/ 28 = 0.54    15px/28 = 0.54 */
            }
            .news .list .swiper-slide a h3 {
                font-size: 1.06rem;/
            }
            .news .list .swiper-slide a p {
                margin: 0.94em 0 0.94em 0; /* 15px/16 = 0.94 */
            }
            .news .list .swiper-slide a .photo {
                height: 7.75em;
            }
            .news .ctrl_wrap {
                margin: 1.38em 0 0 0;
            }
            .news .ctrl_wrap .group1 {
                width: calc(100% - 6.25em); /* 100/16 = 6.25 */
            }
            .news .ctrl_wrap .group2 .count {
                display: none;
            }
            .news .ctrl_wrap .group2 .btn_prev,
            .news .ctrl_wrap .group2 .btn_next {
                display: none
            }
            
}/*@media*/

.service .list {
    background: url(../images/main/service01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 24.71em; /* 420px/17 = 24.71 */
    display: flex; /* ul을 list의 높이에 위아래 가운데 정렬 */
    align-items: center;
    transition: 0.5s;
}
.service .list[data-bg="bg1"] {
    background-image: url(../images/main/service02.jpg);
}
.service .list[data-bg="bg2"] {
    background-image: url(../images/main/service03.jpg);
}
.service .list[data-bg="bg3"] {
    background-image: url(../images/main/service04.jpg);
}
.service .list ul {
    display: flex;
    align-items: center;
    width: 100%; /* list가 flex의 영향으로 넓이가 필요 */ 
    padding: 0 3%;   
}
.service .list ul li {
    width: 33.34%;
    position: relative; /* before 정렬의 기준 */
}
.service .list ul li + li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 8.24em;
    background-color: rgba(255,255,255,0.5);
}
/* .service .list ul li a {
    display: block;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    backdrop-filter: blur(10px); 
 /* margin: 0 10%;
    padding: 2em 0; /* 위아래는 %가 안들어감 34/17 = 2  
}
*/
.service .list ul li a {
    display: block;
    margin: 0 10%;
    padding: 2em 0;
}
.service .list ul li a h3 {
    font-size: 1.76rem;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 0.5em 0;
}
.service .list ul li a .more {
    display: none;
    line-height: var(--tit-line-height);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1em;
    padding: 0.29em 2.35em 0.29em 0.94em;
    position: relative;
    margin: 0.82em 0 0 0;
}
.service .list ul li a .more::after {
    content: "";
    position: absolute;
    right: 1.18em;
    top: 0.54em;
    width: 0.59em;
    height: 0.59em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.65466 0.345703V4.3457H9.65466V5.6543H5.65466V9.6543H4.34607V5.6543H0.346069V4.3457H4.34607V0.345703H5.65466Z' fill='white' stroke='white' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
.service .list ul li a:hover .more {
    display: inline-block;
}
@media screen and (max-width:768px){
        .service .list ul li a h3 {
            font-size: 1.6rem;
        }
        .service .list ul li a p {
            display: none;
        }        
        .service .list ul li a .more {
            display: inline-block;
            margin: 0;
        }
}
@media screen and (max-width:768px){
            .service .list {
                height: auto; 
                display: block; 
            }        
            .service .list ul {
                display: block;
                width: auto; /* list가 flex의 영향으로 넓이가 필요 */ 
                padding: 0;   
            }
            .service .list ul li {
                width: auto;
            }
            .service .list ul li + li::before {
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                width: 8.5em;
                height: 1px;
            }
            .service .list ul li a {
                display: inline-block;
                margin: 0;
                padding: 4.13em 0;
            }
            .service .list ul li a h3 {
                font-size: 1.56rem;
                margin: 0 0 0.75em 0;
            }
            .service .list ul li a p br {
                display: none;
            }
            .service .list ul li a .more {
                border: 0;
                padding: 0 0.88em 0 0;
            }
            .service .list ul li a .more::after {
                right: 0.13em;
                top: 50%;
                transform: translateY(-50%);
                width: 0.44em;
                height: 0.44em;
            } 
}